{% extends "layouts/base_shop.html" %}
{% load i18n static shop_impressions %}

{% block title %}{{ collection.name }} - {{ collection.gender|capfirst }} - Nawoka{% endblock %}

{% block datalayer_push %}
    <script>
        dataLayer.push({
            "ecommerce": {
                "impressions": JSON.parse('{% impressions_for_shop queryset=products %}')
            },
            "event": "productImpressions"
        })
    </script>
{% endblock %}

{% block structured_data %}
    {% include "includes/products/seo.html" %}
{% endblock %}

{% block container %}
    <section class="text-center mt-6 mb-4" id="products">
        {% if collection.show_presentation %}
            <!-- Presentation -->
            <div class="card blue lighten-1">
                <div class="card-body">
                    <h1 class="center collection-presentation-text">{{ collection.name }}</h1>
                    <p>
                        {{ collection.presentation_text }}
                    </p>
                </div>
            </div>
        {% endif %}

        <!-- Breadcrumb -->
        <div class="row">
            <div class="col-12">
                <div class="wow fadeIn">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a href="{% url 'shop:home' %}">
                                    {% trans "Accueil" %}
                                </a>
                            </li>
                            <li class="breadcrumb-item">
                                <a href="{{ collection.get_shop_gender_url }}">
                                    {% trans collection.gender %}
                                </a>
                            </li>
                            <li class="breadcrumb-item">
                                {{ collection.name }}
                            </li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>

        <!-- Filter Bar -->
        {% include "includes/products/filterbar.html" %}

        <!-- Cards -->
        <div class="row wow fadeIn">
            {% comment "Vue JS type cards" %}
                {% for product in products %}
                    {% include "includes/products/cards/card1.html" %}
                {% endfor %}                    
            {% endcomment %}

            {% include "vue/components/cards/card1.html" %}
        </div>
    </section>
    
    <!-- Pagination -->
    {% include "includes/products/pagination.html" %}
{% endblock %}

{% block extra_scripts %}
    <script>
        var CardClick = function (index, name, price, reference) {
            dataLayer.push({
                "event": "productClick",
                "ecommerce": {
                    "click": {
                        "actionField": {
                            "list": "{{ collection.gender }}/{{ collection.name }}"
                        },
                        "products": [{
                            "id": reference,
                            "name": name,
                            "price": price,
                            "brand": "Nawoka",
                            "category": "{{ collection.name }}",
                            "position": index
                        }]
                    }
                }
            });
        }
    </script>

    <script>
        $(document).ready(function () {
            // Filterbar
            var links = $("#filter-bar").find("li")

            links.first().addClass("active")

            var url = new URL(window.location.href)
            var currentparam = url.searchParams.get("category")

            links.each(function (index) {
                var category = $(links[index]).find("a").data("category")

                if (category !== undefined) {
                    if (category.includes(currentparam)) {
                        $(links[index]).removeClass("active").addClass("active")
                    } else {
                        $(links[index]).removeClass("active")
                    }
                } else {
                    $(links[0]).addClass("active")
                }
            });
        });
    </script>
{% endblock %}

{% block vuejs_scripts %}
    <!-- App -->
    {% include "vue/products_app.html" %}
{% endblock %}
