{% extends "pages/base_shop.html" %}
{% load static aws_images %}

{% block title %}Collections pour {{ collection.gender|default:"femme" }} - Nawoka{% endblock %}

{% block extra_css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'images_grid.css' %}">
{% endblock %}

{% block container %}
    <section class="collections">
        <div class="row wow fadeIn">
            {% include "project_components/headers/picture.html" with image="banner1.jpg" alt="mywebsite-shop" %}
        </div>

        <div class="row wow fadeIn mt-4">
            {% for collection in collections %}
                <div class="col-md-4">
                    <a href="{% url 'shop:collection' collection.gender collection.view_name %}" id="link_collection_item">
                        <img src="/media/{{ collection.image }}" class="img-fluid" alt="Nawoka {{ collection.view_name }}">
                        <h5 class="text-center black-text mt-3 font-weight-bold">
                            {{ collection.name }}
                        </h5>
                    </a>
                </div>
            {% endfor %}
        </div>
    </section>
{% endblock %}
