{% extends "layouts/base_shop.html" %}
{% load i18n aws_images static %}

{% block title %}{% trans "Boutique" %} - Nawoka{% endblock %}

{% block extra_css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'images_grid.css' %}">
{% endblock %}

{% block container %}
    <section class="collections mt-6">
        <div class="row wow fadeIn">
            <div class="row wow fadeIn">
                <a href="">
                    {% include "project_components/headers/picture.html" with image_src="collections/image_3.jpg" alt="mywebsite shop" %}
                </a>
            </div>
            
            {% comment %}
            <div class="row wow fadeIn mt-3">
                <a href="{% url 'shop:gender' 'men' %}" class="disabled">
                    {% include "components/headers/picture.html" with image="" alt="mywebsite shop" %}
                </a>
            </div>                
            {% endcomment %}
        </div>
    </section>
{% endblock %}
