{% extends "pages/base_shop.html" %}
{% load aws_images static %}

{% block title %}Boutique - Nawoka{% endblock %}

{% block extra_css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'images_grid.css' %}">
{% endblock %}

{% block container %}
    <section class="collections">
        <div class="row wow fadeIn">
            <div class="row wow fadeIn">
                <a href="{% url 'shop:gender' 'femme' %}">
                    {% include "project_components/headers/picture.html" with image="banner1.jpg" alt="mywebsite shop" %}
                </a>
            </div>

            {% comment %}
            <div class="row wow fadeIn mt-3">
                <a href="{% url 'shop:gender' 'homme' %}" class="disabled">
                    {% include "components/headers/picture.html" with image="banner1.jpg" alt="mywebsite shop" %}
                </a>
            </div>                
            {% endcomment %}
        </div>
    </section>
{% endblock %}
