{% extends 'base_site.html' %}
{% load static aws_images %}

{% block extra_css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'css/transition.css' %}">
    <link rel="stylesheet" href="{% static 'css/cards.css' %}">
    <link rel="stylesheet" href="{% static 'css/dropdowns.css' %}">
    <link rel="stylesheet" href="{% static 'css/ecommerce.css' %}">
    <link rel="stylesheet" href="{% static 'css/banners.css' %}">
{% endblock %}

{% block navbar %}
    {% include "project_components/navs/nav.html" %}
{% endblock %}

{% block description %}
    {% if product %}
        {{ product.description }}
    {% else %}
        Découvrez les dernières tendances mode pour {{ collection.gender }} et beauté chez Nawoka. 
        Achetez nos meilleurs collections de vêtements, chaussures et plus encore.
    {% endif %}
{% endblock %}

{% block twitter_card %}
    {% if product %}
        {{ product.description }}
    {% else %}
        Découvrez toute notre collection pour {{ collection.gender }} et plus encore
    {% endif %}
{% endblock %}

{% block og_title %}
    {% if product %}
        {{ product.name }}
    {% else %}
        Découvrez les dernières tendances mode pour {{ collection.gender }}.
    {% endif %}
{% endblock %}


{% block og_description %}
    {% if product %}
        {{ product.description }}
    {% else %}
        Découvrez les dernières tendances mode pour {{ collection.gender }} et beauté chez Nawoka. 
        Achetez nos meilleurs collections de vêtements, chaussures et plus encore.
    {% endif %}
{% endblock %}

{% block og_image %}
    {% if product %}
        {{ product.get_main_image_url }}
    {% else %}
        {% build_aws_image_url 'hero1.jpg' %}
    {% endif %}
{% endblock %}

{% block og_image_alt %}
    {{ product.slug|default:"Nawoka" }}
{% endblock og_image_alt %}

{% block share_metatags %}
    <meta name="twitter:site" content="@mywebsitefashion" />
    <meta name="twitter:creator" content="@mywebsitefashion" />
{% endblock %}

{% if product %}
    {% block extra_metatags %}
        <link rel="canonical" href="{{ product.get_absolute_url }}">
    {% endblock %}
{% endif %}

{% block footer %}
    {% include "project_components/navs/footer.html" %}
{% endblock %}

{% block vuejs_scripts %}
    <!-- GLOBAL-->
    {% include "vue/shop_global.html" %}
{% endblock %}


{% block extra_scripts %}
    <script>
        var cardClick = function (index, name, price, reference) {
            dataLayer.push({
                "event": "productClick",
                "ecommerce": {
                    "click": {
                        "actionField": {
                            "list": "More/{{ product.collection.name }}"
                        },
                        "products": [{
                            "id": reference,
                            "name": name,
                            "price": price,
                            "brand": "Nawoka",
                            "category": "{{ collection.name }}",
                            "position": index
                        }]
                    }
                }
            })
        }
    </script>
{% endblock %}
