{% extends "../customer_service.html" %}

{% block faq_content %}
<ul class="collapsible">
    <li>
        <div class="collapsible-header">
            DEVRAIS-JE PAYER DES DROITS DE DOUANE ET D’IMPORTATION ?
        </div>
        <div class="collapsible-body">
            <span>
                Nous avons ce qu'il vous faut ! Nous acceptons les cartes de paiement suivantes : Visa, Mastercard, 
                Maestro et Électron. Nous n'acceptons pas pour l'instant les paiements par PayPal.
            </span>
    </div>
    </li>
    <li>
        <div class="collapsible-header">
            À quelle heure mon colis sera-t-il livré ?
        </div>
        <div class="collapsible-body">
            <span>
                Les livraisons sont effectuées entre 08h00 et 21h00.
            </span>

        </div>
    </li>
    <li>
        <div class="collapsible-header">
            PUIS-JE ÊTRE LIVRÉ À UNE ADRESSE DIFFÉRENTE DE MON ADRESSE DE FACTURATION ?
        </div>
        <div class="collapsible-body">
            <span>
                Navrés d'apprendre que vous n'avez pas reçu une partie de votre commande ! Notez que pendant 
                la période allant de juillet à septembre, il est possible que votre commande arrive en deux parties.
                <br><br>
                S'il vous manque une partie de votre commande, pourriez-vous vérifier :
                <br><br>
                Le mail d'envoi de votre commande car si l'arrivée de votre commande est prévue en plusieurs fois, 
                le mail d'envoi inclut seulement une partie des articles que vous avez commandés, vous recevrez ensuite 
                un autre mail d'envoi de commande. De plus, vous recevrez plusieurs numéros de suivi.
                <br><br>
                Le reçu/la facture à l'intérieur du paquet qui indique les articles contenus dans le colis. Si tous les articles indiqués sur la facture sont dans le colis, vous recevrez le reste de votre commande séparément.
                L'emballage de votre colis PLT, si vos articles sont envoyés en plusieurs colis vous trouverez un autocollant sur le sac pour vous indiquer que votre commande arrivera séparément.
                Si vous n'avez pas reçu tous les articles de votre commande et qu'ils sont inscrits dans 
                votre email de confirmation d'envoi et la facture, prenez contact avec notre service client ICI. 
                Assurez-vous de nous indiquer votre numéro de commande ainsi que les articles manquants.
            </span>
        </div>
    </li>
    <li>
        <div class="collapsible-header">
            Dois-je signer à la réception de ma commande ?
        </div>
        <div class="collapsible-body">
            <span>
                Nous savons qu'il est possible que vous ne soyez pas chez vous pour signer à la réception 
                de votre colis, c’est pourquoi il pourra être déposé dans un endroit sûr ou chez un voisin. 
                Sachez que l’ensemble des instructions que vous avez laissées ne sont que des 
                demandes et ne peuvent être garanties. Si elles ne sont pas réalisables, 
                nous laisserons une carte d’appel qui comprendra les informations nécessaires à 
                l'organisation d'une nouvelle livraison.
            </span>
        </div>
    </li>
    <li>
        <div class="collapsible-header">
            Que faire si mon colis n'arrive pas ?
        </div>
        <div class="collapsible-body">
            <span>
                Vous pouvez suivre l’état de votre commande ici. Si vous ne pouvez 
                pas consulter l’état de votre commande, veuillez nous contacter et nous vous 
                répondrons dès que possible.
            </span>
        </div>
    </li>
</ul>
{% endblock %}