{% extends "../customer_service.html" %}
{% load i18n %}

{% block title %}{% trans "Mes commandes" %}{% endblock %}

{% block faq_content %}
    <ul class="collapsible">
        <li>
            <div class="collapsible-header">
                Comment puis-je payer ma commande ?
            </div>
            <div class="collapsible-body">
                <span>
                    Nous avons ce qu'il vous faut ! Nous acceptons les cartes de paiement suivantes : Visa, Mastercard, 
                    Maestro et Électron. Nous n'acceptons pas pour l'instant les paiements par PayPal.
                </span>
        </div>
        </li>
        <li>
            <div class="collapsible-header">
                Dois-je payer des frais de douanes pour ma commande ?
            </div>
            <div class="collapsible-body">
                <span>
                    Nawoka n’est malheureusement pas en mesure d’indiquer les charges qui peuvent 
                    s’appliquer aux clients pour les envois internationaux. Toute charge s’applique en 
                    fonction du transporteur, des lois locales et des frais de douanes. Ces frais devront être pris 
                    en charge par le client et ne seront pas couverts par Nawoka. 
                    Pour plus d’information, nous vous invitons à prendre contact avec votre bureau local 
                    de douanes afin de savoir si des charges supplémentaires vous sont demandées.
                </span>

            </div>
        </li>
        <li>
            <div class="collapsible-header">
                Que faire si je n'ai pas reçu une partie de commande ?
            </div>
            <div class="collapsible-body">
                <span>
                    Navrés d'apprendre que vous n'avez pas reçu une partie de votre commande ! Notez que pendant 
                    la période allant de juillet à septembre, il est possible que votre commande arrive en deux parties.
                    <br><br>
                    S'il vous manque une partie de votre commande, pourriez-vous vérifier :
                    <br><br>
                    Le mail d'envoi de votre commande car si l'arrivée de votre commande est prévue en plusieurs fois, 
                    le mail d'envoi inclut seulement une partie des articles que vous avez commandés, vous recevrez ensuite 
                    un autre mail d'envoi de commande. De plus, vous recevrez plusieurs numéros de suivi.
                    <br><br>
                    Le reçu/la facture à l'intérieur du paquet qui indique les articles contenus dans le colis. Si tous les articles indiqués sur la facture sont dans le colis, vous recevrez le reste de votre commande séparément.
                    L'emballage de votre colis PLT, si vos articles sont envoyés en plusieurs colis vous trouverez un autocollant sur le sac pour vous indiquer que votre commande arrivera séparément.
                    Si vous n'avez pas reçu tous les articles de votre commande et qu'ils sont inscrits dans 
                    votre email de confirmation d'envoi et la facture, prenez contact avec notre service client ICI. 
                    Assurez-vous de nous indiquer votre numéro de commande ainsi que les articles manquants.
                </span>
            </div>
        </li>
    </ul>
{% endblock %}