{% extends "../customer_service.html" %}

{% block faq_title %}Retours{% endblock %}

{% block faq_content %}
<ul class="collapsible">
    <li>
        <div class="collapsible-header">
            <i class="material-icons">filter_drama</i>
            Quelle est notre politique de retours ?
        </div>
        <div class="collapsible-body">
            Les articles doivent être retournés dans les 28 jours suivant la réception de votre commande..
            Vous ne devez pas avoir porté ou lavé les articles.
            Les produits de beauté, les bijoux pour emplacements percés ou les maillots de bain (si la protection hygiénique a été retirée) ne peuvent être retournés pour des raisons de santé et d’hygiène.
            Nous ne pouvons pas rembourser les bijoux pour emplacements percés ou les maillots de bain si la protection hygiénique a été retirée, déplacée ou endommagée.
            Vous devez essayer les chaussures à l’intérieur.
            L’ensemble des étiquettes de l’article doivent y être encore attachées.
            Vous ne pouvez pas retourner les produits et accessoires de beauté.
            Tous les retours sont effectués à votre charge. Vous devez toutefois conserver votre preuve d’envoi jusqu’à réception de votre remboursement, au cas où votre commande se perdrait en chemin vers PrettyLittleThing.
        </div>
    </li>
    <li>
        <div class="collapsible-header"><i class="material-icons">place</i>Second</div>
        <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
    </li>
    <li>
        <div class="collapsible-header"><i class="material-icons">whatshot</i>Third</div>
        <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
    </li>
</ul>
{% endblock %}
