{# Create a more general form by removing the imagescomponent so that we can implement the form to the creation of any item #}
{% load i18n %}

<script>
    var mixin = {
        methods: {
            reset: function () {
                _.forEach(this.$props.fields, (field) => {
                    field.checked = false
                })
            },
            show: function () {
                this.reset()
                this.$props.field.checked = !this.$props.field.checked
                this.$emit("show")
            }
        }
    }

    Vue.component("input-radio", {
        props: ["field", "fields"],
        delimiters: ["[[", "]]"],
        mixins: [mixin],
        template: `
        <div class="custom-control custom-radio">
            <input @click="show" :id="field.id" :value="field.value" 
                :checked="field.checked" type="radio" name="automatic" class="custom-control-input">

            <label class="custom-control-label" :for="field.id">
                [[ field.label ]]
            </label>
        </div>
        `
    })

    var conditionscomponent = {
        name: "ConditionFields",
        delimiters: ["[[", "]]"],
        template: `
        <div class="form-group">
            <input-radio @show="doshow" v-for="field in fields" 
                    :key="field.id" v-bind:field="field" v-bind:fields="fields">
            </input-radio>
        </div>
        `,
        data() {
            return {
                fields: [
                    {id: "automatic1", label: "{% trans 'Manuel' %}", value: true, checked: true},
                    {id: "automatic2", label: "{% trans 'Automatique' %}", value: false, checked: false}, 
                ],
            }
        },
        methods: {
            doshow: function () {
                this.$emit("doshow")
            }
        }
    }

    var submitformbutton = {
        props: ["images"],
        name: "SubmitButton",
        delimiters: ["[[", "]]"],
        template: `
        <button @click.prevent="submitform" type="submit" class="btn btn-large btn-primary float-right pull-left" :disabled="showspinner">
            <div v-if="showspinner" class="spinner-border spinner-border-sm text-white" role="status">
                <span class="sr-only">Loading...</span>
            </div>
            <span v-else>{% trans "Sauvegarder" %}</span>
        </button>
        `,
        data() {
            return {
                showspinner: false
            }
        },
        methods: {
            submitform: function() {
                var self = this
                var form = $("#general_form")
                var formdata = new FormData()

                setTimeout(() => {
                    self.$data.showspinner = true
                    form.submit()
                }, 1000);
            }
        }
    }

    var formapp = new Vue({
        el: "#general_form",
        name: "FormApp",
        delimiters: ["[[", "]]"],
        components: {submitformbutton, conditionscomponent},
        data() {
            return {
                fieldsdata: {
                    value: 0,
                    // usage_limit: 0,
                    // minimumquantity: 0,
                    // minimumpurchase: 0,
                },

                onallorder: true,
                oncollection: false,

                showquantity: false,
                showsize: false,
                showdiscount: false,

                nonevaluecheck: false,
                minimumvaluecheck: false,
                minimumquantitycheck: false,

                showlimittotal: false,
                showlimittobuyer: false,
                
                conditionscheck: false,
            }
        },
        beforeMount() {
            this.$data.fieldsdata.value = "{{ form.value.value }}"
        },
        computed: {
            oncollectionvalue() {
                return this.$data.onallorder ? true : false
            },
            checkdiscountvalue() {
                if (this.$data.fieldsdata.value === "") {
                    return 0
                }

                if (this.$data.fieldsdata.value < 5) {
                    return 5
                }

                if (this.$data.fieldsdata.value > 70) {
                    return 80
                }

                return this.$data.fieldsdata.value
            },
            collectiondisplaytext() {
                if (this.$data.oncollection) {
                    return "une collection"
                } else {
                    return "toute la commande"
                }
            }
        },
        methods: {
            showconditions: function () {
                this.$data.conditionscheck = !this.$data.conditionscheck
            }
        }
    }) 
</script>
