<script>
    Vue.component("image-component", {
        template: `
        <div class="col-6 p-0 pr-1">
            <slot></slot>
        </div>
        `
    })
    
    var imagescomponent = {
        props: ["images"],
        name: "AddImage",
        template: `
        <div class="row">
            <div class="col-8 pl-0 pr-1">
                <img :src="mainimage" class="img-fluid">
            </div>
            <div class="col-4">
                <div class="row">
                    <image-component>
                        <img :src="firstimage" class="img-fluid">
                    </image-component>
                    <image-component>
                        <img :src="firstimage" class="img-fluid">
                    </image-component>
                </div>
            </div>
        </div>
        `,
        data() {
            return {
                placeholder: "https://via.placeholder.com/600"
            }
        },
        computed: {
            secondimage() {
                var image = this.$props.images[2]
                return image != undefined ? image.url : this.$data.placeholder
            },
            firstimage() {
                var image = this.$props.images[1]
                return image != undefined ? image.url : this.$data.placeholder
            },
            mainimage() {
                var image = this.$props.images[0]
                return image != undefined ? image.url : this.$data.placeholder
            }
        }
    }

    var imagesapp = new Vue({
        el: "#images_app",
        data() {
            return {
                variable: undefined
            }
        },
        computed: {
            hasimages() {
                return this.$data.images.length > 0
            }
        },
        methods: {
            dopreflight: function(url) {
                var self = this
                var promise = new Promise((resolve, reject) => {
                    var formdata = new FormData()
                    formdata.append("method", "preflight-image-url")
                    formdata.append("csrfmiddlewaretoken", self.$data.csrf)
                    formdata.append("url", self.$data.href)

                    var xhr = new XMLHttpRequest()
                    xhr.responseType = "json"
                    xhr.onload = () => {
                        if (xhr.status === 200) {
                            resolve(xhr.response)
                        }
                        if (xhr.status === 400 | xhr.status === 500) {
                            reject("An error occured")
                        }
                    }
                    xhr.open("POST", "{% url 'dashboard_preflight_create' %}")
                    xhr.send(formdata)
                })
                promise.then((response) => {
                    // console.log(response)
                    if (response.state === true) {
                        self.pushimage()
                    }
                })
                promise.catch((reason) => {
                    window.location.reload()
                })
            },
            pushimage: function() {
                console.log("Show image")
                this.$data.images.push(this.$data.href)
                // this.$data.href = ""
                // var cursor = this.$data.cursor
                // var image = {
                // 	id: cursor,
                // 	url: this.$data.href
                // }

                // // this.$data.href = ""

                // if (cursor <= 2 & !this.$data.hasthreeimages) {
                // 	this.changecursor()
                // 	this.$data.images.push(image)
                // }

                // if (cursor <= 2 & this.$data.hasthreeimages == true) {
                // 	this.$data.images[cursor]["url"] = this.$data.href
                // 	this.changecursor()
                // }
                
                // if (cursor > 2) {
                // 	this.$data.images[cursor]["url"] = this.$data.href
                // 	this.$data.images.hasthreeimages = true
                // 	this.changecursor()
                // }
            },
            changecursor: function() {
                // if (this.$data.cursor <= 2) {
                //     this.$data.cursor = this.$data.cursor + 1
                // }

                // if (this.$data.cursor > 2) {
                //     this.$data.cursor = 0
                // }
            }
        }
    })
</script>
