{% extends "components/others/tables/base.html" %}
{% load table i18n %}

{% block table_header %}
    {% header "ID" "Code" "Valeur" "Date de fin" %}
    <th colspan="3"></th>
{% endblock %}

{% block table_body %}
    {% for coupon in coupons %}
        <tr>
            <td scope="row">{{ coupon.id }}</td>
            <td class="bootrstrap-link">
                <a href="{% url 'dashboard:coupons:update' coupon.id %}">{{ coupon.code }}</a>
            </td>
            <td>{{ coupon.value }}</td>
            <td>{{ coupon.end_date }}</td>
        </tr>
    {% empty %}
        <td class="text-center font-weight-bold" colspan="5">
            {% trans "Vous n'avez pas encore de coupons" %}
        </td>
    {% endfor %}
{% endblock %}
