{% extends "base.html" %}
{% load i18n aws_images %}

{% block title %}{% trans "Service client" %}{% endblock %}

{% block navbar %}
    {% include "navs/nav.html" %}
{% endblock %}

{% block share_metatags %}
    <meta name="twitter:card" content="Service client Nawoka" />
    <meta name="twitter:site" content="@nawokafashion" />
    <meta name="twitter:creator" content="@nawokafashion" />

    <meta property="og:url" content="{{ request.build_absolute_uri }}" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Nawoka: Pour répondre au mieux à votre demande, notre service client
    est disponible 5 jours sur 7" />
    
    {% block og_description %}
        <meta property="og:description" content="Nawoka: Pour répondre au mieux à votre demande, notre service client
        est disponible 5 jours sur 7" />
    {% endblock %}

    <meta property="og:image" content="{% create_aws_image_url 'banner8.jpg' %}" />
    <meta property="og:image:type" content="image/jpeg" />
    <meta property="og:image:height" content="1200">
    <meta property="og:image:width" content="800">
    <meta property="og:image:alt" content="Nawoka" />
{% endblock %}


{% block container %}
    <section class="section" id="customer-service">
        <div class="row wow fadeIn">
            {% include "components/headers/picture.html" with image="banner8.jpg" alt="customer care" %}
        </div>
        <div class="row wow fadeIn mt-3">
            {% for link in links %}
                <div class="col-4">
                    <a href="{% url 'customer_care_additional_pages' link.page %}">
                        <div class="card grey lighten-4">
                            <div class="card-body">
                                <i class="material-icons" style="font-size: 44px;">{{ link.icon }}</i>
                                <h5>{{ link.title }}</h5>
                            </div>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
    </section>

    <section class="section">
        <div class="card yellow lighten-4 mt-3 mb-5">
            <div class="card-body">
                <!-- TITLE -->
                {% block faq_title %}{% endblock %}
                <!-- CONTENT -->
                {% block faq_content %}{% endblock %}
            </div>
        </div>
    </section>

    <section class="section center mt-3" id="help">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-12">
                        <h4>Besoin d'aide ?</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-md-6 col-lg-6">
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-6">
                    </div>
                </div>
            </div>
        </div>

        <div id="modal1" class="modal">
            <div class="modal-content">
                <h5>Email</h5>
                <div class="input-field">
                    <select name="reason" id="reason">
                        <option value="Où est ma commande ?">Où est ma commande ?</option>
                        <option value="Réclamation - un produit manquant">Réclamation - un produit manquant</option>
                        <option value="Demande de remboursement">Demande de remboursement</option>
                        <option value="Requête au sujet du paiement">Requête au sujet du paiement</option>
                        <option value="Quand est-ce que je vais recevoir mon remboursement">Quand est-ce que je vais recevoir mon remboursement</option>
                        <option value="Autres">Autres</option>
                    </select>
                </div>
                <div class="input-field">
                    <input type="text" name="commande" id="commande" placeholder="N° de commande" autocomplete="off">
                </div>
                <div class="input-field">
                    <textarea name="content" id="content" cols="30" rows="10" style="height: 300px;"></textarea>
                </div>

                {# {% include "../general/components/modal_link.html" with btn_type="btn-large" id="btn_envoyer_email" color="green darken-1" extra_class="z-depth-0" icon_name="email" link_name="Consulter le FAQ" %} #}
                {# {% include "../general/components/button_link.html" with url_name="contact_us" btn_type="btn-large" id="btn_envoyer_email" color="green darken-1" extra_class="z-depth-0" icon_name="email" link_name="Envoyer un message" %} #}
            </div>
        </div>
    </section>
{% endblock %}

{% block footer %}
    {% include "navs/footer.html" %}
{% endblock %}
