<script>
    var unlinkimage = {
        template: "\
        <a @click='unlink' class='fa fa-unlink'></a>\
        ",
        methods: {
            unlink: function() {
                this.$emit("unlink", "unlinkmainimage")
            }
        }
    }

    var maincardactions = new Vue({
        el: "#main_card_actions",
        components: {unlinkimage},
        data() {
            return {
            }
        },
        methods: {
            sendrequest: function(method) {
                var formdata = new FormData()
                formdata.append("csrfmiddlewaretoken", csrf)
                formdata.append("method", method)
                var xhr = new XMLHttpRequest()
                xhr.onloadend = function() {window.location.reload()}
                xhr.open("POST", window.location.href)
                xhr.send(formdata)
            }
        }
    })
</script>
