{% extends "components/benefits/sections/left.html" %}


{% block section_title %}Material Design for Bootstrap{% endblock %}

{% block section_image %}
    https://mdbootstrap.com/img/Marketing/mdb-press-pack/mdb-main.jpg
{% endblock %}

{% block section_content %}
    <p>
        This template is created with Material Design for Bootstrap (
        <strong>MDB</strong> ) framework.
    </p>

    <p>Read details below to learn more about MDB.</p>

    <hr>

    <p>
        <strong>400+</strong> material UI elements,
        <strong>600+</strong> material icons,
        <strong>74</strong> CSS animations, SASS files, templates, tutorials and many more.
        <strong>Free for personal and commercial use.</strong>
    </p>

    <a target="_blank" href="https://mdbootstrap.com/docs/jquery/getting-started/download/" class="btn btn-indigo btn-md">
        Download
        <i class="fas fa-download ml-1"></i>
    </a>

    <a target="_blank" href="https://mdbootstrap.com/docs/jquery/components/" class="btn btn-indigo btn-md">
        Live demo
        <i class="far fa-image ml-1"></i>
    </a>
{% endblock %}
