{% extends "components/benefits/sections/distributed.html" %}

{% block section_title %}Not enough?{% endblock %}

{% block section_left_content %}
    <div class="row">
        <div class="col-2">
            <i class="fas fa-check-circle fa-2x indigo-text"></i>
        </div>
        <div class="col-10">
            <h6 class="feature-title">Free for personal and commercial use</h6>
            <p class="grey-text">Our license is user-friendly. Feel free to use MDB for both private as
                well as commercial projects.
            </p>
            <div style="height:15px"></div>
        </div>
    </div>
    
    <div class="row">
        <div class="col-2">
            <i class="fas fa-check-circle fa-2x indigo-text"></i>
        </div>
        <div class="col-10">
            <h6 class="feature-title">400+ UI elements</h6>
            <p class="grey-text">An impressive collection of flexible components allows you to develop
                any project.
            </p>
            <div style="height:15px"></div>
        </div>
    </div>
    
    <div class="row">
        <div class="col-2">
            <i class="fas fa-check-circle fa-2x indigo-text"></i>
        </div>
        <div class="col-10">
            <h6 class="feature-title">600+ icons</h6>
            <p class="grey-text">Hundreds of useful, scalable, vector icons at your disposal.</p>
            <div style="height:15px"></div>
        </div>
    </div>
    
    <div class="row">
        <div class="col-2">
            <i class="fas fa-check-circle fa-2x indigo-text"></i>
        </div>
        <div class="col-10">
            <h6 class="feature-title">Fully responsive</h6>
            <p class="grey-text">It doesn't matter whether your project will be displayed on desktop,
                laptop, tablet or mobile phone. MDB
                looks great on each screen.</p>
            <div style="height:15px"></div>
        </div>
    </div>
{% endblock %}

{% block section_media %}
    <img src="https://mdbootstrap.com/img/Others/screens.png" alt="MDB Magazine Template displayed on iPhone" class="z-depth-0 img-fluid">
{% endblock %}

{% block section_right_content %}
    <div class="row">
        <div class="col-2">
            <i class="fas fa-check-circle fa-2x indigo-text"></i>
        </div>
        <div class="col-10">
            <h6 class="feature-title">70+ CSS animations</h6>
            <p class="grey-text">Neat and easy to use animations, which will increase the interactivity
                of your project and delight your visitors.
            </p>
            <div style="height:15px"></div>
        </div>
    </div>

    <div class="row">
        <div class="col-2">
            <i class="fas fa-check-circle fa-2x indigo-text"></i>
        </div>
        <div class="col-10">
            <h6 class="feature-title">Plenty of useful templates</h6>
            <p class="grey-text">Need inspiration? Use one of our predefined templates for free.</p>
            <div style="height:15px"></div>
        </div>
    </div>

    <div class="row">
        <div class="col-2">
            <i class="fas fa-check-circle fa-2x indigo-text"></i>
        </div>
        <div class="col-10">
            <h6 class="feature-title">Easy installation</h6>
            <p class="grey-text">5 minutes, a few clicks and... done. You will be surprised at how easy
                it is.
            </p>
            <div style="height:15px"></div>
        </div>
    </div>

    <div class="row">
        <div class="col-2">
            <i class="fas fa-check-circle fa-2x indigo-text"></i>
        </div>
        <div class="col-10">
            <h6 class="feature-title">Easy to use and customize</h6>
            <p class="grey-text">Using MDB is straightforward and pleasant. Components flexibility
                allows you deep customization. You will
                easily adjust each component to suit your needs.</p>
            <div style="height:15px"></div>
        </div>
    </div>
{% endblock %}
