{# List of scripts for the product page shopping section #}
<script>
    Vue.component("select-component", {
        template: "\
        <select class='custom-select custom-select-md mb-3'>\
            <slot></slot>\
        </select>\
        "
    })

    Vue.component("product-button", {
        template: "\
        <button class='btn btn-large btn-md my-0'>\
            <slot></slot>\
        </button>\
        "
    })

    var imagescomponent = {
        props: ["images"],
        name: "SideImages",
    }

    var sizecomponent = {
        props: ["sizes", "initvalue"],
        name: "SizeSelector",
        delimiters: ["[[", "]]"],
        template: "\
        <select-component @change='selectsize' v-if='hassizes' v-model='selectedsize' name='size' id='size'>\
            <option v-for='size in sizes' :key='size.id' :value='size.name'>\
                <slot>\
                    [[ size.name ]]\
                </slot>\
            </option>\
        </select-component>\
        ",
        data() {
            return {
                selectedsize: ""
            }
        },
        computed: {
            hassizes() {
                return this.$props.sizes.length > 0 ? true : false
            }
        },
        beforeMount() {
            this.$data.selectedsize = this.$props.initvalue
        },
        methods: {
            selectcolor: function() {
                this.$emit("selectsize", "size", this.$data.selectedsize)
            }
        }
    }

    var colorcomponent = {
        props: ["colors", "initvalue"],
        name: "ColorSelector",
        delimiters: ["[[", "]]"],
        template: "\
        <select-component @change='selectcolor' v-model='selectedcolor' :class='hascolors' name='color' id='color'>\
            <option v-for='color in colors' :key='color.name' :value='color.value'>\
                <slot>\
                    [[ color.name ]]\
                </slot>\
            </option>\
        </select-component>\
        ",
        data() {
            return {
                selectedcolor: ""
            }
        },
        mounted() {
            this.$data.selectedcolor = this.$props.initvalue
        },
        computed: {
            hascolors() {
                var istrue = this.$props.colors.length > 0
                this.$data.selectcolor = "Couleur unique"
                return {
                    'disabled': istrue ? false : true,
                }
            }
        },
        methods: {
            selectcolor: function() {
                this.$emit("selectcolor", "color", this.$data.selectedcolor)
            }
        }
    }

    var cartbutton = {
        props: ["product", "details"],
        name: "AddTocart",
        delimiters: ["[[", "]]"],
        template: "\
        <form @submit.prevent='addtocart' class='d-flex'>\
            <input v-model='quantity' type='number' aria-label='Search' class='form-control' style='width: 100px'>\
            <button class='btn btn-large btn-primary btn-md my-0 p'\
                    :class='{\"disabled grey lighten-1\": disablebutton}' id='btn_add_to_cart' type='submit'>Ajouter au panier</button>\
            <button @click='addtolikes' class='btn btn-small red lighten-1 btn-md my-0 p' id='btn_add_to_likes'>\
                <i class='fas fa-heart ml-1 text-white'></i>\
            </button>\
        </form>\
        ",
        data() {
            return {
                quantity: 1
            }
        },
        computed: {
            disablebutton() {
                var isinstock = "{{ product.in_stock }}"
                return isinstock === "True" ? false : true
            }
        },
        methods: {
            sendanalytics: function() {
                dataLayer.push({
                    "event": "AddToCart",
                    "ecommerce": {
                        "currencyCode": "EUR",
                        "add": {
                            "products": [{
                                "id": "{{ product.reference }}",
                                "name": "{{ product.name }}",
                                "price": "{{ product.get_price }}",
                                "brand": "Nawoka",
                                "category": "{{ product.collection.gender }}/{{ product.collection.name }}",
                                "variant": "{{ product.color }}",
                                "position": 0,
                                "quantity": this.$data.quantity || 1
                            }]
                        }
                    }
                })
            },
            addtolikes: function() {
                dataLayer.push({
                    "event": "ProductLike",
                    "product": {
                        "id": "{{ product.reference }}",
                        "name": "{{ product.name }}",
                        "price": "{{ product.get_price }}"
                    }
                })
            },
            addtocart: function() {
                var self = this
                var formdata = new FormData()

                formdata.append("quantity", this.$data.quantity)
                formdata.append("csrfmiddlewaretoken", $(".csrf input").val())

                _.forEach(Object.keys(this.$props.details), (key) => {
                    formdata.append(key, this.$props.details[key])
                })

                var promise = new Promise((resolve, reject) => {
                    var xhr = new XMLHttpRequest()
                    xhr.responseType = "json"
                    xhr.onloadend = function() {
                        if (xhr.status == 200) {
                            resolve(xhr.response)
                        }
                        if (xhr.status === 400 | xhr.status === 500) {
                            window.location.reload()
                        }
                    }
                    xhr.open("POST", window.location.href)
                    xhr.send(formdata)
                })
                promise.then(response => {
                    self.sendanalytics()
                })
            }
        }
    }
    
    var productapp = new Vue({
        el: "#vue_app",
        name: "ProductApp",
        components: {cartbutton, colorcomponent, imagescomponent, sizecomponent},
        data() {
            return {
                product: {},
                colors: [],
                sizes: [],
                details: {}
            }
        },
        beforeMount() {
            var product = JSON.parse($("#vue_product").text())
            
            var images = product.images
            if (images.length > 0) {
                _.forEach(images, (image) => {
                    this.$data.colors.push({name: image.variant, value: image.variant})
                })
                this.$data.details["color"] = product.images[0].variant
            }

            _.forEach(product.clothe_size, (size, index) => {
                this.$data.sizes.push({id: index, name: size.name})
            })
            if (this.$data.sizes.length > 0) {
                this.$data.details["size"] = product.clothe_size[0].name
            }

            this.$data.product = product
        },
        methods: {
            doselection: function(method, item) {
                this.$data.details[method] = item
            }
        }
    })
</script>
