<div class="card mb-3">
    <div class="card-body text-center">
        <button class="btn btn-primary">
            <i class="fa fa-pencil pull-left"></i>Action A
        </button>
        <button class="btn btn-primary">
            <i class="fa fa-write left"></i>Action B
        </button>
        <button type="button" class="btn btn-danger waves-effect waves-light" 
                    data-toggle="modal" data-target="#modalLRFormDemo">
            <i class="fa fa-trash pull-left"></i>Delete
        </button>
    </div>
</div>