{% load i18n %}

<nav class="d-flex justify-content-center wow fadeIn">
    <ul class="pagination pg-blue">
        {% if page_obj.has_previous %}
            <li class="page-item">
                <a class="page-link" href="{{ collection.get_absolute_url }}?page={{ page_obj.previous_page_number }}{% if extra_params|escape %}{{ extra_params }}{% endif %}" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                    <span class="sr-only">
                        {% trans "Précédent" %}
                    </span>
                </a>
            </li>
        {% endif %}
        
        {% with pages=page_obj.paginator.page_range %}
            {% for page in pages %}
                <li class="page-item {% if page == current_active_page %}active{% endif %}">
                    <a class="page-link" href="{{ collection.get_absolute_url }}?page={{ page }}{% if extra_params %}{{ extra_params|escape }}{% endif %}">{{ page }}
                        <!-- <span class="sr-only">(current)</span> -->
                    </a>
                </li>            
            {% endfor %}
        {% endwith %}

        {% if page_obj.has_next %}
            <li class="page-item">
                <a class="page-link" href="{{ collection.get_absolute_url }}?page={{ page_obj.next_page_number }}{% if extra_params|escape %}{{ extra_params }}{% endif %}" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                    <span class="sr-only">
                        {% trans "Suivant" %}
                    </span>
                </a>
            </li>            
        {% endif %}
    </ul>
</nav>
