{% load i18n %}

{% if product.active %}
    <div class="color-selection">
        <div class="form-group">
            <colorcomponent @selectcolor="doselection" v-bind:initvalue="details.color" v-bind:colors="colors" />
        </div>
        <div class="form-group">
            <sizecomponent @selectsize="doselection" v-bind:initvalue="details.size" v-bind:sizes="sizes" />
        </div>

        {% comment %}
        <div class="delivery mt-3 mb-3">
            <a href="#!"> {% trans "Guide des tailles" %}**</a>
        </div>                    
        {% endcomment %}
    </div>
    
    <div class="cart-button">
        <cartbutton v-bind:details="details" v-bind:product="product" />
    </div>
    <div class="csrf">{% csrf_token %}</div>
{% else %}
    <div class="card">
        <div class="card-body red lighten-1 text-white text-center font-weight-bold">
            {% trans "Ce produit n'est pas actif" %}
        </div>
    </div>
{% endif %}