<div class="row d-flex justify-content-center wow fadeIn">
    <div class="col-md-6 text-center">
        <h2 class="my-4 font-weight-bold">Vous allez aussi adorer</h2>
    </div>
</div>

<div class="row wow fadeIn">
    {% for product in more %}
        <div class="col-lg-4 col-md-12 mb-4">
            <a href="{{ product.get_collection_url }}" id="link_see_more">
                <img src="{{ product.imag.url }}" class="img-fluid" alt="{{ product.slug }}">
            </a>
        </div>        
    {% endfor %}
</div>