<script>
    Vue.component("contact-preference-component", {
        name: "ContactPreferences",
        delimiters: ["[[", "]]"],
        data() {
            return {
                submitted: false,
                sections: [
                    {id: 1, name: "kendall", paragraph: "Soyez les premiers à choper vos coups de cœur pour moins cher", checkboxes: [{id: "email", label: "Email"}]},
                    {id: 2, name: "kylie", paragraph: "Dernières tendances, nouveautés et conseils de style : vous les avez vus en premier, vous serez les premiers à les porter.", checkboxes: [{id: "novelties", label: "Email"}]},
                    {id: 3, name: "partners", paragraph: "Restez à l'affût des collabs exclusives et des offres triées sur le volet.", checkboxes: [{id: "partners", label: "Email"}]},
                ],
                selecteditems: {}
            }
        },
        computed: {
            hasmorethanone() {
                return this.sections.length > 1
            },
            hasselecteditems() {
                return _.includes(this.selecteditems, true)
            }
        },
        methods: {
            submitdata: function () {
                var formdata = new FormData()
                var keys = Object.keys(this.selecteditems).forEach((key) => {
                    formdata.append(key, this.selecteditems[key])
                })
                this.submitted = true
                fetch(window.location.href, {
                    method: "POST",
                    headers: {
                        "X-CSRFToken": "{{ csrf_token }}",
                    },
                    credentials: "same-origin",
                    body: JSON.stringify(formdata)
                })
                .then((response) => {
                    response.json().then((data) => {
                        setTimeout(() => {
                            this.submitted = false
                        }, 3000);
                        
                        if (data.state) {

                        }
                    })
                })
                .catch((error) => {
                    this.submitted = false
                    console.error(error)
                })
            }
        }
    })
</script>
