.general-transition-enter-active,
.general-transition-leave-active {
    transition: all .3s ease;
}
.general-transition-enter,
.general-transition-leave-to {
    opacity: 0;
}
.general-transition-enter-to,
.general-transition-leave-active {
    opacity: 1;
}
.general-transition-move {
    transition: all .3s ease-out;
}

.image_canvas-leave {
    animation: slide 1s;
}
.image_canvas-leave-to {
    animation: slide 1s;
}
@keyframes slide {
    0% {
        transform: translateX(0px);
    }
    100% {
        transform: translateX(-100px);
    }
}
.side-images *:hover {
    cursor: pointer;
}
/* 
.next-enter-active {
    transition: all .2s ease;
}
.next-enter {
    transform: translateX(0px);
}
.next-enter-to {
    transform: translateX(200px);
}
.next-leave-active {
    transition: all 1s ease;
}
.next-leave {
    opacity: 1;
    transform: translateX(0px);
}
.next-leave-to {
    opacity: 0;
    transform: translateX(-200px);
}
.next-move {
    transition: transform 1s ease;
}

.prev-enter-active {
    transition: all 1s ease;
}
.prev-enter {
    transform: translateX(-200px);
}
.prev-enter-to {
    transform: translateX(0px);
}
.prev-leave-active {
    transition: all 1s ease;
}
.prev-leave {
    transform: translateX(200px);
}
.prev-leave-to {
    transform: translateX(0px);
}
.prev-move {
    transition: transform 1s ease;
} */

.dropdown_cart-enter-active {
    transition: all .3s ease;
}
.dropdown_cart-enter {
    opacity: 0;
    transform: translateY(-70px);
}
.dropdown_cart-enter-to {
    opacity: 1;
    transform: translateY(0px);
}
.dropdown_cart-move {
    transition: all 1s ease;
}


.product-cards-enter-active,
.product-cards-leave-active {
    transition: all .3s ease;
}
.product-cards-enter,
.product-cards-leave-to {
    opacity: 0;
}
.product-cards-enter-to,
.product-cards-leave {
    opacity: 1;
}
.product-cards-move {
    transition: all .4s ease-in;
    transform: scale(.9, .9);
}

.mobile-image-transitions-enter-active {
    transition: all .2s ease-in;
}
.mobile-image-transitions-leave-active {
    transition: all .3s ease;
}
.mobile-image-transitions-enter,
.mobile-image-transitions-leave-to {
    opacity: 0;
    /* transform: scale(.9, .9); */
}
.mobile-image-transitions-enter-to,
.mobile-image-transitions-leave {
    opacity: 0;
    /* transform: scale(1, 1); */
}
