{% extends "pages/registration/base.html" %}
{% load i18n %}

{% block title %}{% trans "Récupérer son mot de passe" %}{% endblock title %}

{% block registration_form %}
    {% include "components/registration/form.html" with form_id="forgot_password_form" button_name="Get a new one" %}
{% endblock registration_form %}

{% block extra_registration_links %}
    <p class="registration-nav-link">
        I remember my <a href="{% url 'accounts:login' %}" class="bold-text-1">password now</a>
    </p>
{% endblock extra_registration_links %}
