{% extends "components/others/tables/base.html" %}
{% load table i18n %}

{% block header_color %}grey lighten-4{% endblock %}

{% block table_header %}
    {% header "ID" "Email" "Somme" "Statut" "Date" %}
{% endblock %}

{% block table_body %}
    {% for order in orders %}
        <tr>
            <td scope="row">{{ order.id }}</td>
            <td>
                <a href="{% url 'customer_order' order.id %}">
                    {{ order.user.email }}
                </a>
            </td>
            <td>{{ order.payment }}</td>
            <td>
                {% if order.completed %}
                    {% include "../badge.html" with type="success" badge_name="Terminer" %}
                {% else %}
                    {% include "../badge.html" with type="danger" badge_name="En attente" %}										
                {% endif %}
            </td>
            <td>{{ order.created_on }}</td>
        </tr>
    {% empty %}
        <tr scope="row">
            <td class="text-center font-weight-bold" colspan="6">Vous n'avez pas encore de de commandes</td>
        </tr>
    {% endfor %}
{% endblock %}
