{% load table_header_tag %}

<table class="table table-hover">
    <thead class="blue-grey lighten-4">
        <tr>
            {% create_table_header "ID" "Nom" "Collection" "Prix" "Statut" %}
            <th colspan="2"></th>
        </tr>
    </thead>

    <!-- Table body -->
    <tbody>
        {% for item in items %}
            <tr>
                <th scope="row">{{ item.id }}</th>
                <td>
                    <a href="{% url 'dashboard_product' item.id %}">{{ item.name }}</a>
                </td>
                <td>{{ item.collection.name }}</td>
                <td>{{ item.price_ht }}</td>
                <td>
                    {% if item.active %}
                        {% include "../badge.html" with type="success" badge_name="actif" %}								
                    {% else %}
                        {% include "../badge.html" with type="danger" badge_name="inactif" %}								
                    {% endif %}
                </td>
                <td><a href="{% url 'update' item.id %}">update</a></td>
                {% if user.is_admin %}
                    <td><a href="{% url 'delete_item' 'products' item.id %}">delete</a></td>
                {% endif %}
            </tr>
        {% empty %}
            <tr scope="row">
                <td class="text-center font-weight-bold" colspan="5">Vous n'avez pas encore de produits</td>
            </tr>
        {% endfor %}
    </tbody>
</table>