<nav class="navbar fixed-top navbar-expand-lg navbar-light white scrolling-navbar">
	<div class="container-fluid">
		<!-- COLLAPSE -->
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<!-- LINKS -->
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<!-- LEFT -->
			<ul class="navbar-nav mr-auto">
				<li class="nav-item">
					<a class="nav-link waves-effect" href="#">Home
						<span class="sr-only">(current)</span>
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link waves-effect" href="/admin/" target="_blank">Admin
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link waves-effect" href="{ url 'logout' }">Logout
					</a>
				</li>
			</ul>
		</div>
	</div>
</nav>