{% extends "pages/registration/base.html" %}
{% load i18n %}

{% block title %}Changer son mot de passe{% endblock title %}

{% block profile_content %}
    <div class="card-panel">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}

            {% for field in form %}
                <div class="input-field">
                    {{ field }}
                </div>
            {% endfor %}
            <button type="submit" class="btn">{% trans 'Valider' %}</button>
        </form>
    </div>
{% endblock profile_content %}
