{% extends "pages/accounts/base.html" %}
{% load i18n %}



{% block profile_content %}
    <div class="card-panel">
        <form method="POST" enctype="multipart/form-data" id="password-reset-form">
            {% csrf_token %}
            {% for field in form %}
                <div class="input-field">
                    {{ field }}
                </div>
            {% endfor %}
            <button type="submit" class="btn waves-effect waves-light light-blue lighten-1"><i class="material-icons left">check</i> {% trans 'Modifier' %}</button>
        </form>
    </div>
{% endblock profile_content %}
