{% extends "pages/base_create.html" %}
{% load i18n %}

{% block title %}{% trans "Modification de" %}{{ collection.name }}{% endblock %}

{% block page_header %}
<div class="col-12 pl-0">
    <div class="col-12">
        <a href="{% url 'dashboard_collections' %}">
            <i class="fa fa-arrow-left mr-2"></i>
            {% trans "Collections" %}
        </a>
    </div>
    <div class="col-12 mb-1 mt-2">
        <h3 class="font-weight-bold">
            {{ collection.name }}
        </h3>
    </div>
</div>
{% endblock %}

{% block left_content %}
<!-- GENERAL -->
{% include "components/edit/base.html" with description_as_field=form.presentation_text %}

<!-- TYPE -->
{% include "../../components/edit/collections/conditions.html" %}
{% endblock %}

{% block right_content %}
<div class="card">
    <div class="card-body">
        <p class="font-weight-bold mb-4">{% trans "Image de la collection" %}</p>

        <div class="form-group">
            <div class="custom-file">
                <input type="file" name="image" class="custom-file-input" id="image">
                <label class="custom-file-label" for="image">{% trans "Choisir une image" %}</label>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block bottom_action_buttons %}
<hr>
<div class="col-12 mt-3 p-0">
    {% comment %}
    <a href="{% url 'dashboard_delete_product' product.id %}?next={% url 'dashboard_products' %}"
        class="btn btn-large red lighten-2 ml-0">
        {% trans "Delete" %}
    </a>
    {% endcomment %}

    <button type="submit" class="btn btn-large float-right white mr-0">
        {% trans "Sauvegarder" %}
    </button>
</div>
{% endblock %}
