{% extends "../base_create.html" %}
{% load i18n %}

{% block title %}Mise à jour de {{ product.name }}{% endblock %}

{% block class %}new-product{% endblock %}

{% block page_header %}
	<div class="col-12 mb-1">
		<div class="row">
			<div class="col-6">
				{% if return_to_search %}
				<a href="{% url 'dashboard_search' %}?s={{ return_to_search|escape }}" class="text-muted">
					<fa class="fa fa-arrow-left mr-2"></fa>
					Produits
				</a>
				{% else %}
				<a href="{% url 'dashboard_products' %}" class="text-muted">
					<fa class="fa fa-arrow-left mr-2"></fa>
					Produits
				</a>
				{% endif %}
			</div>
			<div class="col-6 text-right">
				<a href="{{ previous_product }}" class="text-muted">
					<fa class="fa fa-arrow-left"></fa>
				</a>
				<a href="{{ next_product }}" class="text-muted" {% if disable_next %}disabled{% endif %}>
					<fa class="fa fa-arrow-right ml-4"></fa>
				</a>
			</div>
		</div>
	</div>
	<div class="col-12 mb-4">
		<div class="row">
			<div class="col-auto">
				<h3 class="m-0">{{ product.name }}</h3>
			</div>
		</div>

		<!-- ACTIONS -->
		{% include "../../components/edit/actions_top.html" %}
	</div>
{% endblock %}

{% block top_form_buttons %}

{% endblock %}

{% block left_content %}
	<!-- BASE -->
	{% include "../../components/edit/base.html" %}

	<!-- MEDIA -->
	{# {% include "../../components/edit/media.html" %} #}

	<!-- PRIX -->
	{% include "../../components/edit/price.html" %}

	<!-- INVENTORY -->
	{% include "../../components/edit/inventory.html" %}

	<!-- VARIANTS -->
	{% include "../../components/edit/variants.html" %}

	<!-- MODALS -->
	{% include "../../components/others/modals/margin.html" %}
{% endblock %}

{% block right_content %}
	<!-- SIDE -->
	{% include "../../components/edit/side.html" %}
{% endblock %}

{% block bottom_form_buttons %}
	<!-- ACTIONS -->
	{% include "../../components/edit/actions_bottom.html" with delete_url="dashboard_delete_product" item_id=product.id next_url="dashboard_products" %}
{% endblock %}

{% block vuejs_scripts %}
	{{ block.super }}

	<!-- DUPLICATION -->
	{% include "../../vue/create/duplicate.html" %}
	<!-- CALCULATOR -->
	{% include "../../vue/create/calculator.html" %}
{% endblock %}
