{% extends "../../index.html" %}

{% block title %}Modification : {{ product.name }}{% endblock %}

{% block content %}
<div class="row wow fadeIn">
    <div class="col-md-12 mb-12">
        <div class="card">
            <div class="card-body">
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}

                    {% include "../../components/others/form_messages.html" %}
                
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            {{ form.name }}
                        </div>
                    </div>
                
                    <div class="form-row">
                        <div class="form-group col-md-4">
                            {{ form.collection }}
                        </div>
                    
                        <div class="form-group col-md-4">
                            {{ form.price_ht }}
                        </div>
                    
                        <div class="form-group col-md-4">
                            {{ form.discount_pct }}
                        </div>

                        <div class="form-group col-md-4">
                            {{ form.gender }}
                        </div>
                    </div>
                    
                    <div class="form-row" id="form_app">
                        <div class="form-input col-12 mb-3">
                            <checkboxcomponent />
                        </div>
                        <div class="form-input col-6 d-none" id="size-selection">
                            {{ form.clothe_size }}
                        </div>
                    </div>
                
                    {% include "../../components/others/form_button.html" with btn_name="Valider" position="float-right" %}
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block vuejs_scripts %}
    <script>
        var checkboxcomponent = {
            template: "\
            <div class='form-check'>\
                <input @change='showsize' class='form-check-input' \
                                type='checkbox' value='' id='has-size'>\
                <label class='form-check-label' for='has-size'>\
                    Ce produit possède une taille\
                </label>\
            </div>\
            ",
            methods: {
                showsize: function() {
                    $("#size-selection").toggleClass("d-none")
                }
            }
        }
        var formapp = new Vue({
            el: "#form_app",
            components: {checkboxcomponent},
            data() {
                return {
                    show: false
                }
            },
            methods: {
                showinput: function() {
                    this.$data.show = !this.$data.show
                }
            }
        })
    </script>
{% endblock %}
