{% extends "../../index.html" %}

{% block title %}Modification : {{ product.name }}{% endblock %}

{% block content %}
<div class="row wow fadeIn">
    <div class="col-md-4 mb-12">
        <div class="card">
            <div class="card-body">

            </div>
        </div>
    </div>
    <div class="col-md-8 mb-12">
        <div class="card">
            <div class="card-body">
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                
                
                    {% include "../../components/others/form_button.html" with type="danger" btn_name="Finaliser" position="float-right" %}
                    {% include "../../components/others/form_button.html" with type="danger" btn_name="Finaliser et activer" position="float-right" %}
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block vuejs_scripts %}
    
{% endblock %}