{% extends "../../index.html" %}

{% block content %}
<div class="row wow fadeIn">
    <div class="col-md-12 mb-12">
        <div class="card">
            <div class="card-body">
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            {{ form.description }}
                        </div>
                    </div>
                
                    {% include "../../components/others/form_button.html" with btn_name="Valider" position="float-right" %}
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}