<div class="modal fade" id="modalLRFormDemo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="display: none;" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Supprimer {{ user.email }}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                Vous êtes sur le point de supprimer <span class="text-bold">{{ user.email }}</span> êtes
                vous sûr de vouloir continuer ?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary waves-effect waves-light" data-dismiss="modal">Fermer</button>
                <button type="button" class="btn btn-outline-danger waves-effect waves-light">Confimrer</button>
            </div>
        </div>
    </div>
</div>