<div class="modal fade" id="export_modal" tabindex="-1" role="dialog" aria-labelledby="export_modal" aria-hidden="true">
	<div class="modal-dialog modal-md modal-notify modal-info" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<p class="heading lead">Exporter des produits</p>

				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true" class="white-text">&times;</span>
				</button>
			</div>

			<div class="modal-body" id="export_csv_app">
                <p>Exporter :</p>
                <div class="form-group">
                    <div class="form-check">
                        <input @click="selectoption(0)" :checked="selected.current" class="form-check-input" type="radio" name="exportoption" name="currentpage" id="currentpage">
                        <label class="form-check-label" for="currentpage">Page actuelle</label>
                    </div>
                    <div class="form-check">
                        <input @click="selectoption(1)" class="form-check-input" type="radio" name="exportoption" name="allproducts" id="allproducts">
                        <label class="form-check-label" for="allproducts">Tous les produits</label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-12">
                            <div class="form-group">
                                <div class="form-check">
                                    <input @click="selectoption(2)" class="form-check-input" type="radio" name="exportoption" name="collectionname" id="collectionname">
                                    <label class="form-check-label" for="collectionname">Exporter une collection spécifique</label>
                                </div>
                            </div>
                        </div>
                        <div v-if="selected.collection" class="col-12 mt-3">
                            <input v-model="collectionname" class="form-control" type="text" name="collectionname" id="collectioname" placeholder="Nom de la collection">
                        </div>
                    </div>
                </div>

                <a :href="constructurl" class="btn btn-primary btn-lg float-right" :class="{'disabled': disablebutton}" data-modal="dismiss">
                    <i class="fa fa-file-export"></i>
                    Exporter
                </a>
                {# {% include "../link.html" with href="download_csv" icon="fa fa-file-export" position="float-right" btn_name="Exporter" color="grey lighten-3 black-text"  %} #}
			</div>
		</div>
	</div>
</div>
