<div class="modal fade" id="new_image_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg modal-notify modal-info" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<p class="heading lead">Nouvelle image</p>

				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true" class="white-text">&times;</span>
				</button>
			</div>

			<div class="modal-body">
				<inputfilecomponent @saveurl="appendnewimage" />
			</div>

			<!-- <div class="modal-footer">
				<a role="button" class="btn btn-info">Get it now
					<i class="far fa-gem ml-1"></i>
				</a>
				<a role="button" class="btn btn-outline-info waves-effect" data-dismiss="modal">No, thanks</a>
			</div> -->
		</div>
	</div>
</div>
