<script type="application/ld+json">
    {
        "@context": "https://schema.org",
        "@type": "Organization",
        "image": [],
        "@id": "https://nawoka.fr",
        "name": "Nawoka",
        "description": "Platforme ecommerce de vente de produits et accessoires mode et beauté",
        "address": {
            "@type": "PostalAddress",
            "streetAddress": "",
            "addressLocality": "Lille",
            "addressRegion": "Haut-de-France",
            "postalCode": "59000",
            "addressCountry": "FR"
        },
        "ContactPoint": [
            {
                "@type": "ContactPoint",
                "ContactType": "Customer service",
                "url": "https://nawoka.fr"
            }
        ],
        "email": "mailto:contact.nawoka@gmail.com",
        "url": "https://nawoka.fr",
        "telephone": "",
        "founder": {
            "@type": "Person",
            "givenName": "John",
            "familyName": "Pendenque",
            "brand": {
                "@type": "Thing",
                "name": "Nawoka"
            },
            "jobTitle": "Founder, CEO"
        }
    }
</script>
