{% extends "../../index.html" %}

{% block title %}Coupons{% endblock %}

{% block heading %}
    {% include "../../components/navs/heading.html" with title="Coupons" %}
{% endblock %}

{% block content %}
<div class="row wow fadeIn">
    <div class="col-md-12 mb-4">
        <div class="card">
            <div class="card-header white">
                {% include "../../components/others/link.html" with href="dashboard_coupons_new" position="float-right" btn_name="Nouveau"  %}
            </div>
            <div class="card-body">
                {% include "../../components/others/tables/coupons.html" with items=coupons %}
            </div>
        </div>
    </div>
</div>

<!-- PAGINATION -->
{% include "../../components/navs/pagination.html" with href="dashboard_products" %}
{% endblock %}
