{% extends "../../index.html" %}

{% block title %}Commandes{% endblock %}

{% block heading %}
    {% include "../../components/navs/heading.html" with title="Commandes" %}
{% endblock %}

{% block content %}
<div class="row wow fadeIn">
    <div class="col-md-12 mb-4">
        <div class="card">
            <div class="card-body">
                {% include "../../components/others/tables/orders.html" %}
            </div>
        </div>
    </div>
</div>

{% include "../../components/navs/pagination.html" with href="customer_orders" %}
{% endblock %}