{% load i18n %}

<div class="card card-body mt-3">
    <p class="font-weight-bold mb-4">{% trans "Minimum d'achat" %}</p>
    
    <coupon-minimum-section inline-template>
        <div class="form-group">
            <radio-component @showfield="doshow" :name="'minimumpurchase'" 
                v-bind:fields="fields" :triggerid="triggerid">
            </radio-component>

            <div class="form-row">
                <div v-show="showpurchase" class="col-4">
                    {{ form.minimum_purchase }}
                </div>
                <div v-show="showquantity" class="col-4">
                    {{ form.minimum_quantity }}
                </div>
            </div>
        </div>
    </coupon-minimum-section>
</div>
