{% load i18n dropdowns aws_images %}

{% if has_collections %}
    <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">Femme</a>

            <div class="dropdown-menu dropdown-large fade-up">
                <div class="row">
                    <div class="col-md-6">
                        <p class="text-muted text-uppercase font-weight-bold">
                            {% trans "Collection" %}
                        </p>
                        <ul class="list-unstyled">
                            {% include "components/navs/dropdowns/links.html" %}
                        </ul>
                    </div>

                    <div class="col-md-6">
                        <a href="{% url 'shop:collection' sample_collection.gender sample_collection.view_name %}">
                            <img src="{% if sample_collection.is_url %}{{ sample_collection.image }}{% else %}{% get_aws_prefix_url %}{{ sample_collection.image }}{% endif %}" alt="{{ sample_collection.view_name }}" class="img-fluid">
                            <p class="m-0 mt-3 text-center text-uppercase">
                                {{ sample_collection.name }}
                            </p>
                        </a>
                    </div>
                </div>
            </div>
        </li>
    </ul>    
{% endif %}
