{% load shop_impressions %}

<script>
    dataLayer.push({
        "ecommerce": {
            "impressions": '{% impressions_for_shop queryset=more %}',
            "detail": {
                "actionField": { "list": "{{ list_name }}" },
                "products": [
                    {
                        "name:": "{{ product.name }}",
                        "id:": "{{ product.reference }}",
                        "price:": "{{ product.get_price }}",
                        "brand:": "{{ brand }}",
                        "category:": "{{ product.collection.gender }}/{{ product.collection.name }}",
                        "variant:": "{{ product.sku }}",
                    }
                ]
            }
        },
        "remarketingProduct": {
            "name:": "{{ product.name }}",
            "id:": "{{ product.reference }}",
            "price:": "{{ product.get_price }}",
            "brand:": "{{ brand }}",
            "category:": "{{ product.collection.gender }}/{{ product.collection.name }}",
            "variant:": "{{ product.sku }}",
        }
    })
</script>
