<ul class="navbar-nav mr-auto">
    <li class="nav-item dropdown">
        <a class="nav-link waves-effect dropdown-toggle" href="#" data-toggle="dropdown">Femme</a>
        <div class="dropdown-menu dropdown-large fade-up">
            <div class="row">
                <div class="col-md-6">
                    <h6 class="title">Collection</h6>
                    <ul class="list-unstyled">
                        <li><a href="{% url 'collection' 'femme' 'pantalons' %}">Pantalons</a></li>
                        <li><a href="{% url 'collection' 'femme' 'robes' %}">Robes</a></li>
                        <li><a href="{% url 'collection' 'femme' 'chaussures' %}">Chaussures</a></li>
                        <li><a href="#">Vestes</a></li>
                        <li><a href="#">Cardigans</a></li>
                        <li><a href="#">Beauté</a></li>                            
                    </ul>
                </div>
                <div class="col-md-6 d-none">
                    <h6 class="title">Title Menu Two</h6>
                    <ul class="list-unstyled">
                        <li><a href="#">Custom Menu</a></li>
                        <li><a href="#">Custom Menu</a></li>
                        <li><a href="#">Custom Menu</a></li>
                        <li><a href="#">Custom Menu</a></li>
                        <li><a href="#">Custom Menu</a></li>
                        <li><a href="#">Custom Menu</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </li>
</ul>