{% extends "base.html" %}
{% load i18n general_tags %}

{% block title %}{% trans "Conditions générales de vente" %} - Nawoka{% endblock title %}

{% block navbar %}
    {% include "project_components/navs/nav.html" %}
{% endblock %}

{% block page_description %}
    <meta name="description" content="Découvrez nos conditions générales de vente">
{% endblock %}

{% block share_metatags %}
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Nawoka : Découvrez nos conditions générales de vente" />

    {% block og_description %}
        <meta property="og:description" content="Découvrez nos conditions générales de vente" />
    {% endblock %}

    {% comment %}
    {% block og_image %}
        <meta property="og:image" content="{% create_aws_image_url 'hero.jpg' %}" />            
    {% endblock %}        
    <meta property="og:image:type" content="image/jpeg" />
    <meta property="og:image:height" content="1200">
    <meta property="og:image:width" content="800">
    <meta property="og:image:alt" content="Nawoka" />
    {% endcomment %}
{% endblock %}

{% block container %}
    <section class="section" id="cgv">
        <div class="row wow fadeIn">
            <div class="col-12">
                {% include "./return_link.html" %}
                
                <div class="card mb-3">
                    <div class="card-body">
                        <h6 class="font-weight-bold text-uppercase">
                            Conditions générales de vente de produits en ligne 
                            à des consommateurs particuliers
                        </h5>
                    </div>
                </div>

                <div class="card mb-3">
                    <div class="card-body">
                        <p>
                            Les présentes conditions générales de vente s'appliquent à 
                            toutes les ventes conclues sur le site Internet {% company_details "name" %}.
                            <br>
                            <br>
                            Le site Internet est un service de :
                            <br>
                            <br>
                            <ul>
                                <li>L'autoentreprise : {% company_details "name" %}</li>
                                <li>situé à :  {% company_details "address" %}</li>
                                <li>adresse URL du site : {% company_details "domain" urlize=True %}
                                <li>e-mail : {% company_details "email" urlize=True %}
                                <li>numéro de telephone : {% company_details "telephone" %}</li>
                            </ul>
                        </p>

                        <p>
                            Le site Internet {% company_details "domain" urlize=True %} commercialise les produits suivants : {{ services }}.
                            Le client déclare avoir pris connaissance et avoir accepté les conditions générales de vente 
                            antérieurement à la passation de sa commande. La validation de la commande 
                            vaut donc acceptation des conditions générales de vente.    
                        </p>
                    </div>
                </div>

                <div class="card mb-3">
                    <div class="card-body">
                        <h6 class="font-weight-bold text-uppercase mb-3">Article 1 - Principes</h6>
                        <p>
                            Les présentes conditions générales expriment l'intégralité des obligations des parties. 
                            En ce sens, l'acheteur est réputé les accepter sans réserve.    
                            <br>
                            <br>
                            Les présentes conditions générales de vente s'appliquent à l'exclusion 
                            de toutes autres conditions, et notamment celles applicables pour les ventes en magasin ou au moyen d'autres circuits de distribution et de commercialisation.    
                            <br>
                            <br>
                            Elles sont accessibles sur le site internet {% company_details "domain" urlize=True %} et prévaudront, le cas échéant, 
                            sur toute autre version ou tout autre document contradictoire.    
                            <br>
                            <br>
                            Le vendeur et l'acheteur conviennent que les présentes conditions générales régissent 
                            exclusivement leur relation. Le vendeur se réserve le droit de modifier ponctuellement 
                            ses conditions générales. Elles seront applicables dès leur mise en ligne.    
                            <br>
                            <br>
                            Si une condition de vente venait à faire défaut, elle serait considérée être régie par les usages en vigueur 
                            dans le secteur de la vente à distance dont les sociétés ont siège en France.  
                            <br>
                            <br>
                            Les présentes conditions générales de vente sont valables jusqu'au {{ validity_date|date:"d F Y" }}. 
                        </p>
                    </div>
                </div>
                
                <div class="card mb-3">
                    <div class="card-body">
                        <h6 class="font-weight-bold text-uppercase mb-3">Article 2 - Contenu</h6>
                        <p>
                            Les présentes conditions générales ont pour objet de définir les droits et obligations 
                            des parties dans le cadre de la vente en ligne de biens proposés par le vendeur à l'acheteur, 
                            à partir du site internet {% company_details "domain" urlize=True %}.    
                    
                            Les présentes conditions ne concernent que les achats effectués sur le site de {% company_details "domain" urlize=True %}
                            et livrés exclusivement en métropole ou en Corse. 
                            Pour toute livraison dans les DOM-TOM ou à l’étranger, il convient d'adresser un message 
                            à l’adresse e-mail suivante : {% company_details "email" urlize=True %}.    
                        </p>
                        <p>
                            Ces achats concernent les produits suivants:
                            <ul>
                                {% for service in services %}
                                    <li>{{ service }}</li>
                                {% endfor %} 
                            </ul>
                        </p>
                    </div>
                </div>

                <div class="card mb-3">
                    <div class="card-body">
                        <h6 class="font-weight-bold text-uppercase mb-3">Article 3 - Informations précontractuelles</h6>
                        <p>
                            L'acheteur reconnaît avoir eu communication, préalablement à la 
                            passation de sa commande et à la conclusion du contrat, d'une manière lisible et compréhensible, 
                            des présentes conditions générales de vente et de toutes les informations 
                            listées à l'article L. 221-5 du code de la consommation.
                            <br>
                            <br>
                            Sont transmises à l'acheteur, de manière claire et compréhensible, les informations suivantes :
                            <ul>
                                <li>les caractéristiques essentielles du bien ;</li>
                                <li>le prix du bien et/ou le mode de calcul du prix</li>
                                <li>
                                    et, s'il y a lieu, tous les frais supplémentaires de transport, 
                                    de livraison ou d'affranchissement et tous les autres frais éventuels exigibles.
                                </li>
                                <li>
                                    en l'absence d'exécution immédiate du contrat, la date ou le délai 
                                    auquel le vendeur s'engage à livrer le bien, quel que soit son prix ;
                                </li>
                                <li>
                                    les informations relatives à l'identité du vendeur, à ses coordonnées postales, 
                                    téléphoniques et électroniques, et à ses activités, celles relatives aux garanties légales, 
                                    aux fonctionnalités du contenu numérique et, le cas échéant, à son interopérabilité, 
                                    à l'existence et aux modalités de mise en oeuvre des garanties et autres conditions contractuelles.
                                </li>
                            </ul>
                        </p>
                    </div>
                </div>

                <div class="card mb-3">
                    <div class="card-body" id="commande">
                        <h6 class="font-weight-bold text-uppercase mb-3">Article 4 - La commande</h6>
                        <p>
                            L'acheteur a la possibilité de passer sa commande en ligne, à partir du catalogue en ligne et 
                            au moyen du formulaire qui y figure, pour tout produit, dans la limite des stocks disponibles.    
                            L'acheteur sera informé de toute indisponibilité du produit ou du bien commandé.    
                            Pour que la commande soit validée, l'acheteur devra accepter, en cliquant 
                            à l'endroit indiqué, les présentes conditions générales. Il devra aussi choisir 
                            l'adresse et le mode de livraison, et enfin valider le mode de paiement.
                            <br>
                            <br> 
                            La vente sera considérée comme définitive :
                            <ul>
                                <li>
                                    après l'envoi à l'acheteur de la confirmation de l'acceptation de la commande 
                                    par le vendeur par courrier électronique ;
                                </li>
                                <li>
                                    et après encaissement par le vendeur de l'intégralité du prix.
                                </li>
                            </ul>
                        </p>
                        <p>
                            Toute commande vaut acceptation des prix et descriptions des produits disponibles à la vente. 
                            Toute contestation sur ce point interviendra dans le cadre d'un éventuel échange et 
                            des garanties ci-dessous mentionnées.
                            <br>
                            <br>
                            Dans certains cas, notamment défaut de paiement, 
                            adresse erronée ou autre problème sur le compte de l'acheteur, 
                            le vendeur se réserve le droit de bloquer la commande de l'acheteur 
                            jusqu'à la résolution du problème.
                            <br>
                            <br>
                            Pour toute question relative au suivi d'une commande, 
                            l'acheteur doit appeler le numéro de téléphone suivant: {% company_details "telephone" %} (coût d'un appel local), 
                            aux jours et horaires suivants: {{ available_days }}, ou envoyer un mail au vendeur 
                            à l’adresse mail suivante : {% company_details "email" urlize=True %}.  
                        </p>
                    </div>
                </div>

                <div class="card mb-3">
                    <div class="card-body">
                        <h6 class="font-weight-bold text-uppercase mb-3">Article 5 - Signature électronique</h6>
                        <p>
                            La fourniture en ligne du numéro de carte bancaire de l'acheteur et la validation finale de la commande 
                            vaudront preuve de l'accord de l'acheteur :
                            <ul class="browser-default">
                                <li>
                                    exigibilité des sommes dues au titre du bon de commande,
                                </li>
                                <li>
                                    signature et acception expresse de toutes les opérations effectuées.    
                                </li>
                            </ul>
                        </p>
                        <p>
                            En cas d'utilisation frauduleuse de la carte bancaire, l'acheteur est invité, 
                            dès le constat de cette utilisation, à contacter le vendeur au numéro de téléphone suivant: {% company_details "telephone" %}.     
                        </p>
                    </div>
                </div>

                <div class="card mb-3">
                    <div class="card-body">
                        <h6 class="font-weight-bold text-uppercase mb-3">Article 6 - Confirmation de commande</h6>
                        <p>
                            Le vendeur fournit à l'acheteur un exemplaire du contrat, 
                            par messagerie électronique.
                        </p>
                    </div>
                </div>

                <div class="card mb-3">
                    <div class="card-body">
                        <h6 class="font-weight-bold text-uppercase mb-3">Article 7 - Preuve de la transaction</h6>
                        <p>
                            Les registres informatisés, conservés dans les systèmes informatiques du vendeur 
                            dans des conditions raisonnables de sécurité, seront considérés comme les preuves des communications, 
                            des commandes et des paiements intervenus entre les parties. L'archivage des bons de 
                            commande et des factures est effectué sur un support fiable et durable pouvant 
                            être produit à titre de preuve. 
                        </p>
                    </div>
                </div>

                <div class="card mb-3">
                    <div class="card-body">
                        <h6 class="font-weight-bold text-uppercase mb-3">
                            Article 8 - Informations sur les produits
                        </h6>  
                        <p>
                            Les produits régis par les présentes conditions générales sont ceux qui figurent sur le site 
                            internet du vendeur et qui sont indiqués comme vendus et expédiés par le vendeur. 
                            Ils sont proposés dans la limite des stocks disponibles.
                            <br>
                            <br>  
                            Les produits sont décrits et présentés avec la plus grande exactitude possible. 
                            Toutefois, si des erreurs ou omissions ont pu se produire quant à cette présentation, 
                            la responsabilité du vendeur ne pourrait être engagée.
                            <br>
                            <br>  
                            Les photographies des produits ne sont pas contractuelles.
                        </p>
                    </div>
                </div>

                <div class="card mb-3" id="prix">
                    <div class="card-body">
                        <h6 class="font-weight-bold text-uppercase mb-3">
                            Article 9 - Prix
                        </h6>
                        <p>
                            Le vendeur se réserve le droit de modifier ses prix à tout moment mais s'engage à appliquer 
                            les tarifs en vigueur indiqués au moment de la commande, sous réserve de disponibilité à cette date.    
                            Les prix sont indiqués en euros. Ils ne tiennent pas compte des frais de livraison, 
                            facturés en supplément, et indiqués avant la validation de la commande. Les prix tiennent compte de la 
                            TVA applicable au jour de la commande et tout changement du taux applicable TVA sera automatiquement 
                            répercuté sur le prix des produits de la boutique en ligne.
                        </p>
                        <p>
                            Si une ou plusieurs taxes ou contributions, notamment environnementales, 
                            venaient à être créées ou modifiées, en hausse comme en baisse, ce changement 
                            pourra être répercuté sur le prix de vente des produits.    
                        </p>
                    </div>
                </div>
                
                <div class="card mb-3">
                    <div class="card-body">
                        <h6 class="font-weight-bold text-uppercase mb-3" id="mode-de-paiement">
                            Article 10 - Mode de paiement
                        </h6>
                        <p>
                            Il s'agit d'une commande avec obligation de paiement, ce qui signifie que la passation 
                            de la commande implique un règlement de l'acheteur.    
                            <br>
                            <br>
                            Pour régler sa commande, l'acheteur dispose, à son choix, de l'ensemble des modes 
                            de paiement mis à sa disposition par le vendeur et listés sur le site du vendeur. L'acheteur garantit au vendeur 
                            qu'il dispose des autorisations éventuellement nécessaires pour utiliser le mode de paiement choisi par lui, 
                            lors de la validation du bon de commande. Le vendeur se réserve le droit de suspendre toute gestion de commande 
                            et toute livraison en cas de refus d'autorisation de paiement par carte bancaire de la part des organismes 
                            officiellement accrédités ou en cas de non-paiement. Le vendeur se réserve notamment le droit de refuser d'effectuer 
                            une livraison ou d'honorer une commande émanant d'un acheteur qui n'aurait pas réglé totalement ou partiellement 
                            une commande précédente ou avec lequel un litige de paiement serait en cours d'administration.     
                        </p>
                    </div>
                </div>

                <div class="card mb-3">
                    <div class="card-body">
                        <h6 class="font-weight-bold text-uppercase mb-3" id="disponibilite">
                            Article 11 - Disponibilité des produits - Remboursement - Résolution
                        </h6>
                        <p>
                            Sauf en cas de force majeure ou lors des périodes de fermeture de la boutique en ligne 
                            qui seront clairement annoncées sur la page d'accueil du site, les délais d'expédition seront, 
                            dans la limite des stocks disponibles, ceux indiqués ci-dessous. Les délais d'expédition courent à compter 
                            de la date d'enregistrement de la commande indiquée sur le mail de confirmation de la commande.
                            <br>
                            <br>   
                            Pour les livraisons en France Métropolitaine et en Corse, le délai est de {{ shipping_delay }}  à compter du jour suivant 
                            celui où l'acheteur a passé sa commande, selon les modalités suivantes: {% company_details "shipping_company" %}.
                            <br>
                            <br>
                            Au plus tard, le délai sera de <b>30 jours ouvrables</b> après la conclusion du contrat.    
                            Pour les livraisons dans les DOM-TOM ou un autre pays, les modalités 
                            de livraison seront précisées à l’acheteur au cas par cas.
                            <br>
                            <br>
                            En cas de non-respect de la date ou du délai de livraison convenu, l'acheteur devra, avant de rompre le contrat, 
                            enjoindre au vendeur d'exécuter celui-ci dans un délai supplémentaire raisonnable.    
                            A défaut d'exécution à l'expiration de ce nouveau délai, l'acheteur pourra librement rompre le contrat.    
                            L'acheteur devra accomplir ces formalités successives par lettre recommandée avec accusé de réception 
                            ou par un écrit sur un autre support durable.   
                            <br>
                            <br> 
                            Le contrat sera considéré comme résolu à la réception par le vendeur de la lettre ou de l'écrit l'informant 
                            de cette résolution, sauf si le professionnel s'est exécuté entre-temps.    
                            L'acheteur pourra cependant résoudre immédiatement le contrat, si les dates ou délais vu 
                            ci-dessus constituent pour lui une condition essentielle du contrat.
                            <br>
                            <br> 
                            Dans ce cas, lorsque le contrat est résolu, le vendeur est tenu de rembourser l'acheteur de la totalité 
                            des sommes versées, au plus tard dans les {% company_details "return_delay" %} suivant la date à laquelle le contrat a été dénoncé.    
                            En cas d'indisponibilité du produit commandé, l'acheteur en sera informé au plus tôt et aura la possibilité 
                            d'annuler sa commande. L'acheteur aura alors le choix de demander soit le remboursement des sommes versées 
                            dans les {% company_details "return_delay" %} au plus tard de leur versement, soit l'échange du produit.    
                        </p>
                    </div>
                </div>

                <div class="card mb-3">
                    <div class="card-body">
                        <h6 class="font-weight-bold text-uppercase mb-3">
                            Article 12 - Modalités de livraison
                        </h6>
                        <p>
                            La livraison s'entend du transfert au consommateur de la possession physique ou du contrôle du bien. 
                            Les produits commandés sont livrés selon les modalités et le délai précisés ci-dessus.    
                            Les produits sont livrés à l'adresse indiquée par l'acheteur sur le bon de commande, l'acheteur devra veiller à son exactitude. 
                            Tout colis renvoyé au vendeur à cause d'une adresse de livraison erronée ou incomplète sera réexpédié aux frais de l'acheteur. 
                        </p>
                        <p>
                            L'acheteur peut, à sa demande, obtenir l'envoi d'une facture à l'adresse de facturation et non à l'adresse de livraison, en validant 
                            l'option prévue à cet effet sur le bon de commande.
                        </p>
                        <p>
                            Si l'acheteur est absent le jour de la livraison, le livreur laissera un avis de passage dans la boîte aux lettres, 
                            qui permettra de retirer le colis à l'endroit et pendant le délai indiqués.    
                            Si au moment de la livraison, l'emballage d'origine est abîmé, déchiré, ouvert, 
                            l'acheteur doit alors vérifier l'état des articles. S'ils ont été endommagés, l'acheteur doit impérativement 
                            refuser le colis et noter une réserve sur le bordereau de livraison (colis refusé car ouvert ou endommagé).
                        </p>
                        <p>
                            L'acheteur doit indiquer sur le bon de livraison et sous forme de réserves manuscrites accompagnées 
                            de sa signature toute anomalie concernant la livraison (avarie, produit manquant par 
                            rapport au bon de livraison, colis endommagé, produits cassés...).
                        </p>
                        <p>
                            Cette vérification est considérée comme effectuée dès lors que l'acheteur, 
                            ou une personne autorisée par lui, a signé le bon de livraison.
                        </p>
                        <p>
                            L'acheteur devra alors confirmer par courrier recommandé ces réserves au transporteur 
                            au plus tard dans les deux jours ouvrables suivant la réception du ou des articles et transmettre 
                            une copie de ce courrier par fax ou simple courrier au vendeur à l'adresse indiquée dans les mentions légales du site.
                        </p>
                        <p>
                            Si les produits nécessitent d'être renvoyés au vendeur, ils doivent faire l'objet 
                            d'une demande de retour auprès du vendeur dans les {% company_details "return_delay" %} suivant la livraison. 
                            Toute réclamation formulée hors de ce délai ne pourra être acceptée. Le retour du produit ne pourra 
                            être accepté que pour les produits dans leur état d'origine (emballage, accessoires, notice...).
                        </p>
                        </p>
                    </div>
                </div>

                <div class="card mb-3">
                    <div class="card-body">
                        <h6 class="font-weight-bold text-uppercase mb-3">

                        </h6>  
                        <p>
                            L'acheteur devra formuler auprès du vendeur le jour même de la livraison ou au plus tard 
                            le premier jour ouvré suivant la livraison, toute réclamation d'erreur de livraison et/ou de 
                            non-conformité des produits en nature ou en qualité par rapport aux indications figurant sur le bon de commande. 
                            Toute réclamation formulée au-delà de ce délai sera rejetée. 
                            <br>
                            <br>
                            La réclamation pourra être faite, au choix de l'acheteur :
                            <ul class="browser-default">
                                <li>numéro de téléphone : {% company_details "telephone" %};</li>
                                <li> adresse e-mail : {% company_details "email" urlize=True %};</li>  
                            </ul>     
                            Toute réclamation non effectuée dans les règles définies ci-dessus et dans les 
                            délais impartis ne pourra être prise en compte et dégagera le vendeur de toute responsabilité 
                            vis-à-vis de l'acheteur.    
                            <br>
                            <br>
                            A réception de la réclamation, le vendeur attribuera un numéro d'échange du ou des produit(s) concerné(s) 
                            et le communiquera par e-mail à l'acheteur. L'échange d'un produit ne peut avoir lieu 
                            qu'après l'attribution du numéro d'échange.    
                            <br>
                            <br>
                            En cas d'erreur de livraison ou d'échange, tout produit à échanger ou à rembourser 
                            devra être retourné au vendeur dans son ensemble et dans son emballage d'origine, 
                            en Colissimo Recommandé, à l'adresse suivante : {% company_details "address" %}.   
                            <br>
                            <br>
                            Les frais de retour sont à la charge du vendeur.    
                        </p>
                    </div>
                </div>

                <div class="card mb-3" id="garantie">
                    <div class="card-body">
                        <h6 class="font-weight-bold text-uppercase mb-3">Article 14 - Garantie des produits</h6> 
                        <p>
                            Garantie légale de conformité et garantie légales des vices cachés.
                            
                            {{ societe}} est garant de la conformité des biens au contrat, permettant à l'acheteur 
                            de formuler une demande au titre de la garantie légale de conformité prévue aux articles 
                            L. 217-4 et suivants du code de la consommation ou de la garantie des défauts de la chose 
                            vendue au sens des articles 1641 et suivants du code civil.
                            <br>
                            <br>
                            En cas de mise en oeuvre de la garantie légale de conformité, il est rappelé que :
                            <ul>
                                <li>l'acheteur bénéficie d'un délai de 2 ans à compter de la délivrance du bien pour agir</li>
                                <li>
                                    l'acheteur peut choisir entre la réparation ou le remplacement du bien, 
                                    sous réserve des conditions de coût prévues par l'article L. 217-17 du code de la consommation ;
                                </li>
                                <li>
                                    l'acheteur n’a pas à apporter la preuve de la non-conformité du bien durant les  24 mois en cas de biens, 
                                    neus (6 mois en cas de biens d'occasion), suivant la délivrance du bien.
                                </li>
                            </ul>    
                            En outre, il est rappelé que :
                            <ul class="browser-default">
                                <li>la garantie légale de conformité s'applique indépendamment de la garantie commerciale indiquée ci-dessous ;</li>
                                <li>
                                    l'acheteur peut décider de mettre en oeuvre la garantie contre les défauts cachés de la chose vendue 
                                    au sens de l'article 1641 du code civil. Dans cette hypothèse, il peut choisir entre la résolution 
                                    de la vente ou une réduction du prix conformément à l'article 1644 du code civil.
                                </li>
                            </ul>            
                        </p>
                    </div>
                </div>

                <div class="card mb-3">
                    <div class="card-body">
                        <h6 class="font-weight-bold text-uppercase mb-3">Article 15 - Droit de rétractation</h6>  
                        <p>
                            <strong>Application du droit de rétractation</strong>
                            <br>
                            <br>
                            Conformément aux dispositions du code de la consommation, l'acheteur dispose d'un délai de 
                            {% company_details "return_delay" %} à compter de la date de livraison de sa commande, pour retourner tout article 
                            ne lui convenant pas et demander l'échange ou le remboursement sans pénalité, à l'exception des frais 
                            de retour qui restent à la charge de l'acheteur.    
                            <br>
                            <br>
                            Les retours sont à effectuer dans leur état d'origine et complets (emballage, accessoires, notice...) 
                            permettant leur recommercialisation à l'état neuf, accompagnés de la facture d'achat.    
                            <br>
                            <br>
                            
                            <strong>Les produits endommagés, salis ou incomplets ne sont pas repris.</strong>
                            <br>
                            <br>
                            Le droit de rétractation peut être exercé en ligne, à l'aide du formulaire de rétractation 
                            disponible sur ce site internet. Dans ce cas, un accusé de réception sur un support durable 
                            sera immédiatement communiqué à l'acheteur. Tout autre mode de déclaration de rétractation est accepté. 
                            Il doit être dénué d'ambiguïté et exprimer la volonté de se rétracter.    
                            <br>
                            <br>
                            En cas d'exercice du droit de rétractation dans le délai susvisé, sont remboursés 
                            le prix du ou des produit(s) acheté(s) et les frais de livraison sont remboursés.    
                            <br>
                            <br>
                            Les frais de retour sont à la charge de l'acheteur.
                            L'échange (sous réserve de disponibilité) ou le remboursement sera effectué dans un délai de {% company_details "return_delay" %}, et au plus tard, 
                            dans le délai de {% company_details "return_delay" %} à compter de la réception, par le vendeur, des produits retournés 
                            par l'acheteur dans les conditions prévues ci-dessus.    
                            <br>
                            <br>

                            <p class="d-none">
                                <strong class="mb-3">Exceptions</strong>
                                Selon l'article L221-28 du Code de la consommation, le droit de rétractation ne peut pas être 
                                exercé pour les contrats :  
                                <ul class="d-none">
                                    <li>
                                        de fourniture de biens dont le prix dépend de fluctuations sur le marché financier échappant 
                                        au contrôle du professionnel et susceptibles de se produire pendant le délai de rétractation;
                                    </li>
                                    <li>
                                        de fourniture de biens confectionnés selon les spécifications du consommateur ou nettement personnalisés ;
                                    </li>
                                    <li>
                                        de fourniture de biens susceptibles de se détériorer ou de se périmer rapidement ;
                                    </li>
                                    <li>
                                        de fourniture de biens qui ont été descellés par le consommateur après la livraison et qui ne peuvent 
                                        être renvoyés pour des raisons d'hygiène ou de protection de la santé ;
                                    </li>
                                    <li>
                                        de fourniture de biens qui, après avoir été livrés et de par leur nature, sont mélangés 
                                        de manière indissociable avec d'autres articles ;
                                    </li>
                                    <li>
                                        de fourniture de boissons alcoolisées dont la livraison est différée au-delà de trente jours et 
                                        dont la valeur convenue à la conclusion du contrat dépend de fluctuations sur le marché échappant 
                                        au contrôle du professionnel ;
                                    </li>
                                    <li>
                                        de travaux d'entretien ou de réparation à réaliser en urgence au domicile du consommateur 
                                        et expressément sollicités par lui, dans la limite des pièces de rechange et travaux 
                                        strictement nécessaires pour répondre à l'urgence ;
                                    </li>
                                    <li>
                                        de fourniture d'enregistrements audio ou vidéo ou de logiciels informatiques 
                                        lorsqu'ils ont été descellés par le consommateur après la livraison ;
                                    </li>
                                    <li>
                                        de fourniture d'un journal, d'un périodique ou d'un magazine, 
                                        sauf pour les contrats d'abonnement à ces publications ;
                                    </li>
                                    <li>
                                        de fourniture d'un contenu numérique non fourni sur un support matériel dont l'exécution 
                                        a commencé après accord préalable exprès du consommateur et renoncement exprès à son droit de rétractation.
                                    </li>
                                </ul>
                            </p>
                        </p>
                    </div>    
                </div>

                <div class="card mb-3">
                    <div class="card-body">
                        <h6 class="font-weight-bold text-uppercase mb-3">Article 16 - Force majeure</h6>
                        <p>
                            Toutes circonstances indépendantes de la volonté des parties empêchant l'exécution dans des 
                            conditions normales de leurs obligations sont considérées comme des causes d'exonération
                            des obligations des parties et entraînent leur suspension.    
                            <br>
                            <br>
                            La partie qui invoque les circonstances visées ci-dessus doit avertir immédiatement 
                            l'autre partie de leur survenance, ainsi que de leur disparition.    
                            <br>
                            <br>
                            Seront considérés comme cas de force majeure tous faits ou circonstances irrésistibles, 
                            extérieurs aux parties, imprévisibles, inévitables, indépendants de la volonté des parties 
                            et qui ne pourront être empêchés par ces dernières, malgré tous les efforts raisonnablement possibles. 
                            De façon expresse, sont considérés comme cas de force majeure ou cas fortuits, 
                            outre ceux habituellement retenus par la jurisprudence des cours et des tribunaux français : 
                            le blocage des moyens de transports ou d'approvisionnements, tremblements de terre, incendies, 
                            tempêtes, inondations, foudre, l'arrêt des réseaux de télécommunication ou difficultés propres 
                            aux réseaux de télécommunication externes aux clients.    
                            <br>
                            <br>
                            Les parties se rapprocheront pour examiner l'incidence de l'événement et 
                            convenir des conditions dans lesquelles l'exécution du contrat sera poursuivie. 
                            Si le cas de force majeure a une durée supérieure à trois mois, les présentes conditions générales 
                            pourront être résiliées par la partie lésée.    
                        </p>
                    </div>
                </div>

                <div class="card mb-3">
                    <div class="card-body">
                        <h6 class="font-weight-bold text-uppercase mb-3">Article 17 - Propriété intellectuelle</h6>
                        <p>
                            Le contenu du site internet reste la propriété du vendeur, seul titulaire des droits 
                            de propriété intellectuelle sur ce contenu.    
                            <br>
                            <br>
                            Les acheteurs s'engagent à ne faire aucun usage de ce contenu ; toute reproduction totale ou partielle 
                            de ce contenu est strictement interdite et est susceptible de constituer un délit de contrefaçon.    
                        </p>
                    </div>
                </div>

                <div class="card mb-3">
                    <div class="card-body">
                        <h6 class="font-weight-bold text-uppercase mb-3">Article 18 - Informatiques et Libertés</h6>
                        <p>
                            Les données nominatives fournies par l'acheteur sont nécessaires au traitement de sa commande et à l'établissement 
                            des factures.    
                            <br>
                            <br>
                            Elles peuvent être communiquées aux partenaires du vendeur chargés de l'exécution, du traitement, 
                            de la gestion et du paiement des commandes.    
                            <br>
                            <br>
                            Le traitement des informations communiquées par l'intermédiaire du site internet {{ company }}  a fait l'objet 
                            d'une déclaration auprès de la CNIL.    
                            <br>
                            <br>
                            L'acheteur dispose d'un droit d'accès permanent, de modification, de rectification et 
                            d'opposition s'agissant des informations le concernant. Ce droit peut être exercé dans les conditions 
                            et selon les modalités définies sur le site {{ company }}.
                        </p>
                    </div>
                </div>

                <div class="card mb-3 d-none">
                    <div class="card-body">
                        <h6 class="font-weight-bold text-uppercase mb-3">Article 19 - Non-validation partielle</h6>
                        <p>
                            Si une ou plusieurs stipulations des présentes conditions générales sont tenues 
                            pour non valides ou déclarées telles en application d'une loi, d'un règlement ou à la suite 
                            d'une décision définitive d'une juridiction compétente, les autres stipulations garderont 
                            toute leur force et leur portée.
                        </p>
                    </div>
                </div>

                <div class="card mb-3 d-none">
                    <div class="card-body">
                        <h6 class="font-weight-bold text-uppercase mb-3">Article 20 - Non-renonciation</h6> 
                        <p>
                            Le fait pour l'une des parties de ne pas se prévaloir 
                            d'un manquement par l'autre partie à l'une quelconque des obligations visées 
                            dans les présentes conditions générales ne saurait être interprété pour 
                            l'avenir comme une renonciation à l'obligation en cause.
                        </p>
                    </div>
                </div>

                <div class="card mb-3 d-none">
                    <div class="card-body">
                        <h6 class="font-weight-bold text-uppercase mb-3">Article 21 - Titre</h6> 
                        <p>
                            En cas de difficulté d'interprétation entre l'un quelconque des titres figurant en tête des clauses,
                            et l'une quelconque des clauses, les titres seront déclarés inexistants.
                        </p>
                    </div>
                </div>
                    
                <div class="card mb-3 d-none">
                    <div class="card-body">
                        <h6 class="font-weight-bold text-uppercase mb-3">Article 22 - Langue du contrat</h6> 
                        <p>
                            Les présentes conditions générales de vente sont rédigées en langue française. 
                            Dans le cas où elles seraient traduites en une ou plusieurs langues étrangères, 
                            seul le texte français ferait foi en cas de litige.
                        </p>
                    </div>
                </div>

                <div class="card mb-3 d-none">
                    <div class="card-body">
                        <h6 class="font-weight-bold text-uppercase mb-3">Article 23 - Médiation</h6> 
                        <p>
                            L'acheteur peut recourir à une médiation conventionnelle, notamment auprès de la Commission de la médiation 
                            de la consommation ou auprès des instances de médiation sectorielles existantes, 
                            ou à tout mode alternatif de règlement des différends (conciliation, par exemple) en cas de contestation.
                        </p>
                    </div>
                </div>

                <div class="card mb-3 d-none">
                    <div class="card-body">    
                        <h6 class="font-weight-bold text-uppercase mb-3">Article 24 - Loi applicable</h6> 
                        <p>
                            Les présentes conditions générales sont soumises à l'application du droit français. Le tribunal compétent est le tribunal 
                            d'instance pour les litiges dont le montant est inférieur ou égal à 10000 € ou le tribunal de grande instance pour les litiges 
                            dont le montant est supérieur à 10000 €.
                            <br>
                            <br>
                            Il en est ainsi pour les règles de fond comme pour les règles de forme. 
                            En cas de litige ou de réclamation, l'acheteur s'adressera en priorité 
                            au vendeur pour obtenir une solution amiable.
                        </p>   
                    </div>
                </div>  
                        
                <div class="card mb-3 d-none">
                    <div class="card-body">
                        <h6 class="font-weight-bold text-uppercase mb-3">Article 25 - Protection des données personnelles</h6>
                        <p>
                            <strong>Données collectées</strong>
                            <br>
                            <br>
                            Les données à caractère personnel qui sont collectées sur ce site sont les suivantes :     
                            <ul>
                                <li>
                                    Ouverture de compte: lors de la création du compte de l'utilisateur, ses noms, prénoms, email,
                                    numéro de téléphone et addresse postale   
                                </li>
                                <li>
                                    Connexion : lors de la connexion de l'utilisateur au site web, celui-ci enregistre, notamment, ses nom, 
                                    prénom, données de connexion, d'utilisation, de localisation et ses données relatives au paiement.
                                </li>
                                <li>
                                    Profil : l'utilisation des prestations prévues sur le site web permet de renseigner 
                                    un profil, pouvant comprendre une adresse et un numéro de téléphone.
                                </li>
                                <li>
                                    Paiement: dans le cadre du paiement des produits et prestations proposés sur le site web, 
                                    celui-ci enregistre des données financières relatives au compte bancaire ou à la carte de crédit de l'utilisateur.    
                                </li>
                                <li>
                                    Communication : lorsque le site web est utilisé pour communiquer avec d'autres membres, 
                                    les données concernant les communications de l'utilisateur font l'objet d'une conservation temporaire.
                                </li>
                                <li>
                                    Cookies :   les cookies sont utilisés, dans le cadre de l'utilisation du site. 
                                    L'utilisateur a la possibilité de désactiver les cookies à partir des paramètres de son navigateur.
                                </li>
                            </ul>
                        </p>
                    </div>
                </div>

                <div class="card" id="promo">
                    <div class="card-body">
                        <h6 class="font-weight-bold text-uppercase mb-3">Article 21 - Les codes promotionnels</h6> 
                        <p>
                            Afin de bénéficier d'un code promotionnel créé par {{ company }} 
                            l'acheteur doit l'insérer sur la page de paiement. Pour plus d’informations sur les codes promo 
                            et sur leurs règles d’utilisation, vous pouvez les trouver sur les pages d'aide en cliquant ici.
                        </p>

                        <p>
                            Chaque code promotionnel dispose de ses propres conditions, 
                            celles-ci sont clarifiées lorsque le code est envoyé à l'acheteur.
                        </p>

                        <p>
                            Si vous recevez un code promo unique qui ne doit être utilisé 
                            que par vous (par exemple, un code promo étudiant), 
                            veuillez le garder pour vous et ne laissez personne 
                            l’utiliser (par exemple, en ne les repostant pas sur les réseaux sociaux). 
                            Si nous pensons qu’il y a ou qu’il y a eu une utilisation abusive du code promo 
                            de quelque façon (par exemple, la vente ou le partage du code promo), 
                            nous pouvons l'annuler et/ou suspendre ou même fermer votre compte sans vous l’informer.
                        </p>
                        <p>
                            Finalement, si le code promotionnel n’est pas utilisé correctement parce 
                            qu'un client {{ company }} en abuse ou en cas de problème technique 
                            (par exemple : fraude, falsification, erreurs techniques ou tout ce qui est hors de 
                            notre contrôle et porte atteinte au fonctionnement et à l'utilisation raisonnable du code promo) ; 
                            nous nous réservons le droit de l'annuler, de le modifier ou de le suspendre.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block footer %}
    {% include "project_components/navs/footer.html" %}
{% endblock %}
