<script>
    var switchcomponent3 = {
        template: "\
        <div class='custom-control custom-switch'>\
            <input @change='doaction' v-model='selected' type='checkbox' class='custom-control-input' id='customSwitch3'>\
            <label class='custom-control-label' for='customSwitch3'>Product Manager</label>\
        </div>\
        ",
        delimiters: ["[[", "]]"],
        data() {
            return {
                selected: false
            }
        },
        beforeMount() {
            var isproductmanager = "{{ user.is_product_manager }}"
            if (isproductmanager === "True") {
                this.$data.selected = true
            } else {
                this.$data.selected = false
            }
        },
        methods: {
            doaction: function() {
                this.$emit("doaction", "product_manager")
            }
        }
    }

    var switchcomponent2 = {
        template: "\
        <div class='custom-control custom-switch'>\
            <input @change='doaction' v-model='selected' type='checkbox' class='custom-control-input' id='customSwitch2'>\
            <label class='custom-control-label' for='customSwitch2'>Admin</label>\
        </div>\
        ",
        delimiters: ["[[", "]]"],
        data() {
            return {
                selected: false
            }
        },
        beforeMount() {
            var isadmin = "{{ user.is_admin }}"
            if (isadmin === "True") {
                this.$data.selected = true
            } else {
                this.$data.selected = false
            }
        },
        methods: {
            doaction: function() {
                this.$emit("doaction", "admin")
            }
        }
    }

    var switchcomponent = {
        template: "\
        <div class='custom-control custom-switch'>\
            <input @change='doaction' v-model='selected' type='checkbox' class='custom-control-input' id='customSwitch1'>\
            <label class='custom-control-label' for='customSwitch1'>Staff</label>\
        </div>\
        ",
        delimiters: ["[[", "]]"],
        data() {
            return {
                selected: false
            }
        },
        beforeMount() {
            var isstaff = "{{ user.is_staff }}"
            if (isstaff === "True") {
                this.$data.selected = true
            } else {
                this.$data.selected = false
            }
        },
        methods: {
            doaction: function() {
                this.$emit("doaction", "staff")
            }
        }
    }

    var switchesapp = new Vue({
        el: "#switches_app_user",
        components: {switchcomponent, switchcomponent2, switchcomponent3},
        methods: {
            performaction: function(name) {
                var formdata = new FormData()
                formdata.append("csrfmiddlewaretoken", csrf)

                formdata.append("method", "user_role")
                formdata.append("switch", name)

                var xhr = new XMLHttpRequest()
                // xhr.onloadend = function() {
                //     $("#messages").fadeIn(2000).removeClass("d-none")

                //     setTimeout(() => {
                //         $("#messages").fadeOut(2000).addClass("d-none")
                //     }, 8000);
                // }
                xhr.open("POST", window.location.href)
                xhr.send(formdata)
            }
        }
    })
</script>