<nav class="navbar fixed-top navbar-expand-lg navbar-light white scrolling-navbar">
    <div class="container">
        <!-- Brand -->
        <a class="navbar-brand waves-effect" href="{% url 'home' %}">
            <strong class="blue-text">Nawoka</strong>
        </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <!-- LEFT -->
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link waves-effect" href="{% url 'home' %}">Home
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link waves-effect" href="{% url 'shop' %}">Shop
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link waves-effect" href="{% url 'shop_gender' 'femme' %}">Femme
                    </a>
                </li>
            </ul>

            <!-- RIGHT -->
            <ul class="navbar-nav nav-flex-icons">
                <li class="nav-item">
                    <a href="{% url 'checkout' %}" class="nav-link waves-effect">
                        <span class="badge red z-depth-1 mr-1">1</span>
                        <i class="fas fa-shopping-cart"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/admin/" target="_blank" class="nav-link waves-effect">
                        <i class="fas fa-admin"></i>Admin
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'index' %}" target="_blank" class="nav-link waves-effect">
                        <i class="fas fa-admin"></i>Dashboard
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>