<nav class="main-menu mobile-menu">
    <ul>
        <li><a class="active" href="./index.html">Home</a></li>
        <li><a href="./categories.html">Shop</a>
            <ul class="sub-menu">
                <li><a href="product-page.html">Product Page</a></li>
                <li><a href="shopping-cart.html">Shopping Card</a></li>
                <li><a href="check-out.html">Check out</a></li>
            </ul>
        </li>
        <li><a href="./product-page.html">About</a></li>
        <li><a href="./check-out.html">Blog</a></li>
        <li><a href="./contact.html">Contact</a></li>
    </ul>
</nav>