<nav class="navbar fixed-top navbar-expand-lg navbar-light white scrolling-navbar {% block nav_display %}{% endblock %}">
    <div class="container">
        <!-- BRAND -->
        <a class="navbar-brand waves-effect" href="{% url 'home' %}">
            <strong class="blue-text">Nawoka</strong>
        </a>

        <!-- HAMBURGER -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <!-- OFFCANVAS -->
            {# {% include "./components/offcanvas.html" %} #}

            <!-- DROP LARGE -->
            {% include "./components/dropdown_medium.html" %}

            <!-- RIGHT -->
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a href class="nav-link waves-effect" id="link_search">
                        <i class="fa fa-search"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'checkout' %}" class="nav-link waves-effect" id="link_cart">
                        {# <span class="badge red z-depth-1 mr-1">1</span> #}
                        <i class="fas fa-shopping-cart"></i>
                    </a>
                </li>
                {% if user.is_admin %}
                    <li class="nav-item">
                        <a href="{% url 'logout' %}" class="nav-link waves-effect" id="link_logout">
                            <i class="fa fa-sign-out"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/admin/" target="_blank" class="nav-link waves-effect">
                            <i class="fas fa-tachometer-alt"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/dashboard/" target="_blank" class="nav-link waves-effect">
                            <i class="fas fa-tachometer-alt red-text"></i>
                        </a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>