{% extends "pages/accounts/base.html" %}
{% load static i18n %}

{% block title %}{% trans "Modes de paiement" %}{% endblock %}

{% block profile_content %}
    <div class="card-panel">
        <div id="app">
            <stripecard />
        </div>
    </div>
{% endblock profile_content %}

{% block extra_scripts %}
<script src="https://js.stripe.com/v3/"></script>
{{ publishable_key|json_script:"publishable_key" }}
<script src="{% static 'stripe_vue.js' %}"></script>
<!-- <script>
    $(document).ready(function () {
        var form = $('#payment_form')
        
        var Payment = (function(stripe_id) {
            var stripe = Stripe(stripe_id)
            var elements = stripe.elements()
            var style = {
                base: {
                    fontWeight: 500,
                    fontFamily: 'Raleway, Roboto',
                    fontSize: '16px'
                }
            }
            var card = elements.create('card', {style: style})

            card.mount('#card_element')

            
            var csrf = function() {
                var token = form.find('input[name="csrfmiddlewaretoken"]').val()
                return token
            }

            var tokenHandler = function(data) {
                var processUri = window.location.href + 'payment-process/'
                var token = data.token.id

                var addressForm = $('#address_form')
                var informationForm = $("#information_form")

                var inputFields = form.find("input")

                var dataToPost = {}

                dataToPost["email"] = informationForm.find("input#email").val()
                dataToPost["telephone"] = informationForm.find("input#telephone").val()

                // Implement address
                dataToPost["address"] = addressForm.find("input#id_address").val()
                dataToPost["city"] = addressForm.find("input#id_city").val()
                dataToPost["zip_code"] = addressForm.find("input#id_zip_code").val()
                dataToPost["country"] = addressForm.find(".select-wrapper li.selected").text()

                // Implement shipping
                dataToPost["shipping"] = $('#shipping_form').find("input[type='radio']:checked").attr('id')

                // Implement token
                dataToPost["stripe_token"] = data.token.id

                // Implement CSRF
                dataToPost["csrfmiddlewaretoken"] = csrf()

                $.ajax({
                    type: "POST",
                    url: processUri,
                    data: dataToPost,
                    dataType: "json",
                    success: function (response) {
                        // If the payment was successful,
                        // then redirect to the success page
                        window.location = response.redirect_url
                        console.log(response)
                    },
                    error: function(response) {
                        // window.location = response.redirect_url
                        console.error(response.error)
                    }
                });
            }

            var cardForm = function() {
                form.on("submit", function(e) {
                    e.preventDefault()
                    
                    stripe.createToken(card).then(function(result) {
                        if (result.error) {
                            var errorElement = document.getElementById("card-errors")
                            errorElement.textContent = result.error.message
                        } else {
                            tokenHandler(result)
                        }
                    });
                })
            }
            
            cardForm();
        })

        Payment("{{ publishable_key }}")
    });
</script> -->
{% endblock %}