<div id="app-cover">
    <div id="app">
        <form method="get" action="">
            <div id="f-element">
                <div id="inp-cover"><input type="text" name="query" placeholder="Type something to search ..."
                        autocomplete="off"></div>
            </div>
            <button type="submit" class="shadow"><i class="fas fa-search"></i></button>
        </form>
    </div>
    <div id="layer" title="Click the blue area to hide the form"></div>
    <div id="init"></div>
</div>
