<script type="application/ld+json">
    {
        "@context": "https://schema.org",   
        "@type": "FAQPage",
        "mainEntity": [
            {
                "@type": "Question",
                "name": "Quelle est notre politique de retours ?",
                "acceptedAnswer": {
                    "@type": "Answer",
                    "text": "Les articles doivent être retournés dans les 14 jours suivant la réception de votre commande. Vous ne devez pas avoir porté ou lavé les articles. Les produits de beauté, les bijoux pour emplacements percés ou les maillots de bain (si la protection hygiénique a été retirée) ne peuvent être retournés pour des raisons de santé et d’hygiène."
                }
            }
        ]
    }
</script>
