<script>
    var importcsvapp = new Vue({
        el: "#export_csv_app",
        name: "ExportApp",
        delimiters: ["[[", "]]"],
        data() {
            return {
                selected: {
                    current: true,
                    all: false,
                    collection: false
                },
                collectionname: "",
                index: 0,
            }
        },
        computed: {
            disablebutton() {
                if (this.$data.index === 2 & this.$data.collectionname === "") {
                    return true
                } else {
                    return false
                }
            },
            constructurl() {
                var base = "{% url 'download_csv' %}"

                if (this.$data.index === 0) {
                    return base + "?method=current"
                }
                if (this.$data.index === 1) {
                    return base + "?method=all"
                }
                if (this.$data.index === 2) {
                    return base + "?method=collection&using=" + this.$data.collectionname
                }
            }
        },
        methods: {
            selectoption: function(index) {
                Object.keys(this.$data.selected).forEach((key) => {
                    this.$data.selected[key] = false
                })
                
                this.$data.index = index

                if (this.$data.index === 0) {
                    this.$data.selected.current = !this.$data.selected.current
                }
                if (this.$data.index === 1) {
                    this.$data.selected.all = !this.$data.selected.all
                }
                if (this.$data.index === 2) {
                    this.$data.selected.collection = !this.$data.selected.collection
                }
            }
        }
    })
</script>