{% load i18n %}

<div class="card mt-2">
    <div class="card-body">
        <p class="font-weight-bold mb-4">{% trans "Variants" %}</p>

        <div class="form-group">
            <div class="custom-control custom-checkbox">
                <input @click="showsize =! showsize" type="checkbox" class="custom-control-input" name="size" id="size">
                <label class="custom-control-label" for="size">
                    {% trans "Ce produit possède une taille" %}
                </label>
            </div>
        </div>    

        <div v-if="showsize" class="form-group">
            <hr class="mt-3 mb-3">
            <label for="clothe_size">{% trans "Options de taille" %}</label>
            {{ form.clothe_size }}
        </div>
    </div>
</div>