{% extends "../index.html" %}

{% block content %}
<div class="row d-none" id="messages">
    <div class="col-md-12">
        <div class="alert alert-info" role="alert">
            Vous avez activé {{ product.name }}. <a href="{{ product.get_absolute_url }}" 
                    class="alert-link" target="_blank">Voyez par vous même.</a>
        </div>
    </div>
</div>

<section class="section" id="product">
    <div class="row wow fadeIn">
        <div class="col-md-4 mb-4">
            <div class="card">
                {% with image=product.get_main_image.image_url %}
                    <img class="card-img-top" src="{{ image|default:'https://via.placeholder.com/800' }}" alt="main_image">                      
                {% endwith %}
                <div class="card-body">
                    <button type="button" class="btn btn-primary btn-sm" data-toggle="modal"
                                        data-target="#fluidModalBottomDangerDemo">Pictures</button>
                </div>
            </div>
        </div>
        <div class="col-md-8 mb-4">
            <div class="card">
                <div class="card-header blue">
                    <h4>{{ product.collection.name }} / {{ product.name }}</h4>
                </div>
                <div class="card-body">
                    <p><a href="{{ product.get_absolute_url }}" target="_blank">Voir sur le site</a></p>
                    <span id="switches_app"><switchcomponent @doaction="performaction" /></span>
                    <p>Crée le : {{ product.created_on }}</p>
                </div>
            </div>

            <div class="card mt-3">
                <div class="card-body">
                    <h4>Description</h4>
                    <p class="card-text">
                        {{ product.description|default:"No description" }}
                    </p>
                </div>
            </div>

            <div class="card mt-3">
                <div class="card-body">
                    <a href="{% url 'product_orders' product.id %}" class="btn blue">Orders</a>
                    <a href="{% url 'update' product.id %}" class="btn blue">Update</a>
                    <a class="btn btn-danger" data-toggle="modal" data-target="#sideModalBRDangerDemo">Delete</a>
                </div>
            </div>
        </div>
    </div>
    <div class="csrf">{% csrf_token %}</div>
</section>

{% include "../components/others/modals/bottom_right.html" %}

{% include "../components/others/modals/fluid_modal_bottom.html" with title="Images du produit" %}
{% endblock %}

{% block vuejs_scripts %}
    <script>
        var csrf = $(".csrf input").val()
        var switchcomponent = {
            template: "\
            <div class='custom-control custom-switch'>\
                <input @change='doaction' v-model='selected' type='checkbox' class='custom-control-input' id='customSwitch1'>\
                <label class='custom-control-label' for='customSwitch1'>[[ displaytext ]]</label>\
            </div>\
            ",
            delimiters: ["[[", "]]"],
            data() {
                return {
                    selected: false
                }
            },
            beforeMount() {
                var isactive = "{{ product.active }}"
                if (isactive === "True") {
                    this.$data.selected = true
                } else {
                    this.$data.selected = false
                }
            },
            computed: {
                displaytext() {
                    if (this.$data.selected) {
                        return "Désactiver"
                    } else {
                        return "Activer"
                    }
                }
            },
            methods: {
                doaction: function() {
                    this.$emit("doaction")
                }
            }
        }

        var switchesapp = new Vue({
            el: "#switches_app",
            components: {switchcomponent},
            methods: {
                performaction: function() {
                    var formdata = new FormData()
                    formdata.append("csrfmiddlewaretoken", csrf)
                    formdata.append("method", "state")

                    var xhr = new XMLHttpRequest()
                    xhr.onloadend = function() {
                        $("#messages").fadeIn(2000).removeClass("d-none")

                        setTimeout(() => {
                            $("#messages").fadeOut(2000).addClass("d-none")
                        }, 8000);
                    }
                    xhr.open("POST", window.location.href)
                    xhr.send(formdata)
                }
            }
        })

        var inputfilecomponent = {
            template: "\
            <div class='card-body grey'>\
                <input type='file' name='new-image' id='new-image'>\
            </div>\
            "
        }

        var bottommodalapp = new Vue({
            el: "#pictures_modal_app",
            components: {inputfilecomponent}
        })
    </script>
{% endblock %}