<form action="{% url  'add_coupon' %}" method="POST" class="card p-2">
    {% csrf_token %}
    <div class="input-group">
        <!-- <input type="text" name="coupon" class="form-control" 
                placeholder="Coupon" aria-label="Recipient's username" aria-describedby="basic-addon2"> -->
        {% for field in coupon_form %}
            {{ field }}
        {% endfor %}
        <div class="input-group-append">
            <button type="submit" class="btn btn-secondary btn-md waves-effect m-0">Ajouter</button>
        </div>
    </div>
</form>