{% extends "../../index.html" %}

{% block title %}Détails : {{ image.name }}{% endblock %}

{% block content %}
<section class="section" id="image">
    <div class="row wow fadeIn">
        <div class="col-md-6">
            <div class="card">
                {% if is_linked %}
                    <fa class="fa fa-link fa-2x shadow-sm white red-text" style="position: absolute;top: 14px;right: 34px;padding: 1rem;border-radius: 50%;"></fa>
                {% endif %}
                <img src="{{ image.url  }}" alt="{{ image.name }}" class="img-fluid">
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h4 class="mb-2 mb-sm-0 pt-1">
                        <a href="/" target="_blank">Accueil</a>
                        <span>/</span>
                        <span>{{ image.name }}</span>
                    </h4>
                </div>
                <div class="card-body">
                    <form action="{% url 'manage_image' image.id %}" method="post">
                        {% csrf_token %}

                        {% for field in form %}
                            <div class="form-row mt-2">
                                {{ field }}
                            </div>
                        {% endfor %}
                        <div class="form-row mt-2">
                            <input type="hidden" name="method" value="details">
                        </div>
                        <button type="submit" class="btn btn-primary mt-3 float-right mr-0">Valider</button>
                    </form>
                </div>
            </div>

            <div class="card mt-3">
                <div class="card-body">
                    <p class="font-weight-bold text-muted mb-2">Associer cette image à un produit</p>
                    <form action="{% url 'manage_image' image.id %}" method="post">
                        {% csrf_token %}

                        {% for field in images_form %}
                            <div class="form-row">
                                {{ field }}
                            </div>
                        {% endfor %}
                        <div class="form-row mt-2">
                            <input type="hidden" name="method" value="associate">
                        </div>
                        <button type="submit" class="btn btn-large btn-primary">Associer au produit</button>
                    </form>
                </div>
            </div>

            <div class="card mt-3">
                <div class="card-body">
                    <form action="{% url 'manage_image' image.id %}" method="post">
                        {% csrf_token %}
                        <div class="form-row mt-2">
                            <input type="hidden" name="method" value="dissociate">
                        </div>
                        <button type="submit" class="btn btn-block btn-primary">Tout dissocier</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="csrf">{% csrf_token %}</div>
</section>
{% endblock %}

{% block vuejs_scripts %}
{% endblock %}