{% extends "../../index.html" %}
{% load static price_tags %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'overlays.css' %}">
{% endblock %}

{% block content %}
<div class="row d-none" id="messages">
    <div class="col-md-12">
        <div class="alert alert-info" role="alert">
            Vous avez activé {{ product.name }}. <a href="{{ product.get_absolute_url }}" 
                    class="alert-link" target="_blank">Voyez par vous même.</a>
        </div>
    </div>
</div>

<section class="section" id="product">
    <div class="row wow fadeIn">
        <div class="col-md-2 mb-4">
            {% for image in additional_images %}
                <div class="card mb-2">
                    <img src="{{ image.url}}" alt="test" class="img-fluid">
                </div>
            {% empty %}
                <img src="https://via.placeholder.com/800" class="card-img-topimg-fluid" alt="{{ image.name }}">
            {% endfor %}
        </div>

        <div class="col-md-4 mb-4">
            <div class="card">
                <!-- OVERLAY -->
                <div class="btn12">
                    <img class="card-img-top" src="{{ product.get_main_image_url|default:'https://via.placeholder.com/800' }}" alt="main_image">                      
                    <div class="ovrly"></div>
                    <div class="buttons">
                        <!-- <a href="#" class="fa fa-plus"></a> -->
                        <a class="fa fa-plus" data-toggle="modal" data-target="#link_produt_to_image"></a>
                        <a href="#" class="fa fa-unlink"></a>
                    </div>
                </div>
                <div class="card-body">
                    {% include "../../components/others/modal_button.html" with btn_name="Associer images" target="link_produt_to_image" %}
                </div>                    
                {% comment %}
                {% endcomment %}
            </div>
        </div>

        <div class="col-md-6 mb-4">
            <div class="card">
                <div class="card-header blue">
                    <h4>{{ product.collection.name }} / {{ product.name }}</h4>
                </div>
                <div class="card-body">
                    <p>{{ product.price_ht|price_to_text }}</p>
                    <p>{{ product.discount_pct }}</p>
                    <p><a href="{{ product.get_absolute_url }}" target="_blank">Voir sur le site</a></p>
                    <span id="switches_app">
                        <div class="row">
                            <div class="col-auto">
                                <switchcomponent2 @doaction="performaction" />
                            </div>
                            <div class="col-6">
                                <switchcomponent @doaction="performaction" />
                            </div>
                            <div class="col-4">
                                <switchcomponent3 @doaction="performaction" />
                            </div>
                        </div>
                    </span>
                    <p>Crée le : {{ product.created_on }}</p>
                </div>
            </div>

            <div class="card mt-3">
                <div class="card-body">
                    <h4>Description</h4>
                    <p class="card-text">
                        {{ product.description|default:"No description" }}
                    </p>
                </div>
            </div>

            <div class="card mt-3">
                <div class="card-body">
                    <a href="{% url 'product_orders' product.id %}" class="btn blue">Orders</a>
                    <a href="{% url 'update' product.id %}" class="btn blue">Update</a>
                    <a class="btn btn-danger" data-toggle="modal" data-target="#sideModalBRDangerDemo">Supprimer</a>
                </div>
            </div>
        </div>
    </div>
    <div class="csrf">{% csrf_token %}</div>
</section>

<!-- MODAL -->
{% include "../../components/others/modals/bottom_right.html" %}
{% include "../../components/others/modals/product_to_image.html" %}
{% endblock %}

{% block vuejs_scripts %}
<script>
    var csrf = $(".csrf input").val()
    // PRODUCT MANAGEMENT
    var switchcomponent3 = {
        template: "\
        <div class='custom-control custom-switch'>\
            <input @change='doaction' v-model='selected' type='checkbox' class='custom-control-input' id='customSwitch3'>\
            <label class='custom-control-label' for='customSwitch3'>[[ displaytext ]]</label>\
        </div>\
        ",
        delimiters: ["[[", "]]"],
        data() {
            return {
                selected: false
            }
        },
        beforeMount() {
            var isinstock = "{{ product.in_stock }}"
            if (isinstock === "True") {
                this.$data.selected = true
            } else {
                this.$data.selected = false
            }
        },
        computed: {
            displaytext() {
                if (this.$data.selected) {
                    return "En stock"
                } else {
                    return "Pas en stock"
                }
            }
        },
        methods: {
            doaction: function() {
                this.$emit("doaction", "stock")
            }
        }
    }

    var switchcomponent2 = {
        template: "\
        <div class='custom-control custom-switch'>\
            <input @change='doaction' v-model='selected' type='checkbox' class='custom-control-input' id='customSwitch2'>\
            <label class='custom-control-label' for='customSwitch2'>[[ displaytext ]]</label>\
        </div>\
        ",
        delimiters: ["[[", "]]"],
        data() {
            return {
                selected: false
            }
        },
        beforeMount() {
            var isdiscounted = "{{ product.discounted }}"
            if (isdiscounted === "True") {
                this.$data.selected = true
            } else {
                this.$data.selected = false
            }
        },
        computed: {
            displaytext() {
                if (this.$data.selected) {
                    return "Enlever la réduction"
                } else {
                    return "Appliquer une réduction"
                }
            }
        },
        methods: {
            doaction: function() {
                this.$emit("doaction", "reduction")
            }
        }
    }

    var switchcomponent = {
        template: "\
        <div class='custom-control custom-switch'>\
            <input @change='doaction' v-model='selected' type='checkbox' class='custom-control-input' id='customSwitch1'>\
            <label class='custom-control-label' for='customSwitch1'>[[ displaytext ]]</label>\
        </div>\
        ",
        delimiters: ["[[", "]]"],
        data() {
            return {
                selected: false
            }
        },
        beforeMount() {
            var isactive = "{{ product.active }}"
            if (isactive === "True") {
                this.$data.selected = true
            } else {
                this.$data.selected = false
            }
        },
        computed: {
            displaytext() {
                if (this.$data.selected) {
                    return "Désactiver"
                } else {
                    return "Activer"
                }
            }
        },
        methods: {
            doaction: function() {
                this.$emit("doaction", "state")
            }
        }
    }

    var switchesapp = new Vue({
        el: "#switches_app",
        components: {switchcomponent, switchcomponent2, switchcomponent3},
        methods: {
            performaction: function(name) {
                var formdata = new FormData()
                formdata.append("csrfmiddlewaretoken", csrf)

                if (name === "state") {
                    formdata.append("method", "state")
                } else if (name === "reduction") {
                    formdata.append("method", "reduction")
                } else if (name === "stock") {
                    formdata.append("method", "stock")
                }

                var xhr = new XMLHttpRequest()
                // xhr.onloadend = function() {
                //     $("#messages").fadeIn(2000).removeClass("d-none")

                //     setTimeout(() => {
                //         $("#messages").fadeOut(2000).addClass("d-none")
                //     }, 8000);
                // }
                xhr.open("POST", window.location.href)
                xhr.send(formdata)
            }
        }
    })
</script>

<script>
// MODAL COMPONENTS
const STATUS_INITIAL = 0, 
STATUS_SAVING = 1, 
STATUS_SUCCESS = 2, 
STATUS_FAILED = 3

var tabbedcomponent = {
    delimiters: ["[[", "]]"],
    template: "\
    <div class='row'>\
        <div class='col-12'>\
            <ul class='nav nav-pills mb-3' id='pills-tab' role='tablist'>\
                <li v-for='(link, index) in links' :key='link.name' class='nav-item'>\
                    <a @click='updateactive(index)' class='nav-link' :class='{\"active\": setfirstactive(index)}' \
                        :id='link.id' data-toggle='pill' :href='link.href' role='tab'>\
                            [[ link.name ]]\
                    </a>\
                </li>\
            </ul>\
        </div>\
        <div class='row'>\
            <div class='tab-content' id='nav-tabContent'>\
                <div @click='updateactive(index)' class='tab-pane fade' :class='{\"show active\": firstactive}' id='nav-home' \
                    role='tabpanel'>Great</div>\
                    \
                <div @click='updateactive(index)' class='tab-pane fade' :class='{\"show active\": secondactive}' id='nav-profile' \
                    role='tabpanel'>No</div>\
                    \
                <div @click='updateactive(index)' class='tab-pane fade' :class='{\"show active\": thirdactive}' id='nav-contact' \
                    role='tabpanel'>Yes</div>\
            </div>\
        </div>\
    </div>\
    ",
    data() {
        return {
            links: [
                {name: "Sélectionnées", id: "pill-home-tab", href: "#pills-home", selected: true},
                {name: "Disponibles", id: "pill-second-tab", href: "#pills-second", selected: false}
            ],
            currentindex: 0
        }
    },
    computed: {
        thirdactive() {
            if (this.$data.currentindex === 2) {
                return true
            } else {
                return false
            }
        },
        secondactive() {
            if (this.$data.currentindex === 1) {
                return true
            } else {
                return false
            }
        },
        firstactive() {
            if (this.$data.currentindex === 0) {
                return true
            } else {
                return false
            }
        }
    },
    methods: {
        setfirstactive: function(index) {
            if (index === 0) {
                return true
            }
            return false
        },
        updateactive: function(index) {
            this.$data.currentindex = index
        }
    }
}

var additionalimages = {
    template: "\
    <div class='col-md-2'>\
        <div v-for='image in vue_images' class='card'>\
            <img src='{{ image.url }}' alt='' class='card-img-top'>\
        </div>\
    </div>\
    "
}

var inputfilecomponent = {
    template: "\
    <div class='card-body grey'>\
        <input v-if='isinitial | issuccess' @change='getfiles($event.target.name, $event.target.files)' type='file' name='new-image' id='new-image'>\
        <div v-if='issaving' class='spinner-border' role='status'>\
            <span class='sr-only'>Loading...</span>\
        </div>\
    </div>\
    ",
    data() {
        return {
            currentstatus: STATUS_INITIAL
        }
    },
    computed: {
        issuccess() {
            return this.$data.currentstatus === STATUS_SUCCESS
        },
        issaving() {
            return this.$data.currentstatus === STATUS_SAVING
        },
        isinitial() {
            return this.$data.currentstatus === STATUS_INITIAL
        }
    },
    methods: {
        save: function(formdata) {
            var self = this
            var promise = new Promise((resolve, reject) => {
                var xhr = new XMLHttpRequest()
                xhr.onloadstart = function() {self.$data.currentstatus = STATUS_SAVING}
                xhr.onloadend = function () {self.$data.currentstatus = STATUS_SUCCESS}
                xhr.open("POST", window.location.href)
                xhr.send(formdata)
                resolve(xhr.response)
            }).then((response) => {
                console.log(response)
            })
        },
        getfiles: function(name, files) {
            var formdata = new FormData()
            formdata.append("csrfmiddlewaretoken", csrf)
            formdata.append("method", "images")
            console.log(files)

            Object.keys(files).forEach(key => {
                console.log(key)
                formdata.append("images", files[key], files[key]["name"])
            })
            this.save(formdata)
            console.log(formdata)
        } 
    }
}

var bottommodalapp = new Vue({
    el: "#pictures_modal_app",
    components: {inputfilecomponent, additionalimages, tabbedcomponent}
})
</script>
{% endblock %}