{% extends "../../index.html" %}
{% load static price_tags %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'overlays.css' %}">
{% endblock %}

{% block title %}Détails : {{ product.name }}{% endblock %}

{% block content %}
<section class="section" id="product">
    <div class="row wow fadeIn">
        <div class="col-md-2 mb-4">
            {% for image in additional_images %}
                <div class="card mb-2">
                    <!-- OVERLAY -->
                    <div class="btn12">
                        <img src="{{ image.url}}" alt="test" class="img-fluid" alt="side-images">
                        <div class="ovrly"></div>
                        <div class="buttons">
                            <a href="#" class="fa fa-star"></a>
                            <a class="fa fa-plus" data-toggle="modal" data-target="#link_produt_to_image"></a>
                            <a href="#" class="fa fa-unlink"></a>
                        </div>
                    </div>
                </div>
            {% empty %}
                <img src="https://via.placeholder.com/800" class="card-img-top img-fluid" alt="placeholder">
                <img src="https://via.placeholder.com/800" class="card-img-top img-fluid mt-1" alt="placeholder">
            {% endfor %}
        </div>

        <div class="col-md-4 mb-4">
            <div class="card">
                <!-- OVERLAY -->
                <div class="btn12" id="main_card_actions">
                    <img class="card-img-top" src="{{ product.get_main_image_url|default:'https://via.placeholder.com/800' }}" alt="main_image">                      
                    <div class="ovrly"></div>
                    <div class="buttons">
                        <a href="#" class="fa fa-star"></a>
                        <a class="fa fa-plus" data-toggle="modal" data-target="#link_produt_to_image"></a>
                        <unlinkimage @unlink="sendrequest" />
                    </div>
                </div>
                {% comment %}
                    <div class="card-body">
                        {% include "../../components/others/modal_button.html" with btn_name="Associer images" target="link_produt_to_image" %}
                    </div>                    
                {% endcomment %}
            </div>
        </div>

        <div class="col-md-6 mb-4">
            <div class="card">
                <div class="card-header blue">
                    <h4>{{ product.collection.name }} / <span class="font-weight-lighten">{{ product.name }}</span></h4>
                </div>
                <div class="card-body">
                    <p>{{ product.price_ht|price_to_text }}</p>
                    <p>{{ product.sku }}</p>
                    <p>{{ product.discount_pct }}</p>
                    <p>
                        <a href="{{ product.get_absolute_url }}" target="_blank" id="link_see_on_site">Voir sur le site</a>
                        <i class="fa fa-copy fa-1x" style="cursor: pointer;" onclick="copyLink()"></i>
                    </p>
                    <p>Crée le : {{ product.created_on }}</p>
                    

                    <hr class="mt-2 mb-2">

                    <span id="switches_app">
                        <div class="row">
                            <div class="col-12">
                                <switchcomponent @doaction="performaction" />
                            </div>
                            {% if user.is_admin or user.is_product_manager %}
                                <div class="col-12">
                                    <switchcomponent2 @doaction="performaction" />
                                </div>
                                <div class="col-12">
                                    <switchcomponent3 @doaction="performaction" />
                                </div>
                            {% endif %}
                        </div>
                    </span>                        
                </div>
            </div>

            <div class="card mt-3">
                <div class="card-body">
                    <h4>Description</h4>
                    <p class="card-text">
                        {{ product.description|default:"No description" }}
                    </p>
                </div>
            </div>

            <div class="card mt-3">
                <div class="card-body text-center">
                    <a href="{% url 'product_orders' product.id %}" class="btn btn-sm blue">Commandes</a>
                    <a href="{% url 'update' product.id %}" class="btn btn-sm blue">Modifier</a>
                    {% if user.is_admin or user.is_product_manager %}
                        <a class="btn btn-sm btn-danger" data-toggle="modal" data-target="#sideModalBRDangerDemo">Supprimer</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <div class="csrf">{% csrf_token %}</div>
</section>

<!-- MODAL -->
{% include "../../components/others/modals/confirm_delete.html" %}
{% include "../../components/others/modals/product_to_image.html" %}
{% endblock %}

{% block vuejs_scripts %}
    <script>
        var csrf = $(".csrf input").val()
    </script>
    <script>
        var copyLink = function() {
            var link = $("#link_see_on_site").attr("href")
            var constructedlink = window.location.origin + link
            navigator.clipboard.writeText(constructedlink).then(function() {
                // PASS
            }).catch(function() {
                // PASS
            })
            // document.execCommand("copy")
        }
    </script>
    {% include "../../vue/product/product_state.html" %}

    {% include "../../vue/product/images_state.html" %}

    {% include "../../vue/product/image_uploading.html" %}
{% endblock %}