.preloader {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background-color: black;
    opacity: .3;
}

.loader {
    -webkit-filter: url("#goo");
            filter: url("#goo");
    position: relative;
    width: 500px;
    height: 100px;
  }
  .loader::after {
    content: "";
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #ffffff;
    margin: 0 auto;
    position: absolute;
    top: 25px;
    left: 225px;
    -webkit-animation: scale 2.5s ease-in-out infinite;
            animation: scale 2.5s ease-in-out infinite;
  }
  .loader div {
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #ffffff;
    top: 35px;
    left: 235px;
    -webkit-animation: move 2.5s ease-in-out infinite alternate;
            animation: move 2.5s ease-in-out infinite alternate;
  }
  .loader div::after, .loader div::before {
    content: "";
    display: block;
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #ffffff;
  }
  .loader div::before {
    left: -75px;
  }
  .loader div::after {
    left: 75px;
  }
  
  @-webkit-keyframes move {
    0% {
      -webkit-transform: translateX(-150px);
              transform: translateX(-150px);
    }
    100% {
      -webkit-transform: translateX(150px);
              transform: translateX(150px);
    }
  }
  
  @keyframes move {
    0% {
      -webkit-transform: translateX(-150px);
              transform: translateX(-150px);
    }
    100% {
      -webkit-transform: translateX(150px);
              transform: translateX(150px);
    }
  }
  @-webkit-keyframes scale {
    10% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
    50% {
      -webkit-transform: scale(1.25);
              transform: scale(1.25);
    }
    90% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }
  @keyframes scale {
    10% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
    50% {
      -webkit-transform: scale(1.25);
              transform: scale(1.25);
    }
    90% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }
  /* html,
  body {
    background: #247fbc;
    width: 100%;
    height: 100%;
  }
  
  body {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
            align-items: center;
    -webkit-box-pack: center;
            justify-content: center;
    overflow: hidden;
  } */
  
  svg {
    position: absolute;
    z-index: -100;
    pointer-events: none;
  }
  