{% load static %}

<div class="features-box">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="single-box-item first-box">
                            <img src="{% static 'img/f-box-1.jpg' %}" alt="">
                            <div class="box-text">
                                <span class="trend-year">2019 Party</span>
                                <h2>Jewelry</h2>
                                <span class="trend-alert">Trend Allert</span>
                                <a href="#" class="primary-btn">See More</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="single-box-item second-box">
                            <img src="{% static 'img/f-box-2.jpg' %}" alt="">
                            <div class="box-text">
                                <span class="trend-year">2019 Trend</span>
                                <h2>Footwear</h2>
                                <span class="trend-alert">Bold & Black</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="single-box-item large-box">
                    <img src="{% static 'img/f-box-3.jpg' %}" alt="">
                    <div class="box-text">
                        <span class="trend-year">2019 Party</span>
                        <h2>Collection</h2>
                        <div class="trend-alert">Trend Allert</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</section>