{% load static %}

<div class="logo-section spad">
    <div class="logo-items owl-carousel">
        <div class="logo-item">
            <img src="{% static 'img/logos/logo-1.png' %}" alt="">
        </div>
        <div class="logo-item">
            <img src="{% static 'img/logos/logo-2.png' %}" alt="">
        </div>
        <div class="logo-item">
            <img src="{% static 'img/logos/logo-3.png' %}" alt="">
        </div>
        <div class="logo-item">
            <img src="{% static 'img/logos/logo-4.png' %}" alt="">
        </div>
        <div class="logo-item">
            <img src="{% static 'img/logos/logo-5.png' %}" alt="">
        </div>
    </div>
</div>