{% load i18n %}

<div class="card mt-3">
    <div class="card-body">
        <p class="font-weight-bold mb-4">{% trans "Type de collection" %}</p>

        <div>
            <conditionscomponent @doshow="showconditions" />
        </div>
    </div>

    <div v-if="conditionscheck" class="card-footer">
        <p class="font-weight-bold mb-4">{% trans "Conditions" %}</p>

        <div class="form-group d-flex flex-direction-row">
            <p class="ml-2">
                {% trans "Les produits doivent respecter :" %}
            </p>
            <div class="form-input-check ml-1">
                <input type="radio" id="all" value="all">
                <label for="all">{% trans "Toutes les conditions" %}</label>
            </div>
            <div class="form-input-check ml-1">
                <input type="radio" id="some" value="some">
                <label for="some">{% trans "Certaines conditions" %}</label>
            </div>
        </div>

        <div class="form-row">
            <div class="col-3">
                <div class="form-group">
                    <select name="condition1" class="form-control" id="condition1">
                        <option value="Nom du produit">{% trans "Nom du produit" %}</option>
                    </select>
                </div>
            </div>
            <div class="col-3">
                <div class="form-group">
                    <select name="condition2" class="form-control" id="condition2">
                        <option value="Nom du produit">{% trans "Is equal to" %}</option>
                        <option value="Nom du produit">{% trans "Is not equal to" %}</option>
                        <option value="Nom du produit">{% trans "Is greater than" %}</option>
                        <option value="Nom du produit">{% trans "Is less than" %}</option>
                        <option value="Nom du produit">{% trans "Starts with" %}</option>
                        <option value="Nom du produit">{% trans "Ends with" %}</option>
                        <option value="Nom du produit">{% trans "Contains" %}</option>
                        <option value="Nom du produit">{% trans "Does not contain" %}</option>
                        <option value="Nom du produit">{% trans "Yes" %}</option>
                        <option value="Nom du produit">{% trans "No" %}</option>
                    </select>
                </div>
            </div>
            <div class="col-3">
                <div class="form-group">
                    <input type="text" class="form-control" name="value" id="value" placeholder="{% trans 'Valeur' %}">
                </div>
            </div>
            <div class="col-3">
                <button class="btn btn-transparent btn-sm white m-0 z-depth-0">
                    <div class="fa fa-trash"></div>
                </button>
            </div>
        </div>

        <a class="btn btn-large white black-text z-depth-0 ml-0">{% trans "Ajouter une condition" %}</a>
    </div>
</div>
