{% load i18n %}

<div class="card mt-2">
    <div class="card-body">
        <div class="d-flex flex-direction-row justify-content-between">
            <p class="text-uppercase text-muted font-weight-bold mb-1">{% trans "Media" %}</p>
            <div class="dropdown">
                <a class="dropdown-toggle" type="button" id="dropdownMenuButton"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {% trans "A partir d'un url" %}
                </a>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href data-toggle="modal" data-target="#image_from_url">{% trans "Image à partir d'un url" %}</a>
                    <a class="dropdown-item" href="#">{% trans "Vidéo YouTube" %}</a>
                </div>
            </div>
        </div>
        
        <div class="card-body">
            <imagescomponent v-bind:images="images" />
        </div>

        <!-- MODAL -->
        <div class="modal fade" id="image_from_url" tabindex="-1" role="dialog" aria-labelledby="image_from_url" aria-modal="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">{% trans "Ajouter une image à partir d'un url" %}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>

                    <div class="modal-body">
                        <input v-model="href" type="url" class="form-control" name="new-image" id="new-image" placeholder="https://">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary waves-effect waves-light" data-dismiss="modal">{% trans "Fermer" %}</button>
                        <button @click="dopreflight" type="button" class="btn btn-secondary waves-effect waves-light" data-dismiss="modal">{% trans "Ajouter" %}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
