{% load aws_images %}

<script type="application/ld+json">
    {
        "@context": "https://schema.org",
        "@type": "Organization",
        "image": [
            "{% create_aws_image_url 'banner1.jpg' %}",
            "{% create_aws_image_url 'hero1.jpg' %}",
        ],
        "@id": "{{ request.build_absolute_uri }}",
        "name": "Nawoka",
        "description": "Platforme ecommerce de vente de produits et accessoires mode et beauté",
        "address": {
            "@type": "PostalAddress",
            "streetAddress": "Lille",
            "addressLocality": "Lille",
            "addressRegion": "Haut-de-France",
            "postalCode": "59000",
            "addressCountry": "FR"
        },
        "ContactPoint": [
            {
                "@type": "ContactPoint",
                "ContactType": "Customer service",
                "url": "https://nawoka.fr/customer-care/"
            }
        ],
        "email": "mailto:contact.nawoka@gmail.com",
        "url": "https://nawoka.fr/customer-care/",
        "telephone": "",
        "founder": {
            "@type": "Person",
            "givenName": "John",
            "familyName": "Pendenque",
            "brand": {
                "@type": "Thing",
                "name": "Nawoka"
            },
            "jobTitle": "Founder, CEO"
        }
    }
</script>
