{% extends "base.html" %}
{% load static price_tags %}

{% block title %}Nawoka : {{ collection.name }} - {{ collection.gender }}{% endblock %}

{% block navbar %}
    {% include "project_components/navs/nav.html" %}
{% endblock %}

{% block datalayer_push %}
    {{ impressions|json_script:"impressions" }}

    <script>
        var impressions = JSON.parse(document.getElementById("impressions").innerText)
        
        dataLayer.push({
            "ecommerce": {
                "impressions": impressions
            },
            "event": "productImpressions"
        })
    </script>
{% endblock %}

{% block container %}
<div id="vue_app">
    {% if collection.show_presentation %}
        <!-- PRESENTATION -->
        <div class="card blue lighten-1">
            <div class="card-body">
                <h3 class="center">{{ collection.name }}</h3>
                <p>
                    {{ collection.presentation_text }}
                </p>
            </div>
        </div>        
    {% endif %}

    <!-- NAVBAR -->
    {% include "../components/products/navbar.html" %}
    
    <section class="text-center mb-4" id="collection">
        <div class="row wow fadeIn">
            {% for product in products %}
                <div class="col-6 col-md-4 col-lg-3 mb-4">
                    <div class="card">
                        <div class="view overlay">
                            <img src="{{ product.get_main_image_url|default:'https://via.placeholder.com/800' }}" class="card-img-top" alt="{{ product.slug }}">
                            <a><div class="mask rgba-white-slight"></div></a>
                        </div>
    
                        <div class="card-body text-left">
                            <a href="{{ product.get_absolute_url }}" class="grey-text" onclick="CardClick('{{ forloop.counter }}', '{{ product.name }}', '{{ product.get_price }}', '{{ product.reference }}')">
                                {% if is_mobile %}
                                    <p>{{ product.name|truncatechars:20 }}</p>
                                {% else %}
                                    <h5>{{ product.name|truncatechars:20 }}</h5>
                                {% endif %}

                                {% if product.is_novelty %}
                                    <span class="badge badge-pill danger-color text-uppercase">new</span>                                            
                                {% endif %}

                                {% if product.our_favorite %}
                                    <span class="badge badge-pill success-color text-uppercase">favori</span>                                            
                                {% endif %}
                                
                                {% if not product.in_stock %}
                                    <span class="badge badge-pill info-color text-uppercase">epuise</span>                                            
                                {% endif %}
                            </a>
                            
                            {% comment %}
                            <h5>
                                <strong>
                                    <a href="" class="dark-grey-text">{{ product.name }}
                                        {% if product.is_novelty %}
                                            <span class="badge badge-pill danger-color">NEW</span>                                            
                                        {% endif %}
                                    </a>
                                </strong>
                            </h5>                                
                            {% endcomment %}

                            {% if product.is_discounted %}
                                <h4 class="font-weight-bold red-text mt-1">
                                    <strong>{{ product.get_price|price_to_text }}</strong>
                                </h4>
                                <h6 class="font-weight-light blue-text mt-1">
                                    <strike>{{ product.price_ht|price_to_text }}</strike>
                                </h6>                                                             
                            {% else %}
                                <h4 class="font-weight-bold blue-text mt-1">
                                    <strong>{{ product.get_price|price_to_text }}</strong>
                                </h4>                                
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </section>
</div>

<!-- PAGINATION -->
{% include "../components/products/pagination.html" %}
{% endblock %}

{% block footer %}
    {% include "project_components/navs/footer.html" %}
{% endblock %}

{% block extra_scripts %}
<script>
    var CardClick = function(index, name, price, reference) {
        dataLayer.push({
            "event": "productClick",
            "ecommerce": {
                "click": {
                    "actionField": {
                        "list": "{{ collection.gender }}/{{ collection.name }}"
                    },
                    "products": [{
                        "id": reference,
                        "name": name,
                        "price": price,
                        "brand": "Nawoka",
                        "category": "{{ collection.name }}",
                        "position": index
                    }]
                }
            }
        });
    }
</script>
{% endblock %}

{% block vuejs_scripts %}
    {{ vue_products|json_script:"vue_products" }}
{% endblock %}
