{% extends "base.html" %}
{% load aws_images %}

{% block title %}Nawoka : Lookbook{% endblock %}

{% block navbar %}
    {% include "project_components/navs/nav.html" %}
{% endblock %}

{% block container %}
    <section class="section" id="lookbook">
        <div class="row">
            <div class="col">
                <div class="card">
                    <img src="{% create_aws_image_url 'banner1.jpg' %}" alt="lookbook" class="img-fluid">

                    <a href="{% url 'product' 'femme' 'tops' 20 'bustier-tubulaire-femme' %}" target="_blank" class="badge badge-primary">Haut</a>
                    <a href="#" class="badge badge-primary">Bas</a>
                    <a href="#" class="badge badge-primary">Sac</a>
                    <a href="#" class="badge badge-primary">Chaussure</a>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <img src="{% create_aws_image_url 'banner1.jpg' %}" alt="lookbook" class="img-fluid">
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block footer %}
    {% include "project_project_components/navs/footer.html" %}
{% endblock %}
