{% extends "base.html" %}
{% load static %}

{% block body_color %}grey lighten-5{% endblock %}

{% block extra_css %}
	<link rel="stylesheet" href="{% static 'stripe.css' %}">
{% endblock %}

{% block navbar %}
	{% include "navs/nav.html" with display=False %}        
{% endblock %}

{% block container %}
<div class="row wow fadeIn mb-5">
	<div class="col-3 col-md-3 offset-md-2">
		<h2 class="text-uppercase font-weight-bold">
			<a class="text-muted" href="{% url 'home' %}">Homepage</a>
		</h2>
	</div>
	<div class="col-4 col-md-4">
		<a href="https://stripe.com">
			<img src="{% static 'logos/stripe.png' %}" alt="stripe">
		</a>
	</div>
</div>

<div class="row wow fadeIn">
	<div class="col-md-5 offset-md-2">
		<div class="card">
			<form method="POST" class="card-body stripe stripe-styling" id="payment-form">	
				{% csrf_token %}
				
				<div class="alert alert-danger d-none" role="alert" id="card-errors"></div>
				
				<div class="row wow fadeIn">
					<div id="card-element"></div>
				</div>
				
				<button type="submit" class="btn btn-primary btn-lg btn-block mt-4" id="btn-payment">
					<i class="fa fa-lock d-none"></i>
					<div class="spinner-grow d-none" role="status"></div>
					Paiement
				</button>
			</form>
			<div class="card-footer">
				<div class="d-flex flex-row justify-content-between">
					<p class="text-uppercase font-weight-bold mb-0">Nous acceptons</p>
					<div class="payments">
						<i class="fab fa-cc-mastercard fa-1x"></i>
						<i class="fab fa-cc-visa fa-1x"></i>
					</div>
				</div>
			</div>
		</div>

		<div class="card mt-3 text-muted">
			<div class="card-body">
				<p class="mb-0">
					En passant votre commande, vous acceptez nos Modalités, ainsi que nos politiques 
					de confidentialité et de retour. Vous consentez à ce que certaines de vos données, 
					qui seront utilisées pour améliorer le processus d'achats, soient enregistrées par MYWEBSITE.
				</p>
			</div>
		</div>

		<div class="card mt-1 z-depth-0 grey lighten-5">
			<div class="card-body pl-0 text-muted">
				<p><a href="#">Assistance</a></p>
			</div>
		</div>
	</div>

	<div class="col-md-4 mb-4">
		<!-- Heading -->
		{# {% include "../components/cart/heading.html" %} #}

		<!-- SIDE -->
		{% include "../components/cart/side.html" %}
	</div>

</div>
{% endblock %}

{% block footer %}
	{% include "navs/nav.html" with display=False %}        
{% endblock %}a

{% block extra_scripts %}
	{% include "../components/cart/stripejs.html" %}
{% endblock %}