{% extends "base.html" %}
{% load static price_tags impressions %}

{% block title %}{{ product.name }}{% endblock %}

{% block datalayer_push %}
<script>
    var impressions ="{% autoescape off %}{% product_impressions more %}{% endautoescape %}"
    dataLayer.push({
        "ecommerce": {
            "impressions": JSON.parse("{% autoescape off %}{% product_impressions more %}{% endautoescape %}"),
            // "impressions": JSON.parse("{% product_impressions more %}"),
            "detail": {
                "actionField": {"list": "Product list"},
                "products": [
                    {
                        "name:": "{{ product.name }}",
                        "id:": "{{ product.reference }}",
                        "price:": "{{ product.get_price }}",
                        "brand:": "Nawoka",
                        "category:": "{{ product.collection.name }}",
                        "variant:": "{{ product.sku }}",
                    }
                ]
            }
        },
        
        "remarketingProduct": {
            "name:": "{{ product.name }}",
            "id:": "{{ product.reference }}",
            "price:": "{{ product.get_price }}",
            "brand:": "Nawoka",
            "category:": "{{ product.colleciton.name }}",
            "variant:": "{{ product.sku }}",
        }
    })
</script>
{% endblock %}

{% block structured_data %}
<script type="application/ld+json">
    {
        "@context": "https://schema.org/",
        "@type": "Product",
        "name": "{{ product.name }}",
        "image": "{{ product.get_main_image_url }}",
        "description": "",
        "sku": "{{ product.sku }}",
        "mpn": "{{ product.sku }}",
        "color": "{{ product.color }}",
        "url": "{{ request.build_absolute_uri }}",
        "brand": {
            "@type": "Thing",
            "name": "Nawoka"
        },
        "audience": {
            "@type": "PeopleAudience",
            "suggestedGender": "{% if product.gender == 'femme' %}female{% else %}male{% endif %}"
        },
        "offers": {
            "@type": "Offer",
            "url": "{{ request.build_absolute_uri }}",
            "priceCurrency": "EUR",
            "price": "{{ product.get_price }}",
            "priceValidUntil": "{{ product.price_valid_until|date:"d-m-Y" }}",
            "itemCondition": "https://schema.org/NewCondition",
            "availability": "https://schema.org/InStock"
        }
    }
</script>

<script type="application/ld+json">
    {
        "@context": "http://schema.org",
        "@type": "BreadcrumbList",
        "itemListElement": [
            {
                "@type": "ListItem",
                "position": 1,
                "item": {
                    "@id": "https://nawoka.fr{% url 'home' %}",
                    "name": "Accueil"
                }
            },
            {
                "@type": "ListItem",
                "position": 2,
                "item": {
                    "@id": "https://nawoka.fr{% url 'shop' %}",
                    "name": "Boutique"
                }
            },
            {
                "@type": "ListItem",
                "position": 3,
                "item": {
                    "@id": "{{ product.get_collection_url }}",
                    "name": "{{ product.collection.name }}"
                }
            },
            {
                "@type": "ListItem",
                "position": 4,
                "item": {
                    "@id": "https://nawoka.fr{{ product.get_absolute_url }}",
                    "name": "{{ product.name }}"
                }
            }
        ]
    }
</script>
{% endblock %}

{% block container %}
    <div id="vue_app">
        <div class="row wow fadeIn">
            <!-- MAIN IMAGE -->
            <div class="col-md-6 mb-4">
                <img src="{{ product.get_main_image_url  }}" class="img-fluid" alt="{{ product.slug }}">
            </div>

            <div class="col-md-6 mb-4">
                <div class="p-4">
                    {# {% include "../components/product/badges.html" %} #}
                    
                    <!-- TITLE -->
                    <h3 class="font-weight-lighter">{{ product.name }}</h3>

                    <!-- PRICE -->
                    <p class="lead">
                        {% if product.discounted %}
                            <span class="mr-1">
                                <del>{{ product.price_ht|price_to_text }}</del>
                            </span>                            
                        {% endif %}
                        <span>{{ product.get_price|price_to_text }}</span>
                    </p>
                    
                    {% if product.reviews %}
                        <!-- STARS -->
                        {% include "../components/product/review_stars.html" %}
                    {% endif %}

                    <!-- DELIVERY -->
                    <div class="delivery mt-3 mb-3">
                        <a href="#!">Livraison gratuite**</a>
                    </div>
                    
                    {% if product.description %}
                        <!-- DESCRIPTION -->
                        <p class="lead font-weight-bold">Description</p>
                        <p>{{ product.description }}</p>                        
                    {% endif %}
                    
                    <!-- ADD TO CART -->
                    {% include "../components/product/actions.html" %}
                </div>
                
                
                {% include "../components/product/policies.html" %}
            </div>
        </div>
    </div>

    <hr>

    <!-- MORE -->
    {% include "../components/product/more.html" %}
    
    {% comment %}
    <!-- REVIEWS -->
    <div class="row wow fadeIn mt-3">
        {% include "../components/product/reviews.html" %}
    </div>        
    {% endcomment %}
{% endblock %}

{% block vuejs_scripts %}
    {{ vue_product|json_script:"vue_product" }}
    <script>
        var imagescomponent = {
            props: ["images"],
        }

        var sizecomponent = {
            props: ["sizes", "initvalue"],
            delimiters: ["[[", "]]"],
            template: "\
            <select @change='selectcolor' class='custom-select custom-select-md mb-3' v-model='selectedsize' name='size' id='size'>\
                <option v-for='size in sizes' :key='size.id' :value='size.name'>\
                    [[ size.name ]]\
                </option>\
            </select>\
            ",
            data() {
                return {
                    selectedsize: ""
                }
            },
            beforeMount() {
                this.$data.selectedsize = this.$props.initvalue
            },
            methods: {
                selectcolor: function() {
                    this.$emit("selectcolor", "size", this.$data.selectedsize)
                }
            }
        }

        var colorcomponent = {
            props: ["colors", "initvalue"],
            delimiters: ["[[", "]]"],
            template: "\
            <select @change='selectcolor' v-model='selectedcolor' \
                     class='custom-select custom-select-md mb-3' name='colors' id='colors'>\
                <option v-for='color in colors' :key='color.name' :value='color.value'>\
                    [[ color.name ]]\
                </option>\
            </select>\
            ",
            data() {
                return {
                    selectedcolor: ""
                }
            },
            mounted() {
                this.$data.selectedcolor = this.$props.initvalue
            },
            computed: {
                showselector() {
                    return this.$props.colors.length > 0
                }
            },
            methods: {
                selectcolor: function() {
                    this.$emit("selectcolor", "color", this.$data.selectedcolor)
                }
            }
        }

        var cartbutton = {
            props: ["product", "details"],
            delimiters: ["[[", "]]"],
            template: "\
            <form @submit.prevent='addtocart' class='d-flex justify-content-left'>\
                <input v-model='quantity' type='number' aria-label='Search' class='form-control' style='width: 100px'>\
                <button class='btn btn-large btn-primary btn-md my-0 p':class='{\"disabled grey lighten-1\": disablebutton}' type='submit'>Ajouter au panier\
                </button>\
                <button class='btn btn-small red lighten-1 btn-md my-0 p'>\
                    <i class='fas fa-heart ml-1 text-white'></i>\
                </button>\
            </form>\
            ",
            data() {
                return {
                    quantity: 1
                }
            },
            computed: {
                disablebutton() {
                    var isinstock = "{{ product.in_stock }}"
                    if (isinstock === "True") {
                        return false
                    } else if (isinstock === "False") {
                        return true
                    }
                }
            },
            methods: {
                sendanalytics: function() {
                    dataLayer.push({
                        "event": "AddToCart",
                        "ecommerce": {
                            "currencyCode": "EUR",
                            "add": {
                                "products": [{
                                    "id": "{{ product.reference }}",
                                    "name": "{{ product.name }}",
                                    "price": "{{ product.get_price }}",
                                    "brand": "Nawoka",
                                    "category": "{{ product.collection.name }}",
                                    "variant": "{{ product.color }}",
                                    "position": 0,
                                    "quantity": this.$data.quantity || 1
                                }]
                            }
                        }
                    })
                },
                addtocart: function() {
                    var self = this
                    var formdata = new FormData()
                    formdata.append("quantity", this.$data.quantity)
                    formdata.append("csrfmiddlewaretoken", $(".csrf input").val())

                    _.forEach(Object.keys(this.$props.details), (key) => {
                        formdata.append(key, this.$props.details[key])
                    })

                    var promise = new Promise((resolve, reject) => {
                        var xhr = new XMLHttpRequest()
                        xhr.onloadend = function() {
                            resolve(xhr.response)
                        }
                        xhr.open("POST", window.location.href)
                        xhr.send(formdata)
                    })
                    promise.then(response => {
                        self.sendanalytics()
                    })
                }
            }
        }
        
        var productapp = new Vue({
            el: "#vue_app",
            components: {cartbutton, colorcomponent, imagescomponent, sizecomponent},
            data() {
                return {
                    product: {},
                    colors: [],
                    sizes: [],
                    details: {}
                }
            },
            beforeMount() {
                var product = JSON.parse($("#vue_product").text())
                
                var images = product.images
                if (images.length > 0) {
                    _.forEach(images, (image) => {
                        this.$data.colors.push({name: image.variant, value: image.variant})
                    })
                    this.$data.details["color"] = product.images[0].variant
                }

                _.forEach(product.clothe_size, (size, index) => {
                    this.$data.sizes.push({id: index, name: size.name})
                })
                this.$data.details["size"] = product.clothe_size[0].name

                this.$data.product = product
            },
            methods: {
                doselection: function(method, item) {
                    this.$data.details[method] = item
                }
            }
        })
    </script>
{% endblock %}