{% extends "base.html" %}
{% load static price_tags delivery %}

{% block title %}Nawoka : {{ product.name }}{% endblock %}

{% block navbar %}
    {% include "navs/nav.html" %}
{% endblock %}

{% block page_description %}
    <meta name="description" content="Découvrez les dernières tendances mode et beauté
    pour les {{ product.collection.name }} {{ product.gender }} chez Nawoka">
{% endblock %}

{% block share_metatags %}
    <meta name="twitter:card" content="{{ product.name }}" />
    <meta name="twitter:creator" content="@nawoka" />

    <meta property="og:url" content="{{ request.build_absolute_uri }}" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Nawoka : {{ product.name }}" />

    {% block og_description %}
        <meta property="og:description" content="{{ product.description }}" />
    {% endblock %}


    {% block og_image %}
        <meta property="og:image" content="{{ product.get_main_image_url }}" />
        <meta property="og:image:alt" content="{{ product.slug }}" />
        <meta property="og:image:type" content="image/jpeg" />
        <meta property="og:image:height" content="600">
        <meta property="og:image:width" content="600">
    {% endblock %}    
{% endblock %}

{% block datalayer_push %}
{{ impressions|json_script:"impressions" }}
<script>
    var impressions = JSON.parse(document.getElementById("impressions").innerText)
    dataLayer.push({
        "ecommerce": {
            "impressions": impressions,
            "detail": {
                "actionField": {"list": "Product list"},
                "products": [
                    {
                        "name:": "{{ product.name }}",
                        "id:": "{{ product.reference }}",
                        "price:": "{{ product.get_price }}",
                        "brand:": "Nawoka",
                        "category:": "{{ product.collection.gender }}/{{ product.collection.name }}",
                        "variant:": "{{ product.sku }}",
                    }
                ]
            }
        },
        "remarketingProduct": {
            "name:": "{{ product.name }}",
            "id:": "{{ product.reference }}",
            "price:": "{{ product.get_price }}",
            "brand:": "Nawoka",
            "category:": "{{ product.collection.gender }}/{{ product.collection.name }}",
            "variant:": "{{ product.sku }}",
        }
    })
</script>
{% endblock %}

{% block structured_data %}
<script type="application/ld+json">
    {
        "@context": "https://schema.org/",
        "@type": "Product",
        "name": "{{ product.name }}",
        "image": "{{ product.get_main_image_url }}",
        "description": "{{ product.description }}",
        "sku": "{{ product.sku }}",
        "mpn": "{{ product.sku }}",
        "color": "{{ product.color }}",
        "url": "{{ request.build_absolute_uri }}",
        "brand": {
            "@type": "Thing",
            "name": "Nawoka"
        },
        "audience": {
            "@type": "PeopleAudience",
            "suggestedGender": "{% if product.gender == 'femme' %}female{% else %}male{% endif %}"
        },
        "offers": {
            "@type": "Offer",
            "url": "{{ request.build_absolute_uri }}",
            "priceCurrency": "EUR",
            "price": "{{ product.get_price }}",
            "priceValidUntil": "{{ product.price_valid_until|date:"d-m-Y" }}",
            "itemCondition": "https://schema.org/NewCondition",
            "availability": "{% if product.in_stock %}https://schema.org/InStock{% else %}https://schema.org/SoldOut{% endif %}"
        }
    }
</script>

<script type="application/ld+json">
    {
        "@context": "http://schema.org",
        "@type": "BreadcrumbList",
        "itemListElement": [
            {
                "@type": "ListItem",
                "position": 1,
                "item": {
                    "@id": "https://nawoka.fr{% url 'home' %}",
                    "name": "Accueil"
                }
            },
            {
                "@type": "ListItem",
                "position": 2,
                "item": {
                    "@id": "https://nawoka.fr{% url 'shop_gender' product.gender %}",
                    "name": "{{ product.gender|capfirst }}"
                }
            },
            {
                "@type": "ListItem",
                "position": 3,
                "item": {
                    "@id": "https://nawoka.fr{{ product.get_collection_url }}",
                    "name": "{{ product.collection.name }}"
                }
            },
            {
                "@type": "ListItem",
                "position": 4,
                "item": {
                    "@id": "https://nawoka.fr{{ product.get_absolute_url }}",
                    "name": "{{ product.name }}"
                }
            }
        ]
    }
</script>
{% endblock %}

{% block container %}
    <div id="vue_app">
        <div class="row wow fadeIn">
            <!-- MAIN IMAGE -->
            <div class="col-md-6 mb-4">
                <img src="{{ product.get_main_image_url  }}" class="img-fluid" alt="{{ product.slug }}">
            </div>

            <div class="col-md-6 mb-4">
                <div class="p-sm-2 p-lg-4">
                    {# {% include "../components/product/badges.html" %} #}
                    
                    <!-- TITLE -->
                    <h3 class="font-weight-lighter">{{ product.name }}</h3>

                    <!-- PRICE -->
                    <p class="lead">
                        {% if product.discounted %}
                            <span class="mr-1">
                                <del>{{ product.price_ht|price_to_text }}</del>
                            </span>                            
                        {% endif %}
                        <span>
                            {{ product.get_price|price_to_text }}
                        </span>
                        
                    </p>
                    
                    {% if product.reviews %}
                        <!-- STARS -->
                        {% include "../components/product/review_stars.html" %}
                    {% endif %}

                    <!-- DELIVERY -->
                    <div class="delivery mt-3 mb-3">
                        <a href data-toggle="modal" data-target="#delivery">Livraison standard**</a>

                        <div class="modal fade" id="delivery" tabindex="-1" role="dialog" aria-labelledby="delivery" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Estimation de la livraison</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        Commandez maintement et recevez votre colis entre
                                        <span class="font-weight-bold blue-text">{% estimated_delivery_date 15 %}</span>
                                        avec la livraison standard.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    {% if product.description %}
                        <!-- DESCRIPTION -->
                        <p class="lead font-weight-bold">Description</p>
                        <p>{{ product.description }}</p>                        
                    {% endif %}
                    
                    <!-- ADD TO CART -->
                    {% include "../components/product/actions.html" %}
                </div>
                
                <!-- POLICIES -->
                <div class="p-sm-2 p-lg-4">
                    {% include "../components/product/policies.html" %}
                </div>
            </div>
        </div>
    </div>

    <!-- MORE -->
    {% include "../components/product/more.html" %}
    
    {% comment %}
    <!-- REVIEWS -->
    <div class="row wow fadeIn mt-3">
        {% include "../components/product/reviews.html" %}
    </div>        
    {% endcomment %}
{% endblock %}

{% block footer %}
    {% include "navs/footer.html" %}
{% endblock %}

{% block extra_scripts %}
<script>
    var CardClick = function(index, name, price, reference) {
        dataLayer.push({
            "event": "productClick",
            "ecommerce": {
                "click": {
                    "actionField": {
                        "list": "more/{{ product.collection.name }}"
                    },
                    "products": [{
                        "id": reference,
                        "name": name,
                        "price": price,
                        "brand": "Nawoka",
                        "category": "{{ collection.name }}",
                        "position": index
                    }]
                }
            }
        });
    }
</script>
{% endblock %}

{% block vuejs_scripts %}
    {{ vue_product|json_script:"vue_product" }}

    {% include "../vue/product_app.html" %}
{% endblock %}
