{% extends "base.html" %}
{% load static price_tags %}

{% block container %}
    <div id="vue_app">
        <div class="row wow fadeIn">
            <div class="col-md-6 mb-4">
                <img src="{{ product.get_main_image_url  }}" class="img-fluid" alt="{{ product.slug }}">
            </div>

            <div class="col-md-6 mb-4">
                <div class="p-4">
                    {# {% include "../components/product/badges.html" %} #}

                    <h3>{{ product.name }}</h3>
                    <p class="lead">
                        {% if product.discounted %}
                            <span class="mr-1">
                                <del>{{ product.price_ht|price_to_text }}</del>
                            </span>                            
                        {% endif %}
                        <span>{{ product.get_price|price_to_text }}</span>
                    </p>

                    <p class="lead font-weight-bold">Description</p>
                    <p>{{ product.description }}</p>
                    
                    {% if product.active %}
                        <div class="color-selection">
                            <div>
                                <colorcomponent @selectcolor="doselection" v-bind:initvalue="details.color" v-bind:colors="colors" />
                            </div>
                            <div>
                                <sizecomponent @selectcolor="doselection" v-bind:initvalue="details.size" v-bind:sizes="sizes" />
                            </div>
                        </div>
                        
                        <div class="cart-button">
                            <cartbutton v-bind:details="details" v-bind:product="product" />
                        </div>
                        <div class="csrf">{% csrf_token %}</div>
                    {% else %}
                        <div class="card">
                            <div class="card-body red lighten-1 text-white text-center font-weight-bold">
                                This product is not active
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    <hr>

    <!-- MORE -->
    {% include "../components/product/more.html" %}
{% endblock %}

{% block vuejs_scripts %}
    {{ vue_product|json_script:"vue_product" }}
    <script>
        
        var imagescomponent = {
            props: ["images"],
        }

        var sizecomponent = {
            props: ["sizes", "initvalue"],
            delimiters: ["[[", "]]"],
            template: "\
            <select @change='selectcolor' class='custom-select custom-select-md mb-3' v-model='selectedsize' name='size' id='size'>\
                <option v-for='size in sizes' :key='size.id' :value='size.name'>\
                    [[ size.name ]]\
                </option>\
            </select>\
            ",
            data() {
                return {
                    selectedsize: ""
                }
            },
            beforeMount() {
                this.$data.selectedsize = this.$props.initvalue
            },
            methods: {
                selectcolor: function() {
                    this.$emit("selectcolor", "size", this.$data.selectedsize)
                }
            }
        }

        var colorcomponent = {
            props: ["colors", "initvalue"],
            delimiters: ["[[", "]]"],
            template: "\
            <select @change='selectcolor' v-model='selectedcolor' \
                     class='custom-select custom-select-md mb-3' name='colors' id='colors'>\
                <option v-for='color in colors' :key='color.name' :value='color.value'>\
                    [[ color.name ]]\
                </option>\
            </select>\
            ",
            data() {
                return {
                    selectedcolor: ""
                }
            },
            mounted() {
                this.$data.selectedcolor = this.$props.initvalue
            },
            computed: {
                showselector() {
                    return this.$props.colors.length > 0
                }
            },
            methods: {
                selectcolor: function() {
                    this.$emit("selectcolor", "color", this.$data.selectedcolor)
                }
            }
        }

        var cartbutton = {
            props: ["product", "details"],
            delimiters: ["[[", "]]"],
            template: "\
            <form @submit.prevent='addtocart' class='d-flex justify-content-left'>\
                <input v-model='quantity' type='number' aria-label='Search' \
                                            class='form-control' style='width: 100px'>\
                <button class='btn btn-primary btn-md my-0 p'\
                        :class='{\"disabled grey lighten-1\": disablebutton}' type='submit'>Add to cart\
                    <i class='fas fa-shopping-cart ml-1'></i>\
                </button>\
            </form>\
            ",
            data() {
                return {
                    quantity: 1
                }
            },
            computed: {
                disablebutton() {
                    var isinstock = "{{ product.in_stock }}"
                    if (isinstock === "True") {
                        return false
                    } else if (isinstock === "False") {
                        return true
                    }
                }
            },
            methods: {
                addtocart: function() {
                    var formdata = new FormData()
                    formdata.append("quantity", this.$data.quantity)
                    formdata.append("csrfmiddlewaretoken", $(".csrf input").val())

                    _.forEach(Object.keys(this.$props.details), (key) => {
                        formdata.append(key, this.$props.details[key])
                    })

                    var promise = new Promise((resolve, reject) => {
                        var xhr = new XMLHttpRequest()
                        xhr.onloadend = function() {
                            resolve(xhr.response)
                        }
                        xhr.open("POST", window.location.href)
                        xhr.send(formdata)
                    })
                    promise.then(response => {
                        // DO SOMETHING
                    })
                }
            }
        }
        
        var productapp = new Vue({
            el: "#vue_app",
            components: {cartbutton, colorcomponent, imagescomponent, sizecomponent},
            data() {
                return {
                    product: {},
                    colors: [],
                    sizes: [],
                    details: {}
                }
            },
            beforeMount() {
                var product = JSON.parse($("#vue_product").text())
                
                var images = product.images
                if (images.length > 0) {
                    _.forEach(images, (image) => {
                        this.$data.colors.push({name: image.variant, value: image.variant})
                    })
                    this.$data.details["color"] = product.images[0].variant
                }

                _.forEach(product.clothe_size, (size, index) => {
                    this.$data.sizes.push({id: index, name: size.name})
                })
                this.$data.details["size"] = product.clothe_size[0].name

                this.$data.product = product
            },
            methods: {
                doselection: function(method, item) {
                    this.$data.details[method] = item
                }
            }
        })
    </script>
{% endblock %}