{% extends "base.html" %}
{% load static %}

{% block container %}
<div class="row">
	<div class="col-md-8 mb-4">
		<div class="card">
			<form method="POST" action="{% url 'payment' %}" class="card-body">
				{% csrf_token %}

				<div class="row">
					<div class="col-md-6 mb-2">
						<div class="md-form ">
							<input type="text" name="firstname" id="firstName" class="form-control" placeholder="Nom">
						</div>
					</div>

					<div class="col-md-6 mb-2">
						<div class="md-form">
							<input type="text" name="lastname" id="lastname" class="form-control" placeholder="Prénom">
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-md-7 mb-2">
						<div class="md-form mb-5">
							<input type="text" name="email" id="email" class="form-control" placeholder="youremail@example.com">
						</div>
					</div>
					<div class="col-md-5 mb-2">
						<div class="md-form mb-5">
							<input type="tel" name="telephone" id="telephone" class="form-control" placeholder="0600000000">
						</div>
					</div>
				</div>

				<div class="md-form mb-5">
					<input type="text" name="address" id="address" class="form-control" placeholder="1234 Main St">
				</div>

				<div class="md-form mb-5">
					<input type="text" id="address-2" class="form-control" placeholder="Apartment or suite">
				</div>

				<div class="row">
					<div class="col-lg-4 col-md-12 mb-4">
						<label for="country">Country</label>
						<select name="country" class="custom-select d-block w-100" id="country" required>
							<option value="">Choose...</option>
							<option>United States</option>
						</select>
						<div class="invalid-feedback">
							Please select a valid country.
						</div>
					</div>

					<div class="col-lg-4 col-md-6 mb-4">
						<label for="state">State</label>
						<select name="city" class="custom-select d-block w-100" id="city" required>
							<option value="">Choose...</option>
							<option>California</option>
						</select>
						<div class="invalid-feedback">
							Please provide a valid state.
						</div>
					</div>

					<div class="col-lg-4 col-md-6 mb-4">
						<label for="zip">Zip</label>
						<input name="zip_code" type="text" class="form-control" id="zip" placeholder="" required>
						<div class="invalid-feedback">
							Zip code required.
						</div>

					</div>
				</div>

				<hr class="mb-4">

				<div class="custom-control custom-checkbox">
					<input name="billing_equals_shipping" type="checkbox" class="custom-control-input" id="same-address">
					<label class="custom-control-label" for="same-address">
						Shipping address is the same as my billing address
					</label>
				</div>

				<div class="custom-control custom-checkbox">
					<input name="save" type="checkbox" class="custom-control-input" id="save-info">
					<label class="custom-control-label" for="save-info">Save this information for next time</label>
				</div>

				<hr class="mb-4">

				<button type="submit" class="btn btn-primary btn-lg btn-block" id="btn_shipping">
					Continue to checkout
				</button>
				{% comment %}
				<a href="{% url 'payment' %}" class="btn btn-danger btn-lg btn-block">Continue to payment</a>
				{% endcomment %}
			</form>
		</div>
	</div>

	<div class="col-md-4 mb-4">
		<!-- Heading -->
		{% include "../components/cart/heading.html" %}

		<!-- SIDE CART -->
		{% include "../components/cart/side.html" %}
		
		{% if coupon_value > 0 %}
			<!-- PROMO FORM -->
		{% endif %}
		{% include "../components/cart/promo.html" %}			
	</div>
</div>
{% endblock %}