{% extends "base.html" %}
{% load static %}

{% block title %}Commande réussie{% endblock %}

{% block datalayer_push %}
    {{ ecommerce_datalayer|json_script:"ecommerce_datalayer" }}

    <script>
        dataLayer.push({
            "event": "checkout",
            "ecommerce": {
                "checkout": {
                    "actionField": {
                        "step": 2
                    }
                },
                "products": JSON.parse(document.getElementById("ecommerce_datalayer").textContent)
            }
        });
    </script>
{% endblock %}

{% block remarketing %}
    <script>
        gtag("event", "purchase", {
            "value": "",
            "items": [{
                "id": "",
                "google_business_vertical": "retail"
            }]
        });
    </script>

    <script>
        gtag("event", "conversion", {
            "send_to": "",
            "value": "",
            "currency": "EUR",
            "transaction_id": ""
        });
  </script>
{% endblock %}

{% block container %}
    <div class="card z-depth-1">
        <div class="card-body text-center">
            <h3 class="text-muted text-uppercase font-weight-bold">Commande enregistrée</h3>
            <hr class="mt-3 mb-3">
            <p class="mt-4 mb-4">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Quas excepturi explicabo, asperiores ab architecto rem molestias 
                consequuntur enim blanditiis aliquid hic possimus corporis aperiam voluptas nemo 
                ullam, at nam veniam!
            </p>

            <hr class="mt-3 mb-3">
            <h3 class="font-weight-bold text-uppercase">{{ reference }}</h3>

            <a class="btn btn-primary btn-large waves-effect waves-light" href="{% url 'shop' %}">
                <i class="fa fa-shopping pull-left"></i>
                Retourner à la boutique
            </a>
        </div>
    </div>
{% endblock %}