{% extends "base.html" %}
{% load static %}

{% block title %}Nawoka : Commande réussie{% endblock %}

{% block datalayer_push %}
    {{ products|json_script:"products" }}
    <script>
        var impressions = JSON.parse(document.getElementById("products").innerText)

        dataLayer.push({
            "event": "purchase",
            "ecommerce": {
                "checkout": {
                    "actionField": {
                        "step": 4
                    }
                },
                "products": products
            }
        });
    </script>
{% endblock %}

{% block remarketing %}
    <script>
        gtag("event", "purchase", {
            "value": "{{ payment }}",
            "items": [{
                "id": "",
                "google_business_vertical": "retail"
            }]
        });
    </script>

    <script>
        gtag("event", "conversion", {
            "send_to": "AW-701852005/2a2RCIXcocMBEOXS1c4C",
            "value": "{{ payment }}",
            "currency": "EUR",
            "transaction_id": "{{ transaction|default:reference }}"
        });
  </script>
{% endblock %}

{% block container %}
    <div class="card z-depth-1">
        <div class="card-body text-center">
            <h3 class="text-muted text-uppercase font-weight-bold">Commande enregistrée</h3>
            <hr class="mt-3 mb-3">
            <p class="mt-4 mb-4">
                Merci d'avoir acheté chez Nawoka. Nous espérons que votre expérience 
                client a été parfait avec nous et espérons vous revoir très bientôt.
            </p>

            <div class="row">
                <div class="col-12 d-flex justify-content-center">
                    <div class="fa fa-facebook-f"></div>
                    <div class="fa fa-instagram"></div>
                    <div class="fa fa-pinterest"></div>
                </div>
            </div>

            <hr class="mt-3 mb-3">
            <h3 class="font-weight-bold text-uppercase">{{ reference }}</h3>

            <a class="btn btn-primary btn-large waves-effect waves-light" href="{% url 'shop' %}">
                <i class="fa fa-shopping pull-left"></i>
                Retourner à la boutique
            </a>
        </div>
    </div>
{% endblock %}
