<div class="list-group list-group-flush">
    <a class="list-group-item list-group-item-action waves-effect">Sales
        <span class="badge badge-success badge-pill pull-right">22%
            <i class="fas fa-arrow-up ml-1"></i>
        </span>
    </a>
    <a class="list-group-item list-group-item-action waves-effect">Traffic
        <span class="badge badge-danger badge-pill pull-right">5%
            <i class="fas fa-arrow-down ml-1"></i>
        </span>
    </a>
    <a class="list-group-item list-group-item-action waves-effect">Products
        <span class="badge badge-primary badge-pill pull-right">{{ products_count }}</span>
    </a>
    <a class="list-group-item list-group-item-action waves-effect">Issues
        <span class="badge badge-primary badge-pill pull-right">123</span>
    </a>
    <a class="list-group-item list-group-item-action waves-effect">Messages
        <span class="badge badge-primary badge-pill pull-right">8</span>
    </a>
</div>