{% load i18n %}

<div class="card mt-2">
    <div class="card-body">
        <p class="font-weight-bold mb-4">{% trans "Variants" %}</p>

        <variant-section inline-template>
            <div class="form-group">
                <checkbox-submit-component @showfield="toggle" :checked="showvariantfields" 
                    :id="'id_variant'" :name="'has-variant'" :label="'Ce produit possède une taille'">
                </checkbox-submit-component>
                
                <div v-if="showvariantfields" class="form-group mt-3 mb-5">     
                    <addvariantcomponent @startadd="add" @startremove="remove" :variants="variants" />
                </div>
            </div>
        </variant-section>
    </div>
</div>
