{% extends "../base_create.html" %}
{% load i18n %}

{% block title %}
{% trans "Création d'une nouvelle collection" %}
{% endblock %}

{% block class %}collection-form{% endblock %}

{% block form_url %}{{ request.path }}{% endblock %}

{% block top_form_buttons %}
<div class="form-row">
	<div class="form-group col-12">
		<div>
			<submitformbutton />
		</div>
		<a href="{% url 'dashboard_products' %}" class="btn btn-large float-right white">Abandonner</a>
	</div>
</div>
{% endblock %}

{% block left_content %}
<!-- GENERAL -->
{% include "../../components/edit/base.html" with description_as_field=form.presentation_text %}

<!-- TYPE -->
{% include "../../components/edit/collections/conditions.html" %}
{% endblock %}

{% block right_content %}
<!-- IMAGE -->
<div class="card">
	<div class="card-body">
		<p class="font-weight-bold mb-4">{% trans "Image de la collection" %}</p>

		<div class="form-group">
			<div class="custom-file">
				<input type="file" name="image" class="custom-file-input" id="image">
				<label class="custom-file-label" for="image">{% trans "Choisir une image" %}</label>
			</div>
		</div>
	</div>
</div>
{% endblock %}
