{% extends "../create/base_create.html" %}
{% load i18n %}

{% block title %}{% trans "Modication de" %} {{ coupon.code }}{% endblock %}

{% block page_header %}
	<div class="col-12">
		<a href="{% url 'dashboard_coupons' %}">
			<i class="fa fa-arrow-left mr-2"></i>
			{% trans "Coupons" %}
		</a>
	</div>
	<div class="col-12 mb-1 mt-2">
		<h3 class="font-weight-bold">{{ coupon.code }}</h3>
	</div>
	<div class="col-12 mb-4 mt-1">
		<button class="btn btn-sm btn-primary ml-0">
			{% trans "Activer" %}
		</button>
		<button class="btn btn-sm btn-secondary">
			<i class="fa fa-link-open"></i>
			{% trans "Promouvoir" %}
		</button>
	</div>
{% endblock %}

{% block left_content %}
	<div class="card card-body">
		<div class="form-row">
			<div class="col-6">
				<p class="font-weight-bold mb-4">{% trans "Code promotionnel" %}</p>
			</div>
			<div class="col-6 text-right">
				<a href>{% trans "Générer une nouveau code" %}</a>
			</div>
		</div>
		{{ form.code }}
		<label class="text-muted mt-3" for="id_code">
			{% trans "L'utilisateur utilisera le code à l'écran final" %}
		</label>
	</div>

	<!-- TYPES -->
	<div class="card card-body mt-3">
		<p class="font-weight-bold mb-4">
			{% trans "Types" %}
		</p>
		
		{% comment %}
		<div class="form-input-check">
			<input type="radio" name="value_type" id="id_value_type" value="percentage" {% if form.value_type.value == "percentage" %}checked{% endif %}>
			<label for="id_value_type">
				{% trans "Pourcentage" %}
			</label>
		</div>
		<div class="form-input-check">
			<input type="radio" name="value_type" id="id_value_type" value="fixed amount" {% if form.value_type.value == "fixed amount" %}checked{% endif %}>
			<label for="id_value_type">
				{% trans "Valeur fixe" %}
			</label>
		</div>
		<div class="form-input-check">
			<input type="radio" name="value_type" id="id_value_type" value="free shipping" {% if form.value_type.value == "free shipping" %}checked{% endif %}>
			<label for="id_value_type">
				{% trans "Expédition gratuite" %}
			</label>
		</div>			
		{% endcomment %}

		<div class="form-row">
			<div class="col-5">
				<label for="id_value_type">{% trans "Le type de coupon" %}</label>
				{{ form.value_type }}
			</div>
		</div>
	</div>

	<!-- VALUE -->
	<div class="card card-body mt-3">
		<p class="font-weight-bold mb-4">
			{% trans "Valeur" %}
		</p>
		<div class="form-row">
			<div class="col-4">
				<label class="text-muted" for="id_value">
					{% trans "Valeur de la réduction" %}
				</label>
				{{ form.value }}
			</div>
		</div>

		<hr>

		<p class="font-weight-bold mb-4">
			{% trans "Champs d'application" %}
		</p>

		<div class="custom-control custom-radio">
			<input @click="onallorder=true,oncollection=false" type="radio" name="on_entire_order" class="custom-control-input" id="id_on_entire_order"  :checked="!oncollection" :value="oncollectionvalue">
			<label class="custom-control-label" for="id_on_entire_order">{% trans "Toute la commande" %}</label>
		</div>
		<div class="custom-control custom-radio">
			<input @click="onallorder=false,oncollection=true" type="radio" class="custom-control-input" id="id_on_entire_order1" :checked="!onallorder">
			<label class="custom-control-label" for="id_on_entire_order1">{% trans "Une collection spécifique" %}</label>
		</div>
		<div v-show="oncollection" class="form-group mt-2">
			<div class="form-row">
				<div class="col-6">
					{{ form.collection }}
				</div>
			</div>
		</div>
	</div>

	<!-- MINIMUM -->
	<div class="card card-body mt-3">
		<p class="font-weight-bold mb-4">{% trans "Minimum d'achat" %}</p>

		<div class="custom-control custom-radio">
			<input @click="nonevaluecheck=!nonevaluecheck,minimumvaluecheck=false,minimumquantitycheck=false" type="radio" class="custom-control-input" id="min_quantity">
			<label class="custom-control-label" for="min_quantity">{% trans "Aucun" %}</label>
		</div>
		<div class="custom-control custom-radio">
			<input @click="nonevaluecheck=false,minimumvaluecheck=true,minimumquantitycheck=false" type="radio" class="custom-control-input" id="min_quantity1">
			<label class="custom-control-label" for="min_quantity1">{% trans "Minimum en valeur (€)" %}</label>
		</div>
		<div class="custom-control custom-radio">
			<input @click="nonevaluecheck=false,minimumvaluecheck=false,minimumquantitycheck=true" type="radio" class="custom-control-input" id="min_quantity2">
			<label class="custom-control-label" for="min_quantity2">{% trans "Minimum en quantité" %}</label>
		</div>

		<div class="form-row">
			<div v-show="minimumvaluecheck" class="col-4">
				{{ form.minimum_purchase }}
			</div>
			<div v-show="minimumquantitycheck" class="col-4">
				{{ form.minimum_quantity }}
			</div>
		</div>
	</div>

	<!-- LIMITATIONS -->
	<div class="card card-body mt-3">
		<p class="font-weight-bold mb-4">{% trans "Limitations" %}</p>

		<div class="form-input-check">
			<input @click="showlimittotal=!showlimittotal" type="checkbox" id="limit_total">
			<label for="limit_total">{% trans "Limiter à un nombre d'utilisation totale" %}</label>
		</div>
		<div class="form-input-check">
			<input @click="showlimittobuyer=!showlimittobuyer" type="checkbox" id="id_limit_per_customer">
			<label for="id_limit_per_customer">{% trans "Limiter à une utilisation par acheteur" %}</label>
		</div>

		<div v-if="showlimittobuyer" class="form-row">
			<div class="col-4">
				{{ form.usage_limit }}
			</div>
		</div>
	</div>

	<!-- DATES -->
	<div class="card card-body mt-3">
		<p class="font-weight-bold mb-4">{% trans "Dates" %}</p>

		<div class="form-row">
			<div class="col-6">
				<div class="form-input-check">
					<label class="text-muted" for="">{% trans "Date de début" %}</label>
					{{ form.start_date }}
				</div>
			</div>
		</div>
		<div class="form-row mt-3">
			<div class="col-6">
				<div class="form-input-check">
					<label class="text-muted" for="">{% trans "Date de fin" %}</label>
					{{ form.end_date }}
				</div>
			</div>
		</div>
	</div>
{% endblock %}

{% block right_content %}
	<!-- SIDE -->
	<div class="card grey lighten-4">
		<div class="card-header">
			<h5>{% trans "Résumé" %}</h5>
		</div>
		<div class="card-body">
			<p class="font-weight-bold">{{ coupon.code }}</p>
			<ul>
				<li>[[ checkdiscountvalue ]]% off [[ collectiondisplaytext ]]</li>
				<li v-if="minimumvaluecheck">Minimum quantity of [[ fieldsdata.minimumquantity ]] items</li>
				<li v-if="minimumquantitycheck">Minimum purchase of [[ fieldsdata.minimumpurchase ]]€</li>
				<li v-if="showlimittobuyer | showlimittotal">
					<span v-if="showlimittotal">Limit of 15 uses<span v-if="showlimittobuyer & showlimittotal">,</span></span>
					<span v-if="showlimittobuyer">[[ fieldsdata.usage_limit ]] per customer</span>
				</li>
				<li>Active from today</li>
				<li>Active today</li>
			</ul>
		</div>
	</div>
{% endblock %}

{% block bottom_action_buttons %}
<hr>
<div class="col-12 mt-3 p-0">
	{% comment %}
    <a href="{% url 'dashboard_delete_product' product.id %}?next={% url 'dashboard_products' %}" class="btn btn-large red lighten-2 ml-0">
        {% trans "Delete" %}
    </a>		
	{% endcomment %}

    <button type="submit" class="btn btn-large float-right white mr-0">
        {% trans "Sauvegarder" %}
    </button>
</div>				
{% endblock %}
