{% extends "../../index.html" %}
{% load i18n %}

{% block title %}
    {% trans "Création d'un nouveau client" %}
{% endblock %}

{% block content %}
<div class="row wow fadeIn">
	<!-- ACTIONS -->
	<div class="col-12 pl-0">
        <div class="col-12">
            <a href=""><i class="fa fa-arrow-left mr-2"></i>{% trans "Clients" %}</a>
        </div>
        <div class="col-12 mb-1 mt-2">
            <h3 class="font-weight-bold">{% trans "Nouveau client" %}</h3>
        </div>
	</div>
	
	<div class="col-12">
		<form action="{{ post_to_view }}" method="POST" enctype="multipart/form-data" class="new-customer" id="general_form">
			{% csrf_token %}

			{% for error in form.errors %}
				<div class="alert alert-danger mb-4" role="alert">
					The <span class="font-weight-bold">{{ error }}</span> field in missing or is empty
				</div>
			{% endfor %}
			
			<div class="form-row">
                <div class="col-4">
                    <div class="card z-depth-0 transparent">
                        <div class="card-body">
                            <p class="font-weight-bold mb-4">
                                {% trans "Informations générales" %}
                            </p>
                        </div>
                    </div>

                    <div class="card z-depth-0 transparent">
                        <div class="card-body">
                            <p class="font-weight-bold mb-4">
                                {% trans "Adresse" %}
                            </p>
                            <p class="m-0">{% trans "Addresse du client" %}</p>
                        </div>
                    </div>

                    <div class="card z-depth-0 transparent">
                        <div class="card-body">
                            <p class="font-weight-bold mb-4">
                                {% trans "Notes" %}
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-8">
                    <div class="card">
                        <div class="card-body">
                            <div class="form-row">
                                <div class="col-6">
                                    <div class="form-group">
                                        <label for="id_name">{% trans "Prénom" %}</label>
                                        {{ form.name }}
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="form-group">
                                        <label for="id_surname">{% trans "Nom" %}</label>
                                        {{ form.name }}
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-group">
                                        <label for="id_surname">{% trans "Email" %}</label>
                                        {{ form.name }}
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-group">
                                        <label for="id_surname">{% trans "Téléphone" %}</label>
                                        {{ form.name }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <hr class="mt-4 mb-4">

                    <div class="card mt-3">
                        <div class="card-body">
                            <div class="form-row">
                                <div class="col-6">
                                    <div class="form-group">
                                        <label for="id_name">{% trans "Prénom" %}</label>
                                        {{ form.name }}
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="form-group">
                                        <label for="id_surname">{% trans "Nom" %}</label>
                                        {{ form.name }}
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-group">
                                        <label for="id_surname">{% trans "Compagnie" %}</label>
                                        {{ form.name }}
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-group">
                                        <label for="id_surname">{% trans "Adresse" %}</label>
                                        {{ form.name }}
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-group">
                                        <label for="id_surname">{% trans "Ville" %}</label>
                                        {{ form.name }}
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-group">
                                        <label for="id_surname">{% trans "Téléphone" %}</label>
                                        {{ form.name }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <hr class="mt-4 mb-4">

                    <div class="card mt-3">
                        <div class="card-body">
                            <div class="form-row">
                                <div class="col-12">
                                    <div class="form-group">
                                        <label for="id_name">{% trans "Notes" %}</label>
                                        {{ form.name }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
				</div>
            </div>
			
			<!-- ACTIONS -->
			{# {% include "../../components/create/actions_bottom.html" %} #}
		</form>
	</div>
	<div class="csrf">{% csrf_token %}</div>
</div>
{% endblock %}