{% extends "../base_create.html" %}
{% load i18n %}

{% block title %}Création d'un nouveau produit{% endblock %}

{% block class %}new-product{% endblock %}

{% block top_form_buttons %}
	<div class="form-row">
		<div class="form-group col-12">
			<div>
				<submitformbutton v-bind:images="images" />
			</div>
			<a href="{% url 'dashboard_products' %}" class="btn btn-large float-right white">Abandonner</a>
		</div>
	</div>
{% endblock %}

{% block left_content %}
	<!-- GENERAL -->
	{% include "../../components/edit/base.html" %}

	<!-- MEDIA -->
	{# {% include "../../components/edit/media.html" %} #}

	<!-- PRIX -->
	{% include "../../components/edit/price.html" %}

	<!-- INVENTORY -->
	{% include "../../components/edit/inventory.html" %}

	<!-- VARIANTS -->
	{% include "../../components/edit/variants.html" %}

	<!-- MODALS -->
	{% include "../../components/others/modals/margin.html" %}
{% endblock %}

{% block right_content %}
	<!-- SIDE -->
	{% include "../../components/edit/side.html" %}
{% endblock %}

{% block vuejs_scripts %}
	{{ block.super }}
	<!-- CALCULATOR -->
	{% include "../../vue/create/calculator.html" %}
{% endblock %}
