{% extends "../../index.html" %}

{% block title %}Création d'un nouveau produit{% endblock %}

{% block content %}
<div class="row wow fadeIn">
    <div class="col-9 mb-3">
        <div class="card">
            <div class="card-body">
                <form>
                    <div class="form-row" id="image_url_app">
                        <div class="col-8">
                            <inputimagefield />
                        </div>
                        <div class="col-4 text-center">
                            <button class="btn btn-sm m-0">Utiliser</button>
                        </div>
                    </div>
                </form> 
            </div>
        </div>
    </div>

    <div class="col-md-9">
        <div class="card">
            <div class="card-body">
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}

                    {% for error in form.errors %}
                        <div class="alert alert-danger mb-4" role="alert">
                            The <span class="font-weight-bold">{{ error }}</span> field in missing or is empty
                        </div>
                    {% endfor %}
                
                    <div class="form-row">
                        <div class="col-9">
                            {{ form.name }}
                        </div>
                        <div class="col-3">
                            {{ form.reference }}
                        </div>
                    </div>

                    <div class="form-row mt-3">
                        <div class="col-3">
                            {{ form.price_ht }}
                        </div>
                        <div class="col-3">
                            {{ form.price_valid_until }}
                        </div>
                    </div>

                    <div class="form-row mt-3">
                        <div class="col-4">
                            {{ form.gender }}
                        </div>
                        <div class="col-4">
                            {{ form.collection }}
                        </div>
                    </div>
                    
                    <div class="form-row mt-3" id="form_app">
                        <div class="form-input col-12 mb-3">
                            <checkboxcomponent />
                        </div>

                        <div class="form-input col-6 d-none" id="size-selection">
                            {{ form.clothe_size }}
                        </div>
                    </div>
                
                    {% include "../../components/others/form_button.html" with btn_name="Valider" position="float-right" %}
                </form>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card">
            <div class="card-body">
                <img src="https://via.placeholder.com/800" alt="product-image" class="img-fluid" id="product-image">  
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block vuejs_scripts %}
    <script>
        var inputimagefield = {
            template: "\
            <input @change='showimage' v-model='image' type='url' name='image-url'\
                     class='form-control' id='image-url' placeholder='URL de l\"image'>\
            ",
            data() {
                return {
                    image: ""
                }
            },
            methods: {
                showimage: function() {
                    $("#product-image").attr("src", this.$data.image)
                }
            }
        }

        var imageuploadapp = new Vue({
            el: "#image_url_app",
            components: {inputimagefield}
        })
    </script>

    <script>
        var checkboxcomponent = {
            template: "\
            <div class='form-check'>\
                <input @change='showsize' class='form-check-input' \
                                type='checkbox' value='' id='has-size'>\
                <label class='form-check-label' for='has-size'>\
                    Ce produit possède une taille\
                </label>\
            </div>\
            ",
            methods: {
                showsize: function() {
                    $("#size-selection").toggleClass("d-none")
                }
            }
        }
        
        var formapp = new Vue({
            el: "#form_app",
            components: {checkboxcomponent},
            data() {
                return {
                    show: false
                }
            },
            methods: {
                showinput: function() {
                    this.$data.show = !this.$data.show
                }
            }
        })
    </script>
{% endblock %}
