{% load static aws_images %}

<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv="x-ua-compatible" content="ie=edge">

        <title>{% block title %}{% endblock %}</title>

        <!-- META -->
        <meta name="author" content="{% block author %}{% endblock %}" />

        <meta name="theme-color" content="{% block theme_color %}{% endblock %}"/>
        <meta name="description" content="{% block description %}{% endblock %}">
        
        <meta name="twitter:card" content="{% block twitter_card %}{% endblock %}" />
        <meta name="twitter:site" content="{% block twitter_handle %}{% endblock %}" />
        <meta name="twitter:creator" content="" />

        <meta property="og:url" content="{{ request.build_absolute_uri }}" />
        <meta property="og:type" content="website" />
        <meta property="og:title" content="{% block og_title %}{% endblock %}" />        
        <meta property="og:description" content="{% block og_description %}{% endblock %}" />
        <meta property="og:image" content="{% block og_image %}{% endblock %}" />            

        <meta property="og:image:type" content="image/jpeg" />
        <meta property="og:image:height" content="1200">
        <meta property="og:image:width" content="800">
        <meta property="og:image:alt" content="{% block og_image_alt %}{% endblock %}" />

        <meta property="keywords" content="{% block meta_keywords %}{% endblock %}">

        {% block extra_metatags %}{% endblock %}
        
        <!-- Structured -->
        {% block structured_data %}
            {% include "scripts/seo/organization.html" %}
        {% endblock %}

        <!-- FONT AWESOME -->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
        {% include "project_components/font_awesome_kit.html" with name="" %}

        <!-- BOOTSTRAP -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" 
            integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" 
                crossorigin="anonymous">
        
        <!-- GOOGLE FONT ICONS -->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        
        <!-- MATERIAL DESIGN BOOTSTRAP -->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.1/css/mdb.min.css" rel="stylesheet">

        <!-- CUSTOM CSS -->
        {% block extra_css %}{% endblock %}

        <link rel="alternate" href="mywebsite.fr" hreflang="fr-fr" />

        <script>window.dataLayer = window.dataLayer || []</script>
        {% block datalayer_push %}{% endblock %}
        
        {% block analytics %}{% endblock %}
    </head>
    
    <body class="{% block body_color %}{% endblock %}">
        {% block extra_analytics %}{% endblock %}
        
        <div id="vue_app">
            <!-- NAVBAR -->
            {% block navbar %}{% endblock %}
    
            {% block main %}{% endblock %}
        </div>

        <!-- Footer -->
        {% block footer %}{% endblock %}

        <!-- Scripts -->
        {% include "scripts/base.html" %}

        {% block extra_scripts %}{% endblock %}

        {% block vuejs_scripts %}{% endblock %}

        <!-- Chat -->
        {% block chat %}{% endblock %}
    </body>
</html>
