{% extends 'base.html' %}
{% load static analytics_tags %}

{% block theme_color %}#484848{% endblock %}

{% block extra_css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="{% static 'nav.css' %}">
    <link rel="stylesheet" href="{% static 'css/dropdowns.css' %}">
{% endblock %}

{% block analytics %}
    <!-- Clarity -->
    {% clarity tag="342254" %}
    <!-- Google Tag Manager -->
    {% google_tag_manager "GTM-XXX" %}
    <!-- Google Analytics -->
    {% google_analytics "UA-XXX" "UA-XXX" %}
    <!-- Facebook -->
    {% facebook "343545345322423" %}
{% endblock %}

{% block extra_analytics %}
    <!-- Google Optimize -->
    {# {% google_optimize_anti_flicker "GTM-XXX" %} #}
    <!-- Google Analytics -->
    {% google_no_script "GTM-XXX" %}
    <!-- Facebook Pixels -->
    {% block facebook_event %}{% endblock %}
{% endblock %}

{% comment %}
<div class="top-banner sales-policies green">
    <div class="container">
        <div class="row">
            <div class="col-4">A</div>
            <div class="col-4">B</div>
            <div class="col-4">C</div>
        </div>
    </div>
</div>
{% endcomment %}

{% block main %}
    <div class="container dark-grey-text mt-5">
        {% for message in messages %}
            <div class="alert {% if message.tags %}{{ message.tags }}{% else %}alert-info{% endif %} alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endfor %}

        {% block container %}{% endblock %}
    </div>
{% endblock %}
