{% extends 'base.html' %}
{% load static %}

{% block theme_color %}#484848{% endblock %}

{% block extra_css %}
    {{ block.super }}
    <link href="{% static 'style.css' %}" rel="stylesheet">
    <link href="{% static 'nav.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/dropdowns.css' %}">
{% endblock %}

{% block analytics %}
    
{% endblock %}

{% block extra_analytics %}
    <!-- Facebook Pixels -->
    {% block facebook_event %}{% endblock %}
{% endblock %}

{% comment %}
<div class="top-banner sales-policies green">
    <div class="container">
        <div class="row">
            <div class="col-4">A</div>
            <div class="col-4">B</div>
            <div class="col-4">C</div>
        </div>
    </div>
</div>
{% endcomment %}

{% block main %}
    <div class="container dark-grey-text mt-5">
        {% for message in messages %}
            <div class="alert {% if message.tags %}{{ message.tags }}{% else %}alert-info{% endif %} alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endfor %}

        {% block container %}{% endblock %}
    </div>
{% endblock %}
