{% extends "layouts/edit.html" %}
{% load i18n %}

{% block title %}{% trans "Mise à jour de" %} {{ product.name }}{% endblock %}

{% block class %}new-product{% endblock %}

{% block extra_css %}
	<link href="https://cdn.quilljs.com/1.0.0/quill.snow.css" rel="stylesheet">
	
	<style>
		#editor {
			height: 275px;
		}
	</style>
{% endblock %}

{% block page_header %}
	<div class="col-12 mb-1">
		<div class="row">
			<div class="col-6">
				{% if return_to_search %}
					<a href="{% url 'dashboard:search' %}?s={{ return_to_search|escape }}" class="text-muted">
						<fa class="fa fa-arrow-left mr-2"></fa>
						{% trans "Produits" %}
					</a>
				{% else %}
					<a href="{% url 'dashboard:products:home' %}" class="text-muted">
						<fa class="fa fa-arrow-left mr-2"></fa>
						{% trans "Produits" %}
					</a>
				{% endif %}
			</div>

			<div class="col-6 text-right">
				<a href="{{ previous_product }}" class="text-muted">
					<fa class="fa fa-arrow-left"></fa>
				</a>
				<a href="{{ next_product }}" class="text-muted" {% if disable_next %}disabled{% endif %}>
					<fa class="fa fa-arrow-right ml-4"></fa>
				</a>
			</div>
		</div>
	</div>

	<div class="col-12 mb-4">
		<div class="row">
			<div class="col-auto">
				<h3 class="m-0">{{ product.name }}</h3>
			</div>
		</div>

		<!-- Actions -->
		{% include "components/edit/actions/secondary.html" %}
	</div>
{% endblock %}

{% block left_content %}
	<!-- Base -->
	{% include "components/edit/titles.html" %}

	<!-- Media -->
	{# {% include "components/edit/product/media.html" %} #}
	{% include "components/edit/product/media2.html" %}

	<!-- Prix -->
	{% include "components/edit/product/price.html" %}

	<!-- Inventory -->
	{% include "components/edit/product/inventory.html" %}

	<!-- Variants -->
	{% include "components/edit/product/variants.html" %}

	<!-- Modals -->
	{% include "includes/modals/margin.html" %}
{% endblock %}

{% block right_content %}
	<!-- Side -->
	{% include "components/edit/product/side.html" %}
{% endblock %}

{% block bottom_form_buttons %}
	<!-- Actions -->
	{% include "components/edit/actions/bottom.html" with delete_url="dashboard:products:delete" item_id=product.id next_url="dashboard:products:home" %}
{% endblock %}

{% block vuejs_scripts %}
	{{ block.super }}

	{{ vue_product|json_script:"vue_product" }}
	{{ vue_other_images|json_script:"vue_other_images" }}

	<script>
		var product = JSON.parse($("#vue_product").text())
		var otherimages = JSON.parse($("#vue_other_images").text())
	</script>

	<!-- Sections -->
	{% include "vue/create/product/base.html" %}
	<!-- Editor -->
	{# {% include "vue/create/quill.html" %} #}
	<!-- Form -->
	{% include "vue/create/form.html" %}

	<!-- Duplication -->
	{% include "vue/create/others/duplicate.html" %}
	<!-- Calculator -->
	{% include "vue/create/others/calculator.html" %}
{% endblock %}
