{% extends "pages/profile/base.html" %}
{% load i18n %}

{% block title %}{% trans "Changer le mot de passe" %}{% endblock title %}

{% block profile_content %}
    <div class="card">
        <div class="card-header">
            <h3>{% trans "Changer le mot de passe" %}</h3>
        </div>
        
        <div class="card-body">
            <p>
                <i class="fa fa-lock fa-1x mr-2"></i>
                {% trans "N'hésitez pas à mettre à jour votre mot de passe pour que votre compte soit toujours sécurisé" %}
            </p>
            
            <form-component id="'change-passowrd'" position="0">
                <slot>
                    {% for field in form %}
                    <div class="form-group">
                        {{ field }}
                    </div>
                    {% endfor %}
                </slot>
            </form-component>
        </div>
    </div>
{% endblock %}

{% block vuejs_scripts %}
    {% include "vue/global.html" %}
    {% include "vue/profile.html" %}
{% endblock %}
