{% extends "pages/profile/base.html" %}
{% load i18n %}

{% block title %}{% trans "Changer mon mot de passe" %}{% endblock title %}

{% block profile_content %}
    <div class="card">
        <div class="card-body">
            <form-component id="'change-passowrd'" position="0">
                <slot>
                    {% for field in form %}
                    <div class="form-group">
                        {{ field }}
                    </div>
                    {% endfor %}
                </slot>
            </form-component>
        </div>
    </div>
{% endblock %}

{% block vuejs_scripts %}
    {% include "vue/global.html" %}
    {% include "vue/profile.html" %}
{% endblock %}
