{% extends "pages/profile/base.html" %}
{% load i18n %}

{% block title %}{% trans "Mes données" %}{% endblock %}

{% block profile_content %}
    <div class="card">
        <div class="card-header">
            <h3>
                {% blocktrans %}
                    Gérer les comptes connectés
                {% endblocktrans %}
            </h3>
        </div>

        <div class="card-body">
            <ul class="list-group">
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <span>
                        <i class="fab fa-google"></i>
                        Google
                    </span>
                    <button class="btn btn-sm btn-outline-primary z-depth-0 disabled">{% trans "Se déconnecter" %}</button>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <span>
                        <i class="fab fa-twitter"></i>
                        Twitter
                    </span>
                    <button class="btn btn-sm btn-outline-primary z-depth-0 disabled">{% trans "Se déconnecter" %}</button>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <span>
                        <i class="fab fa-linkedin"></i>
                        Linkedin
                    </span>
                    <button class="btn btn-sm btn-outline-primary z-depth-0 disabled">{% trans "Se déconnecter" %}</button>
                </li>
            </ul>
        </div>
    </div>

    <div class="card mt-3">
        <div class="card-body">
            <p>
                {% blocktrans %}
                    Si vous ne souhaitez plus avoir de compte chez nous, vous pouvez utiliser le lien ci-dessous.
                {% endblocktrans %}
            </p>
        </div>
        <div class="card-footer text-right">
            <a class="btn btn-sm btn-danger" data-toggle="modal" data-target="#delete-account">
                <i class="fa fa-stop mr-3"></i>
                {% trans "Supprimer mon compte" %}
            </a>
        </div>
    </div>

    <!-- MODALS -->
    {% include "components/others/modals/delete_account.html" with modal_title="Suppréssion de votre compte" %}
{% endblock profile_content %}
