{% extends "pages/profile/base.html" %}
{% load i18n %}

{% block title %}{% trans "Mon compte" %}{% endblock %}

{% block profile_content %}
    <div class="card">
        <div class="card-body">
            <form-component id="base" position="0">
                <slot>
                    {% for field in form1 %}
                        <div class="form-group">
                            {{ field }}
                        </div>
                    {% endfor %}
                </slot>
            </form-component>
        </div>
    </div>

    <div class="card mt-3">
        <div class="card-body">
            <form-component id="profile" position="1">
                <slot>
                    {% for field in form2 %}
                        <div class="form-group">
                            {{ field }}
                        </div>
                    {% endfor %}
                </slot>
            </form-component>
        </div>
    </div>
{% endblock %}

{% block vuejs_scripts %}
    {% include "vue/global.html" %}
    {% include "vue/profile.html" %}
{% endblock %}
