<script>
    (function() {
        var paymentRequest = stripe.paymentRequest({
            country: "FR",
            currency: "eur",
            total: {
                label: "Demo total",
                amount: "{{ cart_total }}",
            },
            requestPayerName: true,
            requestPayerEmail: true,

            // requestShipping: true,
            // shippingOptions: [
            //     // The first shipping option in this list appears as the default
            //     // option in the browser payment interface.
            //     {
            //         id: "standard",
            //         label: "Standard",
            //         detail: 'Arrives in 5 to 7 days',
            //         amount: {{ cart_total }},
            //     },
            // ],
        });

        var elements = stripe.elements();
        var prButton = elements.create("paymentRequestButton", {
            paymentRequest: paymentRequest,
            style: {
                paymentRequestButton: {
                    type: 'default',
                    // One of 'default', 'book', 'buy', or 'donate'
                    // Defaults to 'default'

                    theme: 'light',
                    // One of 'dark', 'light', or 'light-outline'
                    // Defaults to 'dark'

                    height: '64px'
                    // Defaults to '40px'. The width is always '100%'.
                },
            },
        });

        // Check the availability of the Payment Request API first.
        paymentRequest.canMakePayment().then(function (result) {
            if (result) {
                prButton.mount("#payment-request-button");
            } else {
                document.getElementById("payment-request-button").style.display = "none";
            }
        });

        paymentRequest.on('paymentmethod', function (ev) {
            // Confirm the PaymentIntent without handling potential next actions (yet).
            stripe.confirmCardPayment(
                clientSecret,
                { payment_method: ev.paymentMethod.id },
                { handleActions: false }
            ).then(function (confirmResult) {
                if (confirmResult.error) {
                    // Report to the browser that the payment failed, prompting it to
                    // re-show the payment interface, or show an error message and close
                    // the payment interface.
                    ev.complete('fail');
                } else {
                    // Report to the browser that the confirmation was successful, prompting
                    // it to close the browser payment method collection interface.
                    ev.complete('success');
                    // Let Stripe.js handle the rest of the payment flow.
                    stripe.confirmCardPayment(clientSecret).then(function (result) {
                        if (result.error) {
                            // The payment failed -- ask your customer for a new payment method.
                        } else {
                            // The payment has succeeded.
                        }
                    });
                }
            });
        });
    })()
</script>
