{% load i18n nodes_plus %}

<script>
    Vue.component("sorting-component", {
        props: {
            products: {
                type: Array,
                required: true
            }
        },
        delimiters: ["[[", "]]"],
        data() {
            return {
                items: [
                    "{% trans 'Nom' %}",
                    "{% trans 'Prix croissant' %}",
                    "{% trans 'Prix décroissant' %}",
                    "{% trans 'Les mieux notés' %}",
                ],
                selectedsort: 0
            }
        },
        computed: {
            byprice() {
                if (this.selectedsort === 1) {
                    return this.bypricehigh
                } else if (this.selected === 2) {
                    return this.bypricelow
                }  else {
                    return this.byname
                }
            },
            bypricehigh() {
                return this.byname.sort((a, b) => {
                    return b.price - a.price
                })
            },
            bypricelow() {
                return this.byname.sort((a, b) => {
                    return a.price - b.price
                })
            },
            byname() {
                if (this.selectedsort === 0) {
                    return _.sortBy(this.list, ["name"])
                } else {
                    return this.list
                }
            },
            list() {
                return this.$props.products
            }
        },
        methods: {
            dosort: function (sortedproducts) {
                this.$emit("dosort", sortedproducts)
            }
        }
    })

    Vue.component("card-component", {
        props: ["products"],
        name: "ProductCard",
        delimiters: ["[[", "]]"],
        methods: {
            senddatalayer: function (name, price, slug) {
                dataLayer.push(
                    {
                        event: "LinkClick",
                        product: {
                            name: name,
                            price: price,
                            slug: slug
                        }
                    }
                )
            }
            // gotopage: function () {
            //     this.senddatalayer()
            // }
        },
        filters: {
            euro: function (value) {
                return `${value}€`
            }
        }
    })
</script>

<script>
    var products = new Vue({
        el: "#app",
        name: "Products",
        delimiters: ["[[", "]]"],
        data() {
            return {
                products: [],
                sortedproducts: [],
                // selected: "Nom",
                // selectedcolor: "Black",
                colors: [],
                gridtype: 0
            }
        },
        beforeMount() {
            this.products = JSON.parse('{{ vue_products|safe }}')

            var colors = []
            _.forEach(this.products, (product) => {
                product["price"] = product["price"] * 1
                product["price_pre_tax"] = product["price_pre_tax"] * 1
                product["discounted_price"] = product["discounted_price"] * 1

                _.forEach(product.images, (image) => {
                    colors.push(image.variant)
                })
            })
            this.colors = _.uniq(colors)
        },
        computed: {
            list() {
                return this.sortedproducts.length > 0 ? this.sortedproducts : this.products
            },
            griddisplay() {
                if (this.gridtype === 0) {
                    return 3
                }

                if (this.gridtype === 1) {
                    return 4
                }
            }
        },
        methods: {
            applysort: function (products) {
                this.sortedproducts = products
            },
            togglegrid: function () {
                if (this.gridtype === 0) {
                    this.gridtype = 1
                } else {
                    this.gridtype = 0
                }
            }
        }
    })

</script>
