{% load i18n static %}

<script>
    var reviewcomponent = {
        props: {
            product: {
                type: Object,
                required: true
            },
            isauthenticated: {
                type: Boolean,
                required: true
            }
        },
        name: "Review",
        delimiters: ["[[", "]]"],
        data() {
            return {
                scores: [],
                showfields: false,
                reviewdata: {score: 1},
                validated: false,
                alertmessage: null
            }
        },
        beforeMount() {
            for (i = 1; i < 5; i++) {
                this.scores.push(i)
            }
        },
        computed: {
            validity() {
                return {
                    "alert-danger": !this.validated,
                    "alert-info": this.validated
                }
            }
        },
        methods: {
            sendreview: function () {
                var data = new FormData()
                _.forEach(Object.keys(this.reviewdata), (key) => {
                    data.append(key, this.reviewdata[key])
                })
                
                fetch("{% url 'shop:new_review' product.id %}", {
                    method: "POST",
                    headers: {
                        "X-CSRFToken": "{{ csrf_token }}"
                    },
                    credentials: "same-origin",
                    body: data
                })
                .then((response) => {
                    response.json().then((data) => {
                        this.validated = data.state
                        this.alertmessage = data.message
                        this.showfields = false
                        dataLayer.push(
                            {
                                event: "Review",
                                product: {
                                    reference: "{{ product.reference }}",
                                    name: "{{ product.name }}",
                                    score: this.reviewdata.score
                                }
                            }
                        )
                    })
                })
                .catch((error) => {
                    console.log(error)
                })
            }
        }
    }
</script>

<script>
    Vue.component("custom-button", {
        props: ["id", "size", "color", "disabled"],
        name: "Button",
        template: `
        <transition name="cart_button">
            <button @click="startaction" v-if="!disabled" 
                    class="btn btn-primary my-0" :class="size, color" :id="id"
                        role="button">
                <slot></slot>
            </button>

            <button v-else :class="size, color" :id="id" 
                    class="btn btn-primary my-0 disabled" role="button">
                <slot></slot>
            </button>
        </transition>
        `,
        methods: {
            startaction: function () {
                this.$emit("startaction")
            }
        }
    })
</script>

<script>
    var selectormixins = {
        delimiters: ["[[", "]]"],
    }

    var colorselector = {
        props: ["colors"],
        mixins: [selectormixins],
        template: `
        <select @change="selectcolor()" v-model="selectedcolor" 
                class="custom-select custom-select-md mb-3" 
                    role="listbox" aria-label="{% trans 'Select color' %}">
            <option v-for="color in colors" :key="color.name" :value="color.value">
                [[ color.name ]]
            </option>
        </select>
        `,
        data() {
            return {
                selectedcolor: null
            }
        },
        mounted() {
            var first = _.first(this.$props.colors)
            this.selectedcolor = first.name
        },
        computed: {
            hascolors() {
                var istrue = this.$props.colors.length > 0
                if (!istrue) {
                    this.selectedcolor = "Couleur unique"
                }
                return {
                    "disabled": istrue ? false : true,
                }
            }
        },
        methods: {
            selectcolor: function () {
                this.$emit("selectcolor", "color", this.selectedcolor)
            }
        }
    }

    var sizeselector = {
        props: ["sizes"],
        mixins: [selectormixins],
        template: `
        <select @change="selectsize()" v-model="selectedsize" 
                v-show="hassizes" class="custom-select custom-select-md mb-3"
                    role="listbox" aria-label="{% trans 'Select size' %}">
            <option v-for="size in sizes" :key="size.id" :value="size.name">
                [[ size.name ]]
            </option>
        </select>
        `,
        data() {
            return {
                selectedsize: null
            }
        },
        computed: {
            hassizes() {
                return this.$props.sizes.length > 0 ? true : false
            }
        },
        mounted() {
            var first = _.first(this.$props.sizes)
            this.selectedsize = first.name
        },
        methods: {
            selectsize: function () {
                this.$emit("selectsize", "size", this.selectedsize)
            }
        }
    }
</script>

<script>
    Vue.component("side-images", {
        props: ["images"],
        name: "SideImages",
        data() {
            return {
                selectedimage: 0
            }
        },
        methods: {
            showimage: function (image, index) {
                this.selectedimage = index
                this.$emit("showimage", image)
            }
        }
    })

    Vue.component("main-image", {
        props: ["image"],
        name: "MainImage"
    })

    var imagemixin = {
        props: ["image"],
        template: `
        <img :src="image.url" class="img-fluid" alt="{{ product.slug }}">
        `
    }

    var thirdslide = {
        name: "SlideC",
        mixins: [imagemixin]
    }

    var secondslide = {
        name: "SlideB",
        mixins: [imagemixin]
    }

    var firstslide = {
        name: "SlideA",
        mixins: [imagemixin]
    }

    var mobileslider = {
        props: ["images"],
        name: "MobileSlider",
        components: {
            "first-slide": firstslide,
            "second-slide": secondslide,
            "third-slide": thirdslide
        },
        data() {
            return {
                cursor: 0,
                maxslides: 0,
                slides: ["first-slide", "second-slide", "third-slide"]
            }
        },
        beforeMount() {
            this.maxslides = this.$props.images.length
        },
        computed: {
            currentslide() {
                return this.slides[this.cursor]
            },
            currentimage() {
                return this.$props.images[this.cursor]
            }
        },
        methods: {
            gotoprevious: function () {
                var nextvalue = this.cursor - 1
                if (nextvalue < 0) {
                    // this.cursor = 0
                    this.gotonext()
                } else {
                    this.cursor = nextvalue
                }
            },
            gotonext: function (method) {
                var nextvalue = this.cursor + 1
                if (this.cursor === this.maxslides - 1) {
                    this.cursor = 0
                } else {
                    this.cursor = nextvalue
                }
            }
        }
    }
</script>

<script>
    Vue.component("dropdown-cart", {
        props: ["clicked"]
    })
</script>

<script>
    var addtolikes = {
        props: ["product", "details", "likesdisabled"],
        name: "AddToLikes",
        delimiters: ["[[", "]]"],
        template: `
        <custom-button @startaction="addproduct" :method="'like'" 
                id="'btn_add_to_likes'" :size="'btn-sm red lighten-1'" 
                        :disabled="disabled">
            <i class="fas fa-heart ml-1 text-white"></i>
        </custom-button>        
        `,
        data() {
            return {
                disabled: false
            }
        },
        beforeMount() {
            if (this.$props.likesdisabled === "True") {
                this.disabled = true
            } else {
                this.disabled = false
            }
        },
        methods: {
            addproduct: function () {
                fetch("{% url 'shop:like' product.id %}", {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json",
                        "X-CSRFToken": "{{ csrf_token }}"
                    },
                    credentials: "same-origin"
                })
                .then((response) => {
                    response.json().then((data) => {
                        if (data.state) {
                            dataLayer.push({
                                "event": "ProductLike",
                                "product": {
                                    "reference": "{{ product.reference }}",
                                    "name": "{{ product.name }}",
                                    "price": "{{ product.get_price }}"
                                }
                            })
                            this.disabled = true
                        } else {
                            window.location.href = data.redirect_url
                        }
                    })
                })
                .catch((error) => {
                    console.error(error)
                })
            }
        }
    }

    var buttonactions = {
        props: ["product", "details", "disabled", "likesdisabled"],
        name: "ProductActions",
        components: {
            "add-to-likes": addtolikes
        },
        delimiters: ["[[", "]]"],
        template: `
        <form onsubmit="return false;" class="d-flex">
            <input v-model.number="quantity" type="number" min="1" max="99"
                    aria-label="choose quantity" class="form-control" style="width: 100px">

            <custom-button @startaction="addtocart" :method="'cart'" 
                    :id="'btn_add_to_cart'" :size="'btn-md'" :disabled="disabled">
                {% trans "Ajouter au panier" %}
            </custom-button>

            <add-to-likes :product="product" :details="details" :likesdisabled="likesdisabled" />
        </form>
        `,
        data() {
            return {
                quantity: 1
            }
        },
        computed: {
            disablebutton() {
                var isinstock = "{{ product.in_stock }}"
                return isinstock === "True" ? false : true
            }
        },
        methods: {
            sendanalytics: function() {
                dataLayer.push({
                    "event": "AddToCart",
                    "ecommerce": {
                        "currencyCode": "EUR",
                        "add": {
                            "products": [{
                                "id": "{{ product.reference }}",
                                "name": "{{ product.name }}",
                                "price": "{{ product.get_price }}",
                                "brand": "Nawoka",
                                "category": "{{ product.collection.gender }}/{{ product.collection.name }}",
                                "variant": "{{ product.images.first.variant }}",
                                "position": 0,
                                "quantity": this.quantity || 1
                            }]
                        }
                    }
                })
            },
            addtocart: function() {
                var self = this
                var formdata = new FormData()

                formdata.append("quantity", this.quantity)

                _.forEach(Object.keys(this.$props.details), (key) => {
                    formdata.append(key, this.$props.details[key])
                })

                fetch(window.location.href, {
                    method: "POST",
                    headers: {
                        "X-CSRFToken": "{{ csrf_token }}"
                    },
                    credentials: "same-origin",
                    body: formdata
                })
                .then((response) => {
                    response.json().then((data) => {
                        if (!data.state) {
                            window.location.reload()
                        } else {
                            self.$emit("addtocart")
                        }
                    })
                })
                .catch((error) => {
                    console.log(error)
                })
            }
        }
    }

    var cartactionsinterface = {
        props: ["product", "colors", "sizes", "isdisabled"],
        name: "ActionsInterface",
        components: {
            "color-selector": colorselector,
            "size-selector": sizeselector,
            "button-actions": buttonactions,
        },
        data() {
            return {
                cliked: false,
                details: {
                    color: null,
                    size: null
                },
                likesdisabled: Boolean("{{ has_liked }}")
            }
        },
        beforeMount() {
            this.details.color = _.first(this.$props.colors).name
        },
        methods: {
            doselection: function (method, item) {
                this.details[method] = item
            },
            cartbuttonclicked: function () {
                this.clicked = true
                setTimeout(() => {
                    this.clicked = false
                }, 3000);
            }
        }
    }
</script>

<script>
    var productapp = new Vue({
        el: "#vue_app",
        name: "Product",
        delimiters: ["[[", "]]"],
        components: {
            "mobile-slider": mobileslider,
            "cart-actions-interface": cartactionsinterface,
            "review-component": reviewcomponent
        },
        data() {
            return {
                product: {},
                colors: [],
                sizes: [],
                images: [],
                currentindex: 0,

                selectedimage: null,

                averageproductrating: "{{ reviews_avg.rating__avg }}",
            }
        },
        beforeMount() {
            var images = product.images
            var colors = []
    
            this.images = images
            this.selectedimage = images[0]
            if (images.length > 0) {
                _.forEach(images, (image) => {
                    image["url"] = `{% get_media_prefix %}${image.url}`
                    colors.push(
                        {
                            name: image.variant,
                            value: image.variant,
                            url: `{% get_media_prefix %}${image.url}`
                        }
                    )
                })
                this.colors = _.uniqBy(colors, "value")
            }
    
            var initialsizes = []
            var variants = product.variant
            if (variants.length > 0) {
                _.forEach(variants, (variant) => {
                    this.$data.sizes.push(
                        { id: variant.pk, name: variant.name, value: variant.name }
                    )
                })
            } else {
                this.sizes = [
                    {id: 1, name: "Taille unique", value: "Taille unique"}
                ]
            }
    
            this.product = product
        },
        computed: {
            isdisabled() {
                return this.instock ? false : true
            },
            instock() {
                return this.product.in_stock ? true : false
            },
            isauthenticated() {
                return Boolean("{{ request.user.is_authenticated }}")
            }
        },
        methods: {
            display: function(image) {
                this.selectedimage = image
            }
        }
    })    
</script>
