{% load i18n %}

{% if product.active %}
    <cart-actions-interface :product="product" :colors="colors" :sizes="sizes" :isdisabled="isdisabled" inline-template>
        <div class="product-actions">
            <div class="details-selection">
                <div class="form-group">
                    <color-selector @selectcolor="doselection" :colors="colors" />
                </div>
        
                <div class="form-group">
                    <size-selector @selectsize="doselection" :sizes="sizes" />
                </div>
        
                <!-- SIZE -->
                <div class="delivery mt-3 mb-3">
                    <a href="{% url 'shop:size_guide' %}" target="_blank">
                        {% trans "Guide des tailles" %}**
                    </a>
                </div>                    
            </div>
            
            <div class="actions">
                <button-actions @addtocart="cartbuttonclicked"
                    :product="product" :details="details" 
                        :disabled="isdisabled" :likesdisabled="'{{ has_liked }}'" />
            </div>
        </div>
    </cart-actions-interface>


    {% comment %}
        <!-- ONE CLICK -->
        <div class="one-click mt-3">
            <a href class="font-weight-bold text-muted" data-toggle="modal"
                data-target="#one_click_payments">{% trans "Je souhaite l'acheter immédiatement" %}**</a>
            {% include "components/others/one_click.html" %}
        </div>        
        <div class="csrf">{% csrf_token %}</div>
    {% endcomment %}
{% else %}
    <div class="card">
        <div class="card-body red lighten-1 text-white text-center font-weight-bold">
            {% trans "Ce produit n'est pas actif" %}
        </div>
    </div>
{% endif %}
