<div class="col-12" id="reviews">
    <div class="card">
        <div class="card-header grey lighten-4 bg-primary text-uppercase">Reviews</div>
        <div class="card-body">
            <div class="review">
                <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
                <meta itemprop="datePublished" content="01-01-2016">January 01, 2018

                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>

                by Paul Smith
                <p class="blockquote">
                    <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                </p>
                <hr>
            </div>
        </div>
    </div>
</div>
